AOS.DataAccesslayer/Service References/Archive82/Archive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Archive.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDefaultArchiveListResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="Credentials" nillable="true" type="tns:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="CreateDefaultArchiveListResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArchiveListResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="RowCount" type="xs:int" />
          <xs:element minOccurs="0" name="Rows" nillable="true" type="tns:ArrayOfArchiveListItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchiveListResult" nillable="true" type="tns:ArchiveListResult" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
          <xs:enumeration value="UndefinedValue256" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:complexType name="ArrayOfArchiveListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveListItem" nillable="true" type="tns:ArchiveListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveListItem" nillable="true" type="tns:ArrayOfArchiveListItem" />
  <xs:complexType name="ArchiveListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryKey" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnData" nillable="true" type="tns:ColumnDataDictionary" />
          <xs:element minOccurs="0" name="LinkHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StyleHint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchiveListItem" nillable="true" type="tns:ArchiveListItem" />
  <xs:complexType name="ColumnDataDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnDataKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:ArchiveColumnData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnDataDictionary" nillable="true" type="tns:ColumnDataDictionary" />
  <xs:complexType name="ArchiveColumnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TooltipHint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkHint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveColumnData" nillable="true" type="tns:ArchiveColumnData" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="GetActivityFilter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ActivityFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActivityFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssociateList" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
          <xs:element minOccurs="0" name="GroupList" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
          <xs:element minOccurs="0" name="FutureDateList" nillable="true" type="tns:ArrayOfMDOListItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityFilter" nillable="true" type="tns:ActivityFilter" />
  <xs:complexType name="ArrayOfSelectableMDOListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectableMDOListItem" nillable="true" type="tns:SelectableMDOListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectableMDOListItem" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
  <xs:complexType name="SelectableMDOListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorBlock" type="xs:int" />
          <xs:element minOccurs="0" name="IconHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ChildItems" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StyleHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hidden" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectableMDOListItem" nillable="true" type="tns:SelectableMDOListItem" />
  <xs:complexType name="ArrayOfMDOListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDOListItem" nillable="true" type="tns:MDOListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDOListItem" nillable="true" type="tns:ArrayOfMDOListItem" />
  <xs:complexType name="MDOListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChildItems" nillable="true" type="tns:ArrayOfMDOListItem" />
          <xs:element minOccurs="0" name="IconHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorBlock" type="xs:int" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StyleHint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MDOListItem" nillable="true" type="tns:MDOListItem" />
  <xs:element name="SetActivityFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivityFilter" nillable="true" type="tns:ActivityFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActivityFilterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupAssociateIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupIds" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupAssociateIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Response" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArchiveConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchiveColumnInfo" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
          <xs:element minOccurs="0" name="ArchiveEntityInfo" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
          <xs:element minOccurs="0" name="ArchiveOrderByInfo" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchiveConfiguration" nillable="true" type="tns:ArchiveConfiguration" />
  <xs:complexType name="ArrayOfArchiveColumnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveColumnInfo" nillable="true" type="tns:ArchiveColumnInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveColumnInfo" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
  <xs:complexType name="ArchiveColumnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayTooltip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanOrderBy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanRestrictBy" type="xs:boolean" />
      <xs:element minOccurs="0" name="RestrictionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictionListName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconHint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadingIconHint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveColumnInfo" nillable="true" type="tns:ArchiveColumnInfo" />
  <xs:complexType name="ArrayOfArchiveOrderByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveOrderByInfo" nillable="true" type="tns:ArchiveOrderByInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveOrderByInfo" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
  <xs:complexType name="ArchiveOrderByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" type="tns:OrderBySortType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveOrderByInfo" nillable="true" type="tns:ArchiveOrderByInfo" />
  <xs:simpleType name="OrderBySortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderBySortType" nillable="true" type="tns:OrderBySortType" />
  <xs:element name="GetArchiveConfigurationWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveConfigurationWithContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetColumnWidths">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ColumnWidths" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetColumnWidthsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChosenEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChosenEntitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChosenColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChosenColumns" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChosenColumnsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfArchiveRestrictionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveRestrictionInfo" nillable="true" type="tns:ArchiveRestrictionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveRestrictionInfo" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
  <xs:complexType name="ArchiveRestrictionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q8:ArrayOfstring" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayValues" nillable="true" type="q9:ArrayOfstring" />
      <xs:element minOccurs="0" name="ColumnInfo" nillable="true" type="tns:ArchiveColumnInfo" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubRestrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
      <xs:element minOccurs="0" name="InterParenthesis" type="xs:int" />
      <xs:element minOccurs="0" name="InterOperator" type="tns:InterRestrictionOperator" />
      <xs:element minOccurs="0" name="UniqueHash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveRestrictionInfo" nillable="true" type="tns:ArchiveRestrictionInfo" />
  <xs:simpleType name="InterRestrictionOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InterRestrictionOperator" nillable="true" type="tns:InterRestrictionOperator" />
  <xs:element name="GetArchiveListByColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q11:ArrayOfstring" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q13:ArrayOfstring" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListWithContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q15:ArrayOfstring" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Response" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeaderWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q17:ArrayOfstring" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Entities" nillable="true" type="q18:ArrayOfstring" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeaderWithContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumns2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumns2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithContext2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithContext2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveList2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveList2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListWithContext2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListWithContext2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeader2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeader2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeaderWithContext2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Columns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveListByColumnsWithHeaderWithContext2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArchiveListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>