AOS.DataAccesslayer/Service References/Selection82/Selection1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Selection.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Selection.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateDefaultMailMergeSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q1="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoCredentials" nillable="true" type="q1:SoCredentials" />
  <xs:element xmlns:q2="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Credentials" nillable="true" type="q2:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoTimeZone" nillable="true" type="q3:SoTimeZone" />
  <xs:element xmlns:q4="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TimeZone" nillable="true" type="q4:SoTimeZone" />
  <xs:element name="CreateDefaultMailMergeSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q5:MailMergeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MailMergeSettings">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q6:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
          <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
          <xs:element minOccurs="0" name="MailMergeDeliveryType" type="q6:EMailMergeTargetType" />
          <xs:element minOccurs="0" name="CustomAttention" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AlwaysUseCustomAttention" type="xs:boolean" />
          <xs:element minOccurs="0" name="SaveDocument" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomMailBody" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskEntity" nillable="true" type="q6:MailMergeTask" />
          <xs:element minOccurs="0" name="AddCompanyInterest" type="xs:int" />
          <xs:element minOccurs="0" name="AddPersonInterest" type="xs:int" />
          <xs:element minOccurs="0" name="RemoveCompanyInterest" type="xs:int" />
          <xs:element minOccurs="0" name="RemovePersonInterest" type="xs:int" />
          <xs:element minOccurs="0" name="IncludeNoMailingsRecipient" type="xs:boolean" />
          <xs:element minOccurs="0" name="TestOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="IncludeRetiredRecipients" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeStoppedRecipients" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomMailSubject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Synchronous" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTemporarySelection" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q7="http://www.superoffice.net/ws/crm/NetServer/Services82" name="MailMergeSettings" nillable="true" type="q7:MailMergeSettings" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element xmlns:q8="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="TableRight" nillable="true" type="q8:TableRight" />
      <xs:element xmlns:q9="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="FieldProperties" nillable="true" type="q9:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Carrier" nillable="true" type="q10:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element xmlns:q11="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Mask" type="q11:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q12="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TableRight" nillable="true" type="q12:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element xmlns:q13="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ETableRight" nillable="true" type="q13:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q14="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Value" nillable="true" type="q14:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q15="http://www.superoffice.net/ws/crm/NetServer/Services82" name="FieldPropertyDictionary" nillable="true" type="q15:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element xmlns:q16="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="FieldRight" nillable="true" type="q16:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q17="http://www.superoffice.net/ws/crm/NetServer/Services82" name="FieldProperty" nillable="true" type="q17:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element xmlns:q18="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Mask" type="q18:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q19="http://www.superoffice.net/ws/crm/NetServer/Services82" name="FieldRight" nillable="true" type="q19:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
          <xs:enumeration value="UndefinedValue256" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element xmlns:q20="http://www.superoffice.net/ws/crm/NetServer/Services82" name="EFieldRight" nillable="true" type="q20:EFieldRight" />
  <xs:simpleType name="EMailMergeTargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BestFit" />
      <xs:enumeration value="Electronic" />
      <xs:enumeration value="Mail" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="Printer" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="XmlFax" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q21="http://www.superoffice.net/ws/crm/NetServer/Services82" name="EMailMergeTargetType" nillable="true" type="q21:EMailMergeTargetType" />
  <xs:complexType name="MailMergeTask">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q22:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Duration" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PriorityId" type="xs:int" />
          <xs:element minOccurs="0" name="VisibleFor" nillable="true" type="q22:VisibleFor" />
          <xs:element minOccurs="0" name="Completed" type="q22:ActivityStatus" />
          <xs:element minOccurs="0" name="OwnerAssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="SingleEntryOnEachCompany" type="xs:boolean" />
          <xs:element minOccurs="0" name="SaleId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q23="http://www.superoffice.net/ws/crm/NetServer/Services82" name="MailMergeTask" nillable="true" type="q23:MailMergeTask" />
  <xs:complexType name="VisibleFor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q24:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="VisibleId" type="xs:int" />
          <xs:element minOccurs="0" name="Visibility" type="q24:Visibility" />
          <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q25="http://www.superoffice.net/ws/crm/NetServer/Services82" name="VisibleFor" nillable="true" type="q25:VisibleFor" />
  <xs:simpleType name="Visibility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="Associate" />
      <xs:enumeration value="Group" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q26="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Visibility" nillable="true" type="q26:Visibility" />
  <xs:simpleType name="ActivityStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="NotStarted" />
      <xs:enumeration value="Started" />
      <xs:enumeration value="Completed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q27="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ActivityStatus" nillable="true" type="q27:ActivityStatus" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="InnerException" nillable="true" type="q28:SoExceptionInfo" />
      <xs:element xmlns:q29="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Parameters" nillable="true" type="q29:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q30="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoExceptionInfo" nillable="true" type="q30:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q31="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoExceptionInfoParameters" nillable="true" type="q31:SoExceptionInfoParameters" />
  <xs:element xmlns:q32="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ExceptionInfo" nillable="true" type="q32:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q33="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoExtraInfo" nillable="true" type="q33:SoExtraInfo" />
  <xs:element xmlns:q34="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ExtraInfo" nillable="true" type="q34:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="CreateDefaultMailMergeTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaultMailMergeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q35:MailMergeTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaultSelectionEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaultSelectionEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q36:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SelectionEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q37:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Postit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Associate" nillable="true" type="q37:Associate" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="q37:Associate" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="q37:Associate" />
          <xs:element minOccurs="0" name="SelectionCategory" nillable="true" type="q37:SelectionCategory" />
          <xs:element minOccurs="0" name="GroupIdx" type="xs:int" />
          <xs:element minOccurs="0" name="IncludePerson" type="xs:int" />
          <xs:element minOccurs="0" name="MemberCount" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostitTextId" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
          <xs:element minOccurs="0" name="SoundEx" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Source" type="xs:short" />
          <xs:element minOccurs="0" name="TextId" type="xs:int" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedCount" type="xs:short" />
          <xs:element minOccurs="0" name="Visibility" type="xs:short" />
          <xs:element minOccurs="0" name="SelectionType" type="q37:SelectionType" />
          <xs:element minOccurs="0" name="CompanyUnique" type="xs:boolean" />
          <xs:element minOccurs="0" name="TargetTableNumber" type="xs:int" />
          <xs:element minOccurs="0" name="TargetTableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
          <xs:element minOccurs="0" name="LeftSelectionId" type="xs:int" />
          <xs:element minOccurs="0" name="RightSelectionId" type="xs:int" />
          <xs:element minOccurs="0" name="SelectionUnionType" type="q37:SelectionUnionType" />
          <xs:element minOccurs="0" name="VisibleFor" nillable="true" type="q37:ArrayOfVisibleFor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q38="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SelectionEntity" nillable="true" type="q38:SelectionEntity" />
  <xs:complexType name="Associate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q39:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="q39:UserType" />
          <xs:element minOccurs="0" name="GroupIdx" type="xs:int" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="EjUserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q40="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Associate" nillable="true" type="q40:Associate" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InternalAssociate" />
      <xs:enumeration value="ResourceAssociate" />
      <xs:enumeration value="ExternalAssociate" />
      <xs:enumeration value="AnonymousAssociate" />
      <xs:enumeration value="SystemAssociate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q41="http://www.superoffice.net/ws/crm/NetServer/Services82" name="UserType" nillable="true" type="q41:UserType" />
  <xs:complexType name="SelectionCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q42="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q42:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q43="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SelectionCategory" nillable="true" type="q43:SelectionCategory" />
  <xs:simpleType name="SelectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Static" />
      <xs:enumeration value="Dynamic" />
      <xs:enumeration value="Combined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q44="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SelectionType" nillable="true" type="q44:SelectionType" />
  <xs:simpleType name="SelectionUnionType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="SubtractRightFromLeft" />
      <xs:enumeration value="SubtractLeftFromRight" />
      <xs:enumeration value="Intersect" />
      <xs:enumeration value="XOR" />
      <xs:enumeration value="Union" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q45="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SelectionUnionType" nillable="true" type="q45:SelectionUnionType" />
  <xs:complexType name="ArrayOfVisibleFor">
    <xs:sequence>
      <xs:element xmlns:q46="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="VisibleFor" nillable="true" type="q46:VisibleFor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q47="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfVisibleFor" nillable="true" type="q47:ArrayOfVisibleFor" />
  <xs:element name="SaveSelectionEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="SelectionEntity" nillable="true" type="q48:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSelectionEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q49:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSelectionEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSelectionEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectionEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectionEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q50:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactSelectionFromSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="TargetSelectionType" type="q51:SelectionType" />
        <xs:element minOccurs="0" name="CopyMembers" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactSelectionFromSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q52:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelectionFromContactPersonIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="ContactPersonIds" nillable="true" type="q53:ArrayOfContactPersonId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfContactPersonId">
    <xs:sequence>
      <xs:element xmlns:q54="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="ContactPersonId" nillable="true" type="q54:ContactPersonId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q55="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfContactPersonId" nillable="true" type="q55:ArrayOfContactPersonId" />
  <xs:complexType name="ContactPersonId">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q56="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q56:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q57="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ContactPersonId" nillable="true" type="q57:ContactPersonId" />
  <xs:element name="CreateTemporaryContactSelectionFromContactPersonIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q58:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelectionFromProjectMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelectionFromProjectMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q59:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyContactSelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromSelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="ToSelectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyContactSelectionMembersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q60:RecipientStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RecipientStatistics">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q61:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="ValidPostalAddresses" type="xs:int" />
          <xs:element minOccurs="0" name="ValidEmailAddresses" type="xs:int" />
          <xs:element minOccurs="0" name="ValidFaxNumbers" type="xs:int" />
          <xs:element minOccurs="0" name="NoAddresses" type="xs:int" />
          <xs:element minOccurs="0" name="NoFaxOrEmails" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q62="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecipientStatistics" nillable="true" type="q62:RecipientStatistics" />
  <xs:element name="GetRecipientStatisticsFromProjectMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientStatisticsFromProjectMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q63:RecipientStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientStatisticsFromContactPersonIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="ContactPersonIds" nillable="true" type="q64:ArrayOfContactPersonId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientStatisticsFromContactPersonIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q65:RecipientStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactSelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q66="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="ContactPersonIds" nillable="true" type="q66:ArrayOfContactPersonId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactSelectionMembersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactSelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q67="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="ContactPersonIds" nillable="true" type="q67:ArrayOfContactPersonId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactSelectionMembersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactSelectionMembersFromIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectionMembersIds" nillable="true" type="q68:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactSelectionMembersFromIdsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactSelectionMembersFromSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactSelectionMembersFromSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactSelectionMembersFromSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactSelectionMembersFromSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q69:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelectionFromSelectionMemberIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectionMemberIds" nillable="true" type="q70:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporaryContactSelectionFromSelectionMemberIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q71:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRemoveContactSelectionMemberInterests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AddCompanyInterests" nillable="true" type="q72:ArrayOfint" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoveCompanyInterests" nillable="true" type="q73:ArrayOfint" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AddContactInterests" nillable="true" type="q74:ArrayOfint" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoveContactInterests" nillable="true" type="q75:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRemoveContactSelectionMemberInterestsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContactSelectionMemberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q76="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="SelectionMemberEditValues" nillable="true" type="q76:SelectionMemberEditValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SelectionMemberEditValues">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q77="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q77:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyCategory" type="xs:int" />
          <xs:element minOccurs="0" name="CompanyBusiness" type="xs:int" />
          <xs:element minOccurs="0" name="CompanyOurContact" type="xs:int" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyDepartment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPosition" type="xs:int" />
          <xs:element minOccurs="0" name="ChangeCompanyCategory" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeCompanyBusiness" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeCompanyOurContact" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeCompanyName" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeCompanyDepartment" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeCompanyNumber" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeCompanyCode" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeContactPosition" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyCountry" type="xs:int" />
          <xs:element minOccurs="0" name="ChangeCompanyCountry" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactJobTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChangeContactJobTitle" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyOrgNr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChangeCompanyOrgNr" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q78="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SelectionMemberEditValues" nillable="true" type="q78:SelectionMemberEditValues" />
  <xs:element name="EditContactSelectionMemberDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateFollowUps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q79="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="AppointmentEntity" nillable="true" type="q79:AppointmentEntity" />
        <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
        <xs:element minOccurs="0" name="SaveOnContactOwner" type="xs:boolean" />
        <xs:element minOccurs="0" name="UniqueContact" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AppointmentEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q80="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q80:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Associate" nillable="true" type="q80:Associate" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="q80:Contact" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="q80:Associate" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="q80:Associate" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AppointmentId" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvitedPerson" nillable="true" type="q80:Person" />
          <xs:element minOccurs="0" name="Person" nillable="true" type="q80:Person" />
          <xs:element minOccurs="0" name="MotherId" type="xs:int" />
          <xs:element minOccurs="0" name="Priority" nillable="true" type="q80:Priority" />
          <xs:element minOccurs="0" name="Private" type="q80:AppointmentPrivate" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="q80:Project" />
          <xs:element minOccurs="0" name="Type" type="q80:AppointmentType" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Completed" type="q80:ActivityStatus" />
          <xs:element minOccurs="0" name="ActiveLinks" type="xs:int" />
          <xs:element minOccurs="0" name="Links" nillable="true" type="q80:ArrayOfLink" />
          <xs:element minOccurs="0" name="AlarmLeadTime" type="ser:duration" />
          <xs:element minOccurs="0" name="HasAlarm" type="xs:boolean" />
          <xs:element minOccurs="0" name="ColorIndex" type="xs:short" />
          <xs:element minOccurs="0" name="IsFree" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAlldayEvent" type="xs:boolean" />
          <xs:element minOccurs="0" name="LagTime" type="ser:duration" />
          <xs:element minOccurs="0" name="LeadTime" type="ser:duration" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RejectCounter" type="xs:short" />
          <xs:element minOccurs="0" name="RejectReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Recurrence" nillable="true" type="q80:RecurrenceInfo" />
          <xs:element minOccurs="0" name="Participants" nillable="true" type="q80:ArrayOfParticipantInfo" />
          <xs:element minOccurs="0" name="AssignmentStatus" type="q80:AssignmentStatus" />
          <xs:element minOccurs="0" name="InvitationStatus" type="q80:InvitationStatus" />
          <xs:element minOccurs="0" name="BookingType" type="q80:BookingType" />
          <xs:element minOccurs="0" name="ActiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HasConflict" type="xs:boolean" />
          <xs:element minOccurs="0" name="AssignedBy" nillable="true" type="q80:Associate" />
          <xs:element minOccurs="0" name="MotherAssociate" nillable="true" type="q80:Associate" />
          <xs:element minOccurs="0" name="Task" nillable="true" type="q80:TaskListItem" />
          <xs:element minOccurs="0" name="PreferredTZLocation" type="xs:int" />
          <xs:element minOccurs="0" name="Sale" nillable="true" type="q80:Sale" />
          <xs:element minOccurs="0" name="SuggestedAppointmentId" type="xs:int" />
          <xs:element minOccurs="0" name="IsMileStone" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserDefinedFields" nillable="true" type="q80:StringDictionary" />
          <xs:element minOccurs="0" name="ExtraFields" nillable="true" type="q80:StringDictionary" />
          <xs:element minOccurs="0" name="PublishEventDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishTo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="VisibleFor" nillable="true" type="q80:ArrayOfVisibleFor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q81="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AppointmentEntity" nillable="true" type="q81:AppointmentEntity" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q82="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q82:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgNr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kananame" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddressName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URLName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="q82:Address" />
          <xs:element minOccurs="0" name="FormattedAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOwnerContact" type="xs:boolean" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q83="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Contact" nillable="true" type="q83:Contact" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q84="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q84:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Wgs84Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Wgs84Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="LocalizedAddress" nillable="true" type="q84:ArrayOfArrayOfLocalizedField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q85="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Address" nillable="true" type="q85:Address" />
  <xs:complexType name="ArrayOfArrayOfLocalizedField">
    <xs:sequence>
      <xs:element xmlns:q86="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="ArrayOfLocalizedField" nillable="true" type="q86:ArrayOfLocalizedField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q87="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfArrayOfLocalizedField" nillable="true" type="q87:ArrayOfArrayOfLocalizedField" />
  <xs:complexType name="ArrayOfLocalizedField">
    <xs:sequence>
      <xs:element xmlns:q88="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="LocalizedField" nillable="true" type="q88:LocalizedField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q89="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfLocalizedField" nillable="true" type="q89:ArrayOfLocalizedField" />
  <xs:complexType name="LocalizedField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q90="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q90:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValueLength" type="xs:int" />
          <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q91="http://www.superoffice.net/ws/crm/NetServer/Services82" name="LocalizedField" nillable="true" type="q91:LocalizedField" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q92="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q92:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="Mrmrs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Retired" type="xs:short" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="ActiveInterests" type="xs:short" />
          <xs:element minOccurs="0" name="ContactDepartment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactCountryId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactOrgNr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaxPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="UsePersonAddress" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kanafname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kanalname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q93="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Person" nillable="true" type="q93:Person" />
  <xs:complexType name="Priority">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q94="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q94:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q95="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Priority" nillable="true" type="q95:Priority" />
  <xs:simpleType name="AppointmentPrivate">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Public" />
      <xs:enumeration value="PrivateUser" />
      <xs:enumeration value="PrivateGroup" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q96="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AppointmentPrivate" nillable="true" type="q96:AppointmentPrivate" />
  <xs:complexType name="Project">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q97="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q97:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
          <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatusId" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextId" type="xs:int" />
          <xs:element minOccurs="0" name="PublishTo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="URLName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q98="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Project" nillable="true" type="q98:Project" />
  <xs:simpleType name="AppointmentType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="inDiary" />
      <xs:enumeration value="inChecklist" />
      <xs:enumeration value="Note" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="SavedReport" />
      <xs:enumeration value="BookingForDiary" />
      <xs:enumeration value="BookingForChecklist" />
      <xs:enumeration value="MergeDraft" />
      <xs:enumeration value="MergeFinal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q99="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AppointmentType" nillable="true" type="q99:AppointmentType" />
  <xs:complexType name="ArrayOfLink">
    <xs:sequence>
      <xs:element xmlns:q100="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="Link" nillable="true" type="q100:Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q101="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfLink" nillable="true" type="q101:ArrayOfLink" />
  <xs:complexType name="Link">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q102="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q102:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LinkId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q103="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Link" nillable="true" type="q103:Link" />
  <xs:complexType name="RecurrenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecurrenceId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element xmlns:q104="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="RecurrenceEndType" type="q104:RecurrenceEndType" />
      <xs:element xmlns:q105="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Pattern" type="q105:RecurrencePattern" />
      <xs:element xmlns:q106="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="DayPattern" nillable="true" type="q106:RecurrenceDayPattern" />
      <xs:element xmlns:q107="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="WeekPattern" nillable="true" type="q107:RecurrenceWeekPattern" />
      <xs:element xmlns:q108="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="MonthPattern" nillable="true" type="q108:RecurrenceMonthPattern" />
      <xs:element xmlns:q109="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="YearPattern" nillable="true" type="q109:RecurrenceYearPattern" />
      <xs:element xmlns:q110="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Dates" nillable="true" type="q110:ArrayOfRecurrenceDate" />
      <xs:element minOccurs="0" name="RecurrenceCounter" type="xs:int" />
      <xs:element minOccurs="0" name="IsRecurrence" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q111="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceInfo" nillable="true" type="q111:RecurrenceInfo" />
  <xs:simpleType name="RecurrenceEndType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="EndDate" />
      <xs:enumeration value="Counter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q112="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceEndType" nillable="true" type="q112:RecurrenceEndType" />
  <xs:simpleType name="RecurrencePattern">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
      <xs:enumeration value="Yearly" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q113="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrencePattern" nillable="true" type="q113:RecurrencePattern" />
  <xs:complexType name="RecurrenceDayPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cycle" type="xs:int" />
      <xs:element xmlns:q114="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Pattern" type="q114:RecurrenceDailyPattern" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q115="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceDayPattern" nillable="true" type="q115:RecurrenceDayPattern" />
  <xs:simpleType name="RecurrenceDailyPattern">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="EveryWorkday" />
      <xs:enumeration value="EveryWeekday" />
      <xs:enumeration value="EveryCyclicDay" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q116="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceDailyPattern" nillable="true" type="q116:RecurrenceDailyPattern" />
  <xs:complexType name="RecurrenceWeekPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cycle" type="xs:int" />
      <xs:element xmlns:q117="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Weekdays" type="q117:Weekday" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q118="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceWeekPattern" nillable="true" type="q118:RecurrenceWeekPattern" />
  <xs:simpleType name="Weekday">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Monday" />
          <xs:enumeration value="Tuesday" />
          <xs:enumeration value="Wednesday" />
          <xs:enumeration value="Thursday" />
          <xs:enumeration value="Friday" />
          <xs:enumeration value="Saturday" />
          <xs:enumeration value="Sunday" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element xmlns:q119="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Weekday" nillable="true" type="q119:Weekday" />
  <xs:complexType name="RecurrenceMonthPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cycle" type="xs:int" />
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element xmlns:q120="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Weekday" type="q120:Weekday" />
      <xs:element xmlns:q121="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="WeekOfMonth" type="q121:WeekOfMonth" />
      <xs:element xmlns:q122="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Pattern" type="q122:RecurrenceMonthlyPattern" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q123="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceMonthPattern" nillable="true" type="q123:RecurrenceMonthPattern" />
  <xs:simpleType name="WeekOfMonth">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="First" />
      <xs:enumeration value="Second" />
      <xs:enumeration value="Third" />
      <xs:enumeration value="Fourth" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q124="http://www.superoffice.net/ws/crm/NetServer/Services82" name="WeekOfMonth" nillable="true" type="q124:WeekOfMonth" />
  <xs:simpleType name="RecurrenceMonthlyPattern">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="DayOfMonth">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WeekdayOfMonth">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q125="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceMonthlyPattern" nillable="true" type="q125:RecurrenceMonthlyPattern" />
  <xs:complexType name="RecurrenceYearPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cycle" type="xs:int" />
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element xmlns:q126="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Weekday" type="q126:Weekday" />
      <xs:element xmlns:q127="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="WeekOfMonth" type="q127:WeekOfMonth" />
      <xs:element xmlns:q128="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Pattern" type="q128:RecurrenceYearlyPattern" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q129="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceYearPattern" nillable="true" type="q129:RecurrenceYearPattern" />
  <xs:simpleType name="RecurrenceYearlyPattern">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="DayOfMonth">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WeekdayOfMonth">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q130="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceYearlyPattern" nillable="true" type="q130:RecurrenceYearlyPattern" />
  <xs:complexType name="ArrayOfRecurrenceDate">
    <xs:sequence>
      <xs:element xmlns:q131="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="RecurrenceDate" nillable="true" type="q131:RecurrenceDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q132="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfRecurrenceDate" nillable="true" type="q132:ArrayOfRecurrenceDate" />
  <xs:complexType name="RecurrenceDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsConflict" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionStyleHint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q133="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrenceDate" nillable="true" type="q133:RecurrenceDate" />
  <xs:complexType name="ArrayOfParticipantInfo">
    <xs:sequence>
      <xs:element xmlns:q134="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="ParticipantInfo" nillable="true" type="q134:ParticipantInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q135="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfParticipantInfo" nillable="true" type="q135:ArrayOfParticipantInfo" />
  <xs:complexType name="ParticipantInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="EmailId" type="xs:int" />
      <xs:element minOccurs="0" name="SendEmail" type="xs:boolean" />
      <xs:element xmlns:q136="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="InvitationStatus" type="q136:InvitationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q137="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ParticipantInfo" nillable="true" type="q137:ParticipantInfo" />
  <xs:simpleType name="InvitationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Accepted" />
      <xs:enumeration value="Hidden">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Invitation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Moved">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MovedSeen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q138="http://www.superoffice.net/ws/crm/NetServer/Services82" name="InvitationStatus" nillable="true" type="q138:InvitationStatus" />
  <xs:simpleType name="AssignmentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Assigning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q139="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AssignmentStatus" nillable="true" type="q139:AssignmentStatus" />
  <xs:simpleType name="BookingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Owner" />
      <xs:enumeration value="Participant" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q140="http://www.superoffice.net/ws/crm/NetServer/Services82" name="BookingType" nillable="true" type="q140:BookingType" />
  <xs:complexType name="TaskListItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q141="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q141:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="TaskListItemId" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Direction" type="q141:TaskDirection" />
          <xs:element minOccurs="0" name="Type" type="q141:TaskType" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IntentId" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="IsDefaultAlldayEvent" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDefaultFree" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDefaultPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="ColorIndex" type="q141:ColorIndex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q142="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TaskListItem" nillable="true" type="q142:TaskListItem" />
  <xs:simpleType name="TaskDirection">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Incoming" />
      <xs:enumeration value="Outgoing" />
      <xs:enumeration value="SaintAll" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q143="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TaskDirection" nillable="true" type="q143:TaskDirection" />
  <xs:simpleType name="TaskType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Appointment" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="ToDo" />
      <xs:enumeration value="MailMergeDraft" />
      <xs:enumeration value="MailMergeFinal" />
      <xs:enumeration value="Report" />
      <xs:enumeration value="SaintAll" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q144="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TaskType" nillable="true" type="q144:TaskType" />
  <xs:simpleType name="ColorIndex">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LightBlue" />
      <xs:enumeration value="DarkBlue" />
      <xs:enumeration value="LightGray" />
      <xs:enumeration value="DarkGray" />
      <xs:enumeration value="LightGreen" />
      <xs:enumeration value="DarkGreen" />
      <xs:enumeration value="LightYellow" />
      <xs:enumeration value="DarkYellow" />
      <xs:enumeration value="LightRed" />
      <xs:enumeration value="DarkRed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q145="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ColorIndex" nillable="true" type="q145:ColorIndex" />
  <xs:complexType name="Sale">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q146="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q146:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SaleId" type="xs:int" />
          <xs:element minOccurs="0" name="Probability" type="xs:short" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="q146:SaleStatus" />
          <xs:element minOccurs="0" name="WeightedAmount" type="xs:double" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="EarningPercent" type="xs:double" />
          <xs:element minOccurs="0" name="Earning" type="xs:double" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="SaleTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="SaleTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Completed" type="q146:ActivityStatus" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
          <xs:element minOccurs="0" name="NextDueDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q147="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Sale" nillable="true" type="q147:Sale" />
  <xs:simpleType name="SaleStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="Sold" />
      <xs:enumeration value="Lost" />
      <xs:enumeration value="Stalled" />
      <xs:enumeration value="SaintAll">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1000</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q148="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SaleStatus" nillable="true" type="q148:SaleStatus" />
  <xs:complexType name="StringDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q149="http://www.superoffice.net/ws/crm/NetServer/Services82" name="StringDictionary" nillable="true" type="q149:StringDictionary" />
  <xs:element name="GenerateFollowUpsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UseContacts" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSelectionMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMailMerge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Settings" nillable="true" type="q150:MailMergeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMailMergeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDuplicateRulesStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Rules" nillable="true" type="q151:ArrayOfDuplicateRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDuplicateRule">
    <xs:sequence>
      <xs:element xmlns:q152="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="DuplicateRule" nillable="true" type="q152:DuplicateRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q153="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfDuplicateRule" nillable="true" type="q153:ArrayOfDuplicateRule" />
  <xs:complexType name="DuplicateRule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q154="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q154:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayTooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q155="http://www.superoffice.net/ws/crm/NetServer/Services82" name="DuplicateRule" nillable="true" type="q155:DuplicateRule" />
  <xs:element name="SetDuplicateRulesStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuplicates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuplicatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q156:ArrayOfDuplicateEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDuplicateEntry">
    <xs:sequence>
      <xs:element xmlns:q157="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="DuplicateEntry" nillable="true" type="q157:DuplicateEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q158="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfDuplicateEntry" nillable="true" type="q158:ArrayOfDuplicateEntry" />
  <xs:complexType name="DuplicateEntry">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q159="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q159:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SoPrimaryKey" type="xs:int" />
          <xs:element minOccurs="0" name="EntryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntryIdentifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RuleDisplayName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q160="http://www.superoffice.net/ws/crm/NetServer/Services82" name="DuplicateEntry" nillable="true" type="q160:DuplicateEntry" />
  <xs:element name="GetDuplicateRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuplicateRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q161:ArrayOfDuplicateRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Duplicate" nillable="true" type="q162:DuplicateEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q163:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectionMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q164:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSelectionMembersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectionMembersFromSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectionMembersFromSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSelectionMembersFromSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSelectionMembersFromSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopySelectionMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromSelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="ToSelectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopySelectionMembersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporarySelectionFromIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q165:ArrayOfint" />
        <xs:element minOccurs="0" name="TargetTableNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemporarySelectionFromIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q166:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSelectionFromSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q167="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="TargetSelectionType" type="q167:SelectionType" />
        <xs:element minOccurs="0" name="CopyMembers" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSelectionFromSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q168:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactSelectionFromShadowSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactSelectionFromShadowSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q169:SelectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentCombinedSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentCombinedSelectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Response" nillable="true" type="q170:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>