AOS.DataAccesslayer/Service References/Sale82/Sale1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Sale.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Sale.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDefaultSaleEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q1="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoCredentials" nillable="true" type="q1:SoCredentials" />
  <xs:element xmlns:q2="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Credentials" nillable="true" type="q2:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoTimeZone" nillable="true" type="q3:SoTimeZone" />
  <xs:element xmlns:q4="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TimeZone" nillable="true" type="q4:SoTimeZone" />
  <xs:element name="CreateDefaultSaleEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q5:SaleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SaleEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q6:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Appointment" nillable="true" type="q6:Appointment" />
          <xs:element minOccurs="0" name="Associate" nillable="true" type="q6:Associate" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="q6:Associate" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="q6:Associate" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="q6:Contact" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="q6:Project" />
          <xs:element minOccurs="0" name="SaleText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Person" nillable="true" type="q6:Person" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="q6:Currency" />
          <xs:element minOccurs="0" name="Competitor" nillable="true" type="q6:Competitor" />
          <xs:element minOccurs="0" name="Credited" nillable="true" type="q6:Credited" />
          <xs:element minOccurs="0" name="Rating" nillable="true" type="q6:Rating" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="q6:Reason" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="q6:Source" />
          <xs:element minOccurs="0" name="Status" type="q6:SaleStatus" />
          <xs:element minOccurs="0" name="Saledate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="SaleId" type="xs:int" />
          <xs:element minOccurs="0" name="Earning" type="xs:double" />
          <xs:element minOccurs="0" name="EarningPercent" type="xs:double" />
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Probability" type="xs:short" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Completed" type="q6:ActivityStatus" />
          <xs:element minOccurs="0" name="ActiveLinks" type="xs:int" />
          <xs:element minOccurs="0" name="Links" nillable="true" type="q6:ArrayOfLink" />
          <xs:element minOccurs="0" name="NextDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Postit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleType" nillable="true" type="q6:SaleType" />
          <xs:element minOccurs="0" name="ReasonSold" nillable="true" type="q6:ReasonSold" />
          <xs:element minOccurs="0" name="ReasonStalled" nillable="true" type="q6:ReasonStalled" />
          <xs:element minOccurs="0" name="ReopenDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SaleStakeholders" nillable="true" type="q6:ArrayOfSaleStakeholder" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
          <xs:element minOccurs="0" name="UserDefinedFields" nillable="true" type="q6:StringDictionary" />
          <xs:element minOccurs="0" name="ExtraFields" nillable="true" type="q6:StringDictionary" />
          <xs:element minOccurs="0" name="PublishEventDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishTo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="VisibleFor" nillable="true" type="q6:ArrayOfVisibleFor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q7="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SaleEntity" nillable="true" type="q7:SaleEntity" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element xmlns:q8="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="TableRight" nillable="true" type="q8:TableRight" />
      <xs:element xmlns:q9="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="FieldProperties" nillable="true" type="q9:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Carrier" nillable="true" type="q10:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element xmlns:q11="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Mask" type="q11:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q12="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TableRight" nillable="true" type="q12:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element xmlns:q13="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ETableRight" nillable="true" type="q13:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q14="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Value" nillable="true" type="q14:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q15="http://www.superoffice.net/ws/crm/NetServer/Services82" name="FieldPropertyDictionary" nillable="true" type="q15:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element xmlns:q16="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="FieldRight" nillable="true" type="q16:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q17="http://www.superoffice.net/ws/crm/NetServer/Services82" name="FieldProperty" nillable="true" type="q17:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element xmlns:q18="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Mask" type="q18:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q19="http://www.superoffice.net/ws/crm/NetServer/Services82" name="FieldRight" nillable="true" type="q19:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
          <xs:enumeration value="UndefinedValue256" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element xmlns:q20="http://www.superoffice.net/ws/crm/NetServer/Services82" name="EFieldRight" nillable="true" type="q20:EFieldRight" />
  <xs:complexType name="Appointment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q21:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppointmentId" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Type" type="q21:AppointmentType" />
          <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="ColorIndex" type="xs:short" />
          <xs:element minOccurs="0" name="IsFree" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasAlarm" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAlldayEvent" type="xs:boolean" />
          <xs:element minOccurs="0" name="Private" type="q21:AppointmentPrivate" />
          <xs:element minOccurs="0" name="PriorityId" type="xs:int" />
          <xs:element minOccurs="0" name="PriorityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskType" type="q21:TaskType" />
          <xs:element minOccurs="0" name="IsBookingMain" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecurrence" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsBooking" type="xs:boolean" />
          <xs:element minOccurs="0" name="ActiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssignmentStatus" type="q21:AssignmentStatus" />
          <xs:element minOccurs="0" name="InvitationStatus" type="q21:InvitationStatus" />
          <xs:element minOccurs="0" name="BookingType" type="q21:BookingType" />
          <xs:element minOccurs="0" name="Completed" type="q21:ActivityStatus" />
          <xs:element minOccurs="0" name="RecurringPattern" type="q21:RecurrencePattern" />
          <xs:element minOccurs="0" name="RecurringStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RecurringEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MotherId" type="xs:int" />
          <xs:element minOccurs="0" name="AssignedBy" type="xs:int" />
          <xs:element minOccurs="0" name="AssignedByFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RejectReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AlarmLeadTime" type="ser:duration" />
          <xs:element minOccurs="0" name="SaleId" type="xs:int" />
          <xs:element minOccurs="0" name="SaleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedByFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedByAssociateId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q22="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Appointment" nillable="true" type="q22:Appointment" />
  <xs:simpleType name="AppointmentType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="inDiary" />
      <xs:enumeration value="inChecklist" />
      <xs:enumeration value="Note" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="SavedReport" />
      <xs:enumeration value="BookingForDiary" />
      <xs:enumeration value="BookingForChecklist" />
      <xs:enumeration value="MergeDraft" />
      <xs:enumeration value="MergeFinal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q23="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AppointmentType" nillable="true" type="q23:AppointmentType" />
  <xs:simpleType name="AppointmentPrivate">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Public" />
      <xs:enumeration value="PrivateUser" />
      <xs:enumeration value="PrivateGroup" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q24="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AppointmentPrivate" nillable="true" type="q24:AppointmentPrivate" />
  <xs:simpleType name="TaskType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Appointment" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="ToDo" />
      <xs:enumeration value="MailMergeDraft" />
      <xs:enumeration value="MailMergeFinal" />
      <xs:enumeration value="Report" />
      <xs:enumeration value="SaintAll" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q25="http://www.superoffice.net/ws/crm/NetServer/Services82" name="TaskType" nillable="true" type="q25:TaskType" />
  <xs:simpleType name="AssignmentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Assigning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q26="http://www.superoffice.net/ws/crm/NetServer/Services82" name="AssignmentStatus" nillable="true" type="q26:AssignmentStatus" />
  <xs:simpleType name="InvitationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Accepted" />
      <xs:enumeration value="Hidden">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Invitation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Moved">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MovedSeen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q27="http://www.superoffice.net/ws/crm/NetServer/Services82" name="InvitationStatus" nillable="true" type="q27:InvitationStatus" />
  <xs:simpleType name="BookingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Owner" />
      <xs:enumeration value="Participant" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q28="http://www.superoffice.net/ws/crm/NetServer/Services82" name="BookingType" nillable="true" type="q28:BookingType" />
  <xs:simpleType name="ActivityStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="NotStarted" />
      <xs:enumeration value="Started" />
      <xs:enumeration value="Completed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q29="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ActivityStatus" nillable="true" type="q29:ActivityStatus" />
  <xs:simpleType name="RecurrencePattern">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
      <xs:enumeration value="Yearly" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q30="http://www.superoffice.net/ws/crm/NetServer/Services82" name="RecurrencePattern" nillable="true" type="q30:RecurrencePattern" />
  <xs:complexType name="Associate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q31:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="q31:UserType" />
          <xs:element minOccurs="0" name="GroupIdx" type="xs:int" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="EjUserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q32="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Associate" nillable="true" type="q32:Associate" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InternalAssociate" />
      <xs:enumeration value="ResourceAssociate" />
      <xs:enumeration value="ExternalAssociate" />
      <xs:enumeration value="AnonymousAssociate" />
      <xs:enumeration value="SystemAssociate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q33="http://www.superoffice.net/ws/crm/NetServer/Services82" name="UserType" nillable="true" type="q33:UserType" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q34:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgNr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kananame" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddressName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URLName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="q34:Address" />
          <xs:element minOccurs="0" name="FormattedAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOwnerContact" type="xs:boolean" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q35="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Contact" nillable="true" type="q35:Contact" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q36:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Wgs84Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Wgs84Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="LocalizedAddress" nillable="true" type="q36:ArrayOfArrayOfLocalizedField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q37="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Address" nillable="true" type="q37:Address" />
  <xs:complexType name="ArrayOfArrayOfLocalizedField">
    <xs:sequence>
      <xs:element xmlns:q38="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="ArrayOfLocalizedField" nillable="true" type="q38:ArrayOfLocalizedField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q39="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfArrayOfLocalizedField" nillable="true" type="q39:ArrayOfArrayOfLocalizedField" />
  <xs:complexType name="ArrayOfLocalizedField">
    <xs:sequence>
      <xs:element xmlns:q40="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="LocalizedField" nillable="true" type="q40:LocalizedField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q41="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfLocalizedField" nillable="true" type="q41:ArrayOfLocalizedField" />
  <xs:complexType name="LocalizedField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q42="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q42:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValueLength" type="xs:int" />
          <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q43="http://www.superoffice.net/ws/crm/NetServer/Services82" name="LocalizedField" nillable="true" type="q43:LocalizedField" />
  <xs:complexType name="Project">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q44="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q44:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
          <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatusId" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextId" type="xs:int" />
          <xs:element minOccurs="0" name="PublishTo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="URLName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q45="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Project" nillable="true" type="q45:Project" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q46:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="Mrmrs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Retired" type="xs:short" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="ActiveInterests" type="xs:short" />
          <xs:element minOccurs="0" name="ContactDepartment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactCountryId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactOrgNr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaxPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="UsePersonAddress" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kanafname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kanalname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q47="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Person" nillable="true" type="q47:Person" />
  <xs:complexType name="Currency">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q48="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q48:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q49="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Currency" nillable="true" type="q49:Currency" />
  <xs:complexType name="Competitor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q50="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q50:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q51="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Competitor" nillable="true" type="q51:Competitor" />
  <xs:complexType name="Credited">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q52="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q52:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q53="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Credited" nillable="true" type="q53:Credited" />
  <xs:complexType name="Rating">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q54="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q54:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q55="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Rating" nillable="true" type="q55:Rating" />
  <xs:complexType name="Reason">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q56="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q56:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q57="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Reason" nillable="true" type="q57:Reason" />
  <xs:complexType name="Source">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q58="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q58:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q59="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Source" nillable="true" type="q59:Source" />
  <xs:simpleType name="SaleStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="Sold" />
      <xs:enumeration value="Lost" />
      <xs:enumeration value="Stalled" />
      <xs:enumeration value="SaintAll">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1000</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q60="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SaleStatus" nillable="true" type="q60:SaleStatus" />
  <xs:complexType name="ArrayOfLink">
    <xs:sequence>
      <xs:element xmlns:q61="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="Link" nillable="true" type="q61:Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q62="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfLink" nillable="true" type="q62:ArrayOfLink" />
  <xs:complexType name="Link">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q63="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q63:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LinkId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q64="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Link" nillable="true" type="q64:Link" />
  <xs:complexType name="SaleType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q65="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q65:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q66="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SaleType" nillable="true" type="q66:SaleType" />
  <xs:complexType name="ReasonSold">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q67="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q67:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q68="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ReasonSold" nillable="true" type="q68:ReasonSold" />
  <xs:complexType name="ReasonStalled">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q69="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q69:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q70="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ReasonStalled" nillable="true" type="q70:ReasonStalled" />
  <xs:complexType name="ArrayOfSaleStakeholder">
    <xs:sequence>
      <xs:element xmlns:q71="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="SaleStakeholder" nillable="true" type="q71:SaleStakeholder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q72="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfSaleStakeholder" nillable="true" type="q72:ArrayOfSaleStakeholder" />
  <xs:complexType name="SaleStakeholder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q73="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q73:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="StakeholderRoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StakeholderRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="EmailDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailId" type="xs:int" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="SaleId" type="xs:int" />
          <xs:element minOccurs="0" name="Mrmrs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleStakeholderId" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q74="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SaleStakeholder" nillable="true" type="q74:SaleStakeholder" />
  <xs:complexType name="StringDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q75="http://www.superoffice.net/ws/crm/NetServer/Services82" name="StringDictionary" nillable="true" type="q75:StringDictionary" />
  <xs:complexType name="ArrayOfVisibleFor">
    <xs:sequence>
      <xs:element xmlns:q76="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="VisibleFor" nillable="true" type="q76:VisibleFor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q77="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfVisibleFor" nillable="true" type="q77:ArrayOfVisibleFor" />
  <xs:complexType name="VisibleFor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q78="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q78:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="VisibleId" type="xs:int" />
          <xs:element minOccurs="0" name="Visibility" type="q78:Visibility" />
          <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q79="http://www.superoffice.net/ws/crm/NetServer/Services82" name="VisibleFor" nillable="true" type="q79:VisibleFor" />
  <xs:simpleType name="Visibility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="Associate" />
      <xs:enumeration value="Group" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element xmlns:q80="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Visibility" nillable="true" type="q80:Visibility" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element xmlns:q81="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="InnerException" nillable="true" type="q81:SoExceptionInfo" />
      <xs:element xmlns:q82="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Parameters" nillable="true" type="q82:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q83="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoExceptionInfo" nillable="true" type="q83:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q84="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoExceptionInfoParameters" nillable="true" type="q84:SoExceptionInfoParameters" />
  <xs:element xmlns:q85="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ExceptionInfo" nillable="true" type="q85:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q86="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SoExtraInfo" nillable="true" type="q86:SoExtraInfo" />
  <xs:element xmlns:q87="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ExtraInfo" nillable="true" type="q87:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="SaveSaleEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="SaleEntity" nillable="true" type="q88:SaleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSaleEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q89:SaleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaleEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaleEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaultSaleSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaultSaleSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q90:SaleSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SaleSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q91="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q91:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SoldTotalBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="Sold" type="xs:int" />
          <xs:element minOccurs="0" name="SoldTotalOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="Lost" type="xs:int" />
          <xs:element minOccurs="0" name="LostTotalBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="LostTotalOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="Open" type="xs:int" />
          <xs:element minOccurs="0" name="OpenTotalBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="OpenTotalOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="OpenWeightedBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="OpenWeightedOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="PreviousOverdue" type="xs:int" />
          <xs:element minOccurs="0" name="PreviousOverdueTotalBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="PreviousOverdueTotalOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="PreviousOverdueWeightedBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="PreviousOverdueWeightedOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="CurrentOverdue" type="xs:int" />
          <xs:element minOccurs="0" name="CurrentOverdueTotalBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="CurrentOverdueTotalOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="CurrentOverdueWeightedBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="CurrentOverdueWeightedOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="FutureOpen" type="xs:int" />
          <xs:element minOccurs="0" name="FutureOpenTotalBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="FutureOpenTotalOwnCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="FutureOpenWeightedBaseCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="FutureOpenWeightedOwnCurrency" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q92="http://www.superoffice.net/ws/crm/NetServer/Services82" name="SaleSummary" nillable="true" type="q92:SaleSummary" />
  <xs:element name="GetSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q93:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Sale">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q94="http://www.superoffice.net/ws/crm/NetServer/Services82" base="q94:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SaleId" type="xs:int" />
          <xs:element minOccurs="0" name="Probability" type="xs:short" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="q94:SaleStatus" />
          <xs:element minOccurs="0" name="WeightedAmount" type="xs:double" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="EarningPercent" type="xs:double" />
          <xs:element minOccurs="0" name="Earning" type="xs:double" />
          <xs:element minOccurs="0" name="ContactId" type="xs:int" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="SaleTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="SaleTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Completed" type="q94:ActivityStatus" />
          <xs:element minOccurs="0" name="ActiveErpLinks" type="xs:int" />
          <xs:element minOccurs="0" name="NextDueDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q95="http://www.superoffice.net/ws/crm/NetServer/Services82" name="Sale" nillable="true" type="q95:Sale" />
  <xs:element name="GetSaleEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q96:SaleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasGuide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasGuideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextDueDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextDueDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUpdateNextDueDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUpdateNextDueDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextSaleStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
        <xs:element minOccurs="0" name="IncludeCurrentStage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextSaleStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasGuideActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasGuideActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferAutoNextStageOnApppointmentCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppointmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferAutoNextStageOnApppointmentCompletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProbabilityFromStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProbabilityFromStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNumberValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" type="xs:int" />
        <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNumberValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleStakeholders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
        <xs:element xmlns:q97="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="SaleStakeholders" nillable="true" type="q97:ArrayOfSaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleStakeholdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaleStakeholders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaleStakeholderIds" nillable="true" type="q98:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaleStakeholdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasStakeholderSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasStakeholderSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaleIds" nillable="true" type="q99:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q100:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSale">
    <xs:sequence>
      <xs:element xmlns:q101="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" maxOccurs="unbounded" name="Sale" nillable="true" type="q101:Sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q102="http://www.superoffice.net/ws/crm/NetServer/Services82" name="ArrayOfSale" nillable="true" type="q102:ArrayOfSale" />
  <xs:element name="GetMyOpportunities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOpportunitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q103:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmountLimit" type="xs:int" />
        <xs:element minOccurs="0" name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q104:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeightedAmountLimit" type="xs:int" />
        <xs:element minOccurs="0" name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q105:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AmountLimit" type="xs:int" />
        <xs:element xmlns:q106="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Status" type="q106:SaleStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q107:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenSalesForContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenSalesForContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q108:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaleIds" nillable="true" type="q109:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsSoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsLost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaleIds" nillable="true" type="q110:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsLostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleStakeholderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q111:SaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaleStakeholderIds" nillable="true" type="q112:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q113:ArrayOfSaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q114:ArrayOfSaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaleStakeholders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Stakeholders" nillable="true" type="q115:ArrayOfSaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaleStakeholdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q116:ArrayOfSaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaleStakeholderIds" nillable="true" type="q117:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleStakeholderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q118:ArrayOfSaleStakeholder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByAssociate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q119:SaleSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q120:SaleSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryByContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://www.superoffice.net/ws/crm/NetServer/Services82" minOccurs="0" name="Response" nillable="true" type="q121:SaleSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>