AOS.DataAccesslayer/Service References/License82/License.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82/Imports">
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/License.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/License.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/License.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetLicenseForAllOwnersFromDBRequest">
    <wsdl:part name="parameters" element="tns:GetLicenseForAllOwnersFromDB" />
  </wsdl:message>
  <wsdl:message name="GetLicenseForAllOwnersFromDBRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseForAllOwnersFromDBResponse">
    <wsdl:part name="parameters" element="tns:GetLicenseForAllOwnersFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseForAllOwnersFromDBResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromLicenseServerRequest">
    <wsdl:part name="parameters" element="tns:GetLicenseFromLicenseServer" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromLicenseServerRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromLicenseServerResponse">
    <wsdl:part name="parameters" element="tns:GetLicenseFromLicenseServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromLicenseServerResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetModuleLicenseHistoryFromLicenseServerRequest">
    <wsdl:part name="parameters" element="tns:GetModuleLicenseHistoryFromLicenseServer" />
  </wsdl:message>
  <wsdl:message name="GetModuleLicenseHistoryFromLicenseServerRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetModuleLicenseHistoryFromLicenseServerResponse">
    <wsdl:part name="parameters" element="tns:GetModuleLicenseHistoryFromLicenseServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetModuleLicenseHistoryFromLicenseServerResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseInfoRequest">
    <wsdl:part name="parameters" element="tns:ValidateLicenseInfo" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseInfoResponse">
    <wsdl:part name="parameters" element="tns:ValidateLicenseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseInfoRequest">
    <wsdl:part name="parameters" element="tns:ActivateLicenseInfo" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseInfoResponse">
    <wsdl:part name="parameters" element="tns:ActivateLicenseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseStatusFromLicenseServerRequest">
    <wsdl:part name="parameters" element="tns:GetLicenseStatusFromLicenseServer" />
  </wsdl:message>
  <wsdl:message name="GetLicenseStatusFromLicenseServerRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseStatusFromLicenseServerResponse">
    <wsdl:part name="parameters" element="tns:GetLicenseStatusFromLicenseServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseStatusFromLicenseServerResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromDBRequest">
    <wsdl:part name="parameters" element="tns:GetLicenseFromDB" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromDBRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromDBResponse">
    <wsdl:part name="parameters" element="tns:GetLicenseFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromDBResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeSerialNumberRequest">
    <wsdl:part name="parameters" element="tns:ChangeSerialNumber" />
  </wsdl:message>
  <wsdl:message name="ChangeSerialNumberRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeSerialNumberResponse">
    <wsdl:part name="parameters" element="tns:ChangeSerialNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSerialNumberResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesRequest">
    <wsdl:part name="parameters" element="tns:GetUserLicenses" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesResponse">
    <wsdl:part name="parameters" element="tns:GetUserLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSatelliteLicensesRequest">
    <wsdl:part name="parameters" element="tns:GetSatelliteLicenses" />
  </wsdl:message>
  <wsdl:message name="GetSatelliteLicensesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSatelliteLicensesResponse">
    <wsdl:part name="parameters" element="tns:GetSatelliteLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSatelliteLicensesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="RemoveLicenseFromDBRequest">
    <wsdl:part name="parameters" element="tns:RemoveLicenseFromDB" />
  </wsdl:message>
  <wsdl:message name="RemoveLicenseFromDBRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="RemoveLicenseFromDBResponse">
    <wsdl:part name="parameters" element="tns:RemoveLicenseFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveLicenseFromDBResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromFileRequest">
    <wsdl:part name="parameters" element="tns:GetLicenseFromFile" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromFileRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromFileResponse">
    <wsdl:part name="parameters" element="tns:GetLicenseFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseFromFileResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetShopUrlRequest">
    <wsdl:part name="parameters" element="tns:GetShopUrl" />
  </wsdl:message>
  <wsdl:message name="GetShopUrlRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetShopUrlResponse">
    <wsdl:part name="parameters" element="tns:GetShopUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetShopUrlResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesMDOListRequest">
    <wsdl:part name="parameters" element="tns:GetUserLicensesMDOList" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesMDOListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesMDOListResponse">
    <wsdl:part name="parameters" element="tns:GetUserLicensesMDOListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserLicensesMDOListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="License">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for License</summary>
    </wsdl:documentation>
    <wsdl:operation name="GetLicenseForAllOwnersFromDB">
      <wsdl:documentation>
        <summary>Get all licenses, with usage, from all module owners as they are stored in the database</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseForAllOwnersFromDB" name="GetLicenseForAllOwnersFromDBRequest" message="tns:GetLicenseForAllOwnersFromDBRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseForAllOwnersFromDBResponse" name="GetLicenseForAllOwnersFromDBResponse" message="tns:GetLicenseForAllOwnersFromDBResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseFromLicenseServer">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseFromLicenseServer" name="GetLicenseFromLicenseServerRequest" message="tns:GetLicenseFromLicenseServerRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseFromLicenseServerResponse" name="GetLicenseFromLicenseServerResponse" message="tns:GetLicenseFromLicenseServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleLicenseHistoryFromLicenseServer">
      <wsdl:documentation>
        <summary>Get details about a license from the license server.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetModuleLicenseHistoryFromLicenseServer" name="GetModuleLicenseHistoryFromLicenseServerRequest" message="tns:GetModuleLicenseHistoryFromLicenseServerRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetModuleLicenseHistoryFromLicenseServerResponse" name="GetModuleLicenseHistoryFromLicenseServerResponse" message="tns:GetModuleLicenseHistoryFromLicenseServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseInfo">
      <wsdl:documentation>
        <summary>Validate that a license is consistant.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/ValidateLicenseInfo" name="ValidateLicenseInfoRequest" message="tns:ValidateLicenseInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/ValidateLicenseInfoResponse" name="ValidateLicenseInfoResponse" message="tns:ValidateLicenseInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ActivateLicenseInfo">
      <wsdl:documentation>
        <summary>Save a new license to the database.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/ActivateLicenseInfo" name="ActivateLicenseInfoRequest" message="tns:ActivateLicenseInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/ActivateLicenseInfoResponse" name="ActivateLicenseInfoResponse" message="tns:ActivateLicenseInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseStatusFromLicenseServer">
      <wsdl:documentation>
        <summary>Get License from the license server for a particular module owner.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseStatusFromLicenseServer" name="GetLicenseStatusFromLicenseServerRequest" message="tns:GetLicenseStatusFromLicenseServerRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseStatusFromLicenseServerResponse" name="GetLicenseStatusFromLicenseServerResponse" message="tns:GetLicenseStatusFromLicenseServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseFromDB">
      <wsdl:documentation>
        <summary>Get license, with usage, as it is stored in the database for one particular module owner.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseFromDB" name="GetLicenseFromDBRequest" message="tns:GetLicenseFromDBRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseFromDBResponse" name="GetLicenseFromDBResponse" message="tns:GetLicenseFromDBResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSerialNumber">
      <wsdl:documentation>
        <summary>Change the new serial number for the installation.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/ChangeSerialNumber" name="ChangeSerialNumberRequest" message="tns:ChangeSerialNumberRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/ChangeSerialNumberResponse" name="ChangeSerialNumberResponse" message="tns:ChangeSerialNumberResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLicenses">
      <wsdl:documentation>
        <summary>Obtain information about associate module licenses</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetUserLicenses" name="GetUserLicensesRequest" message="tns:GetUserLicensesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetUserLicensesResponse" name="GetUserLicensesResponse" message="tns:GetUserLicensesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSatelliteLicenses">
      <wsdl:documentation>
        <summary>Obtain information about satellite module licenses</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetSatelliteLicenses" name="GetSatelliteLicensesRequest" message="tns:GetSatelliteLicensesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetSatelliteLicensesResponse" name="GetSatelliteLicensesResponse" message="tns:GetSatelliteLicensesResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLicenseFromDB">
      <wsdl:documentation>
        <summary>Remove the license from a particular module owner from the database.  It is not permitted to remove licenses from SuperOffice</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/RemoveLicenseFromDB" name="RemoveLicenseFromDBRequest" message="tns:RemoveLicenseFromDBRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/RemoveLicenseFromDBResponse" name="RemoveLicenseFromDBResponse" message="tns:RemoveLicenseFromDBResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseFromFile">
      <wsdl:documentation>
        <summary>Load a new license from file</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseFromFile" name="GetLicenseFromFileRequest" message="tns:GetLicenseFromFileRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetLicenseFromFileResponse" name="GetLicenseFromFileResponse" message="tns:GetLicenseFromFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetShopUrl">
      <wsdl:documentation>
        <summary>Get the shop URL for the specified module owner. This can be used to redirect user to the web shop.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetShopUrl" name="GetShopUrlRequest" message="tns:GetShopUrlRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetShopUrlResponse" name="GetShopUrlResponse" message="tns:GetShopUrlResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLicensesMDOList">
      <wsdl:documentation>
        <summary>Get all licenses in a MDOListItem structure.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetUserLicensesMDOList" name="GetUserLicensesMDOListRequest" message="tns:GetUserLicensesMDOListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/License/GetUserLicensesMDOListResponse" name="GetUserLicensesMDOListResponse" message="tns:GetUserLicensesMDOListResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>