AOS.DataAccesslayer/Service References/Archive75/Archive1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Archive.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Archive.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Archive.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultArchiveListResultRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultArchiveListResult" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultArchiveListResultRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultArchiveListResultResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultArchiveListResultResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultArchiveListResultResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetActivityFilterRequest">
    <wsdl:part name="parameters" element="tns:GetActivityFilter" />
  </wsdl:message>
  <wsdl:message name="GetActivityFilterRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetActivityFilterResponse">
    <wsdl:part name="parameters" element="tns:GetActivityFilterResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivityFilterResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetActivityFilterRequest">
    <wsdl:part name="parameters" element="tns:SetActivityFilter" />
  </wsdl:message>
  <wsdl:message name="SetActivityFilterRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetActivityFilterResponse">
    <wsdl:part name="parameters" element="tns:SetActivityFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetActivityFilterResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetGroupAssociateIdsRequest">
    <wsdl:part name="parameters" element="tns:GetGroupAssociateIds" />
  </wsdl:message>
  <wsdl:message name="GetGroupAssociateIdsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetGroupAssociateIdsResponse">
    <wsdl:part name="parameters" element="tns:GetGroupAssociateIdsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupAssociateIdsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveConfiguration" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationWithContextRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveConfigurationWithContext" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationWithContextResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveConfigurationWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveConfigurationWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetColumnWidthsRequest">
    <wsdl:part name="parameters" element="tns:SetColumnWidths" />
  </wsdl:message>
  <wsdl:message name="SetColumnWidthsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetColumnWidthsResponse">
    <wsdl:part name="parameters" element="tns:SetColumnWidthsResponse" />
  </wsdl:message>
  <wsdl:message name="SetColumnWidthsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetChosenEntitiesRequest">
    <wsdl:part name="parameters" element="tns:SetChosenEntities" />
  </wsdl:message>
  <wsdl:message name="SetChosenEntitiesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetChosenEntitiesResponse">
    <wsdl:part name="parameters" element="tns:SetChosenEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="SetChosenEntitiesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetChosenColumnsRequest">
    <wsdl:part name="parameters" element="tns:SetChosenColumns" />
  </wsdl:message>
  <wsdl:message name="SetChosenColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetChosenColumnsResponse">
    <wsdl:part name="parameters" element="tns:SetChosenColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="SetChosenColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumns" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithContextRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsWithContext" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithContextResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveList" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveListResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListWithContextRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveListWithContext" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListWithContextResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveListWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsWithHeader" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsWithHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProviderNamesRequest">
    <wsdl:part name="parameters" element="tns:GetProviderNames" />
  </wsdl:message>
  <wsdl:message name="GetProviderNamesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProviderNamesResponse">
    <wsdl:part name="parameters" element="tns:GetProviderNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderNamesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderWithContextRequest">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsWithHeaderWithContext" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderWithContextResponse">
    <wsdl:part name="parameters" element="tns:GetArchiveListByColumnsWithHeaderWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="GetArchiveListByColumnsWithHeaderWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="Archive">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for Archive</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultArchiveListResult">
      <wsdl:documentation>
        <summary>Loading default values into a new ArchiveListResult.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/CreateDefaultArchiveListResult" name="CreateDefaultArchiveListResultRequest" message="tns:CreateDefaultArchiveListResultRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/CreateDefaultArchiveListResultResponse" name="CreateDefaultArchiveListResultResponse" message="tns:CreateDefaultArchiveListResultResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetActivityFilter">
      <wsdl:documentation>
        <summary>Get activity filter for the specified list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetActivityFilter" name="GetActivityFilterRequest" message="tns:GetActivityFilterRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetActivityFilterResponse" name="GetActivityFilterResponse" message="tns:GetActivityFilterResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetActivityFilter">
      <wsdl:documentation>
        <summary>Set activity filter for the specified list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetActivityFilter" name="SetActivityFilterRequest" message="tns:SetActivityFilterRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetActivityFilterResponse" name="SetActivityFilterResponse" message="tns:SetActivityFilterResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupAssociateIds">
      <wsdl:documentation>
        <summary>Returns the  associate ids that belongs to the given groups</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetGroupAssociateIds" name="GetGroupAssociateIdsRequest" message="tns:GetGroupAssociateIdsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetGroupAssociateIdsResponse" name="GetGroupAssociateIdsResponse" message="tns:GetGroupAssociateIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveConfiguration">
      <wsdl:documentation>
        <summary>Get the configuration for one archive. The configuration is keyed by a combination of archive provider name and gui name. The archive provider name must match an archive provider plugin; the gui name is an arbitrary string used to distinguish multiple occurrences of the same underlying provider in a gui.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfiguration" name="GetArchiveConfigurationRequest" message="tns:GetArchiveConfigurationRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfigurationResponse" name="GetArchiveConfigurationResponse" message="tns:GetArchiveConfigurationResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveConfigurationWithContext">
      <wsdl:documentation>
        <summary>Get the configuration for one archive, with context parameter. The configuration is keyed by a combination of archive provider name and gui name. The archive provider name must match an archive provider plugin; the gui name is an arbitrary string used to distinguish multiple occurrences of the same underlying provider in a gui.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfigurationWithContext" name="GetArchiveConfigurationWithContextRequest" message="tns:GetArchiveConfigurationWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfigurationWithContextResponse" name="GetArchiveConfigurationWithContextResponse" message="tns:GetArchiveConfigurationWithContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetColumnWidths">
      <wsdl:documentation>
        <summary>Set the column widths for the given set of columns and GUI name. </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetColumnWidths" name="SetColumnWidthsRequest" message="tns:SetColumnWidthsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetColumnWidthsResponse" name="SetColumnWidthsResponse" message="tns:SetColumnWidthsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetChosenEntities">
      <wsdl:documentation>
        <summary>Set the currently chosen entities for the given gui name/provider name combination. This service corresponds to the SetSelected method of the SelectableMDOList service, for a list called archiveEntities: plus the archive provider name and gui name as its additionalInfo.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenEntities" name="SetChosenEntitiesRequest" message="tns:SetChosenEntitiesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenEntitiesResponse" name="SetChosenEntitiesResponse" message="tns:SetChosenEntitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetChosenColumns">
      <wsdl:documentation>
        <summary>Set the currently chosen columns for the given gui name/provider name combination. This service corresponds to the SetSelected method of the SelectableMDOList service, for a list called archiveColumns: plus the archive provider name and gui name as its additionalInfo.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenColumns" name="SetChosenColumnsRequest" message="tns:SetChosenColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenColumnsResponse" name="SetChosenColumnsResponse" message="tns:SetChosenColumnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumns">
      <wsdl:documentation>
        <summary>Get a page of results for an archive list, explicitly specifying the restrictions, orderby and chosen columns.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumns" name="GetArchiveListByColumnsRequest" message="tns:GetArchiveListByColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsResponse" name="GetArchiveListByColumnsResponse" message="tns:GetArchiveListByColumnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithContext">
      <wsdl:documentation>
        <summary>Get a page of results for an archive list with context parameter, explicitly specifying the restrictions, orderby and chosen columns.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithContext" name="GetArchiveListByColumnsWithContextRequest" message="tns:GetArchiveListByColumnsWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithContextResponse" name="GetArchiveListByColumnsWithContextResponse" message="tns:GetArchiveListByColumnsWithContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveList">
      <wsdl:documentation>
        <summary>Get a page of data for an archive. The columns returned will be those set as chosen columns, using either the SetChosenColumns service or the corresponding SelectableMDOList.SetSelected.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveList" name="GetArchiveListRequest" message="tns:GetArchiveListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListResponse" name="GetArchiveListResponse" message="tns:GetArchiveListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListWithContext">
      <wsdl:documentation>
        <summary>Get a page of data for an archive, with context parameter. The columns returned will be those set as chosen columns, using either the SetChosenColumns service or the corresponding SelectableMDOList.SetSelected.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListWithContext" name="GetArchiveListWithContextRequest" message="tns:GetArchiveListWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListWithContextResponse" name="GetArchiveListWithContextResponse" message="tns:GetArchiveListWithContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithHeader">
      <wsdl:documentation>
        <summary>Get a page of results for an archive list, explicitly specifying the restrictions, orderby and chosen columns; as well as a name/value string formatted set of options. The return value includes a header that has various extra information, in addition to the actual rows.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeader" name="GetArchiveListByColumnsWithHeaderRequest" message="tns:GetArchiveListByColumnsWithHeaderRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeaderResponse" name="GetArchiveListByColumnsWithHeaderResponse" message="tns:GetArchiveListByColumnsWithHeaderResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderNames">
      <wsdl:documentation>
        <summary>Return list of all archive provider names</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetProviderNames" name="GetProviderNamesRequest" message="tns:GetProviderNamesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetProviderNamesResponse" name="GetProviderNamesResponse" message="tns:GetProviderNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithHeaderWithContext">
      <wsdl:documentation>
        <summary>Get a page of results for an archive list, with context parameter, explicitly specifying the restrictions, orderby and chosen columns; as well as a name/value string formatted set of options. The return value includes a header that has various extra information, in addition to the actual rows.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeaderWithContext" name="GetArchiveListByColumnsWithHeaderWithContextRequest" message="tns:GetArchiveListByColumnsWithHeaderWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeaderWithContextResponse" name="GetArchiveListByColumnsWithHeaderWithContextResponse" message="tns:GetArchiveListByColumnsWithHeaderWithContextResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>