AOS.DataAccesslayer/Service References/Archive75/WcfArchiveService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfArchiveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_Archive1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" location="http://192.168.10.151/SuperOffice/Remote/Services75/Archive.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Archive" type="i0:Archive">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultArchiveListResult">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/CreateDefaultArchiveListResult" style="document" />
      <wsdl:input name="CreateDefaultArchiveListResultRequest">
        <soap:header message="i0:CreateDefaultArchiveListResultRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultArchiveListResultResponse">
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityFilter">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetActivityFilter" style="document" />
      <wsdl:input name="GetActivityFilterRequest">
        <soap:header message="i0:GetActivityFilterRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetActivityFilterRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetActivityFilterRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetActivityFilterResponse">
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetActivityFilter">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetActivityFilter" style="document" />
      <wsdl:input name="SetActivityFilterRequest">
        <soap:header message="i0:SetActivityFilterRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetActivityFilterRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetActivityFilterRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetActivityFilterResponse">
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupAssociateIds">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetGroupAssociateIds" style="document" />
      <wsdl:input name="GetGroupAssociateIdsRequest">
        <soap:header message="i0:GetGroupAssociateIdsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGroupAssociateIdsResponse">
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveConfiguration">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfiguration" style="document" />
      <wsdl:input name="GetArchiveConfigurationRequest">
        <soap:header message="i0:GetArchiveConfigurationRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveConfigurationResponse">
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveConfigurationWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfigurationWithContext" style="document" />
      <wsdl:input name="GetArchiveConfigurationWithContextRequest">
        <soap:header message="i0:GetArchiveConfigurationWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveConfigurationWithContextResponse">
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetColumnWidths">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetColumnWidths" style="document" />
      <wsdl:input name="SetColumnWidthsRequest">
        <soap:header message="i0:SetColumnWidthsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetColumnWidthsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetColumnWidthsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetColumnWidthsResponse">
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChosenEntities">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenEntities" style="document" />
      <wsdl:input name="SetChosenEntitiesRequest">
        <soap:header message="i0:SetChosenEntitiesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetChosenEntitiesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetChosenEntitiesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetChosenEntitiesResponse">
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChosenColumns">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenColumns" style="document" />
      <wsdl:input name="SetChosenColumnsRequest">
        <soap:header message="i0:SetChosenColumnsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetChosenColumnsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetChosenColumnsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetChosenColumnsResponse">
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumns">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumns" style="document" />
      <wsdl:input name="GetArchiveListByColumnsRequest">
        <soap:header message="i0:GetArchiveListByColumnsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsResponse">
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithContext" style="document" />
      <wsdl:input name="GetArchiveListByColumnsWithContextRequest">
        <soap:header message="i0:GetArchiveListByColumnsWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsWithContextResponse">
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveList" style="document" />
      <wsdl:input name="GetArchiveListRequest">
        <soap:header message="i0:GetArchiveListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListResponse">
        <soap:header message="i0:GetArchiveListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListWithContext" style="document" />
      <wsdl:input name="GetArchiveListWithContextRequest">
        <soap:header message="i0:GetArchiveListWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListWithContextResponse">
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithHeader">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeader" style="document" />
      <wsdl:input name="GetArchiveListByColumnsWithHeaderRequest">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsWithHeaderResponse">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderNames">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetProviderNames" style="document" />
      <wsdl:input name="GetProviderNamesRequest">
        <soap:header message="i0:GetProviderNamesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetProviderNamesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetProviderNamesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProviderNamesResponse">
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithHeaderWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeaderWithContext" style="document" />
      <wsdl:input name="GetArchiveListByColumnsWithHeaderWithContextRequest">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsWithHeaderWithContextResponse">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_Archive1" type="i0:Archive">
    <wsp:PolicyReference URI="#BasicHttpBinding_Archive1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultArchiveListResult">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/CreateDefaultArchiveListResult" style="document" />
      <wsdl:input name="CreateDefaultArchiveListResultRequest">
        <soap:header message="i0:CreateDefaultArchiveListResultRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultArchiveListResultResponse">
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultArchiveListResultResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityFilter">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetActivityFilter" style="document" />
      <wsdl:input name="GetActivityFilterRequest">
        <soap:header message="i0:GetActivityFilterRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetActivityFilterRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetActivityFilterRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetActivityFilterResponse">
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetActivityFilterResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetActivityFilter">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetActivityFilter" style="document" />
      <wsdl:input name="SetActivityFilterRequest">
        <soap:header message="i0:SetActivityFilterRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetActivityFilterRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetActivityFilterRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetActivityFilterResponse">
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetActivityFilterResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupAssociateIds">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetGroupAssociateIds" style="document" />
      <wsdl:input name="GetGroupAssociateIdsRequest">
        <soap:header message="i0:GetGroupAssociateIdsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGroupAssociateIdsResponse">
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetGroupAssociateIdsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveConfiguration">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfiguration" style="document" />
      <wsdl:input name="GetArchiveConfigurationRequest">
        <soap:header message="i0:GetArchiveConfigurationRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveConfigurationResponse">
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveConfigurationWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveConfigurationWithContext" style="document" />
      <wsdl:input name="GetArchiveConfigurationWithContextRequest">
        <soap:header message="i0:GetArchiveConfigurationWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveConfigurationWithContextResponse">
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveConfigurationWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetColumnWidths">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetColumnWidths" style="document" />
      <wsdl:input name="SetColumnWidthsRequest">
        <soap:header message="i0:SetColumnWidthsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetColumnWidthsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetColumnWidthsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetColumnWidthsResponse">
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetColumnWidthsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChosenEntities">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenEntities" style="document" />
      <wsdl:input name="SetChosenEntitiesRequest">
        <soap:header message="i0:SetChosenEntitiesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetChosenEntitiesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetChosenEntitiesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetChosenEntitiesResponse">
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetChosenEntitiesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChosenColumns">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/SetChosenColumns" style="document" />
      <wsdl:input name="SetChosenColumnsRequest">
        <soap:header message="i0:SetChosenColumnsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetChosenColumnsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetChosenColumnsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetChosenColumnsResponse">
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetChosenColumnsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumns">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumns" style="document" />
      <wsdl:input name="GetArchiveListByColumnsRequest">
        <soap:header message="i0:GetArchiveListByColumnsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsResponse">
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithContext" style="document" />
      <wsdl:input name="GetArchiveListByColumnsWithContextRequest">
        <soap:header message="i0:GetArchiveListByColumnsWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsWithContextResponse">
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveList" style="document" />
      <wsdl:input name="GetArchiveListRequest">
        <soap:header message="i0:GetArchiveListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListResponse">
        <soap:header message="i0:GetArchiveListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListWithContext" style="document" />
      <wsdl:input name="GetArchiveListWithContextRequest">
        <soap:header message="i0:GetArchiveListWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListWithContextResponse">
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithHeader">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeader" style="document" />
      <wsdl:input name="GetArchiveListByColumnsWithHeaderRequest">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsWithHeaderResponse">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderNames">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetProviderNames" style="document" />
      <wsdl:input name="GetProviderNamesRequest">
        <soap:header message="i0:GetProviderNamesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetProviderNamesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetProviderNamesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProviderNamesResponse">
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetProviderNamesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveListByColumnsWithHeaderWithContext">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Archive/GetArchiveListByColumnsWithHeaderWithContext" style="document" />
      <wsdl:input name="GetArchiveListByColumnsWithHeaderWithContextRequest">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetArchiveListByColumnsWithHeaderWithContextResponse">
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetArchiveListByColumnsWithHeaderWithContextResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfArchiveService">
    <wsdl:port name="BasicHttpBinding_Archive" binding="tns:BasicHttpBinding_Archive">
      <soap:address location="http://192.168.10.151/SuperOffice/Remote/Services75/Archive.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_Archive1" binding="tns:BasicHttpBinding_Archive1">
      <soap:address location="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Archive.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>