AOS.DataAccesslayer/Service References/UserDefinedFieldInfo82/UserDefinedFieldInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82/Imports">
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultUserDefinedFieldInfoRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultUserDefinedFieldInfo" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultUserDefinedFieldInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultUserDefinedFieldInfoResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultUserDefinedFieldInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultUserDefinedFieldInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfoRequest">
    <wsdl:part name="parameters" element="tns:SaveUserDefinedFieldInfo" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfoResponse">
    <wsdl:part name="parameters" element="tns:SaveUserDefinedFieldInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteUserDefinedFieldInfoRequest">
    <wsdl:part name="parameters" element="tns:DeleteUserDefinedFieldInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteUserDefinedFieldInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteUserDefinedFieldInfoResponse">
    <wsdl:part name="parameters" element="tns:DeleteUserDefinedFieldInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserDefinedFieldInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldInfoRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldInfoResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldListRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldList" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldListResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromFieldLabelRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromFieldLabel" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromFieldLabelRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromFieldLabelResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromFieldLabelResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromFieldLabelResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromProgId" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromProgIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromIdsRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromIds" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromIdsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromIdsResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromIdsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromIdsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdsRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromProgIds" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdsResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedFieldFromProgIdsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedFieldFromProgIdsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateUserDefinedFieldInfoRequest">
    <wsdl:part name="parameters" element="tns:CreateUserDefinedFieldInfo" />
  </wsdl:message>
  <wsdl:message name="CreateUserDefinedFieldInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateUserDefinedFieldInfoResponse">
    <wsdl:part name="parameters" element="tns:CreateUserDefinedFieldInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserDefinedFieldInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeFieldTypeRequest">
    <wsdl:part name="parameters" element="tns:ChangeFieldType" />
  </wsdl:message>
  <wsdl:message name="ChangeFieldTypeRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeFieldTypeResponse">
    <wsdl:part name="parameters" element="tns:ChangeFieldTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeFieldTypeResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedPageOneFieldsRequest">
    <wsdl:part name="parameters" element="tns:GetUserDefinedPageOneFields" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedPageOneFieldsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedPageOneFieldsResponse">
    <wsdl:part name="parameters" element="tns:GetUserDefinedPageOneFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDefinedPageOneFieldsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="PublishRequest">
    <wsdl:part name="parameters" element="tns:Publish" />
  </wsdl:message>
  <wsdl:message name="PublishRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="PublishResponse">
    <wsdl:part name="parameters" element="tns:PublishResponse" />
  </wsdl:message>
  <wsdl:message name="PublishResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="RevertRequest">
    <wsdl:part name="parameters" element="tns:Revert" />
  </wsdl:message>
  <wsdl:message name="RevertRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="RevertResponse">
    <wsdl:part name="parameters" element="tns:RevertResponse" />
  </wsdl:message>
  <wsdl:message name="RevertResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfosRequest">
    <wsdl:part name="parameters" element="tns:SaveUserDefinedFieldInfos" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfosRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfosResponse">
    <wsdl:part name="parameters" element="tns:SaveUserDefinedFieldInfosResponse" />
  </wsdl:message>
  <wsdl:message name="SaveUserDefinedFieldInfosResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DetectUnpublishedChangesRequest">
    <wsdl:part name="parameters" element="tns:DetectUnpublishedChanges" />
  </wsdl:message>
  <wsdl:message name="DetectUnpublishedChangesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DetectUnpublishedChangesResponse">
    <wsdl:part name="parameters" element="tns:DetectUnpublishedChangesResponse" />
  </wsdl:message>
  <wsdl:message name="DetectUnpublishedChangesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DetectColumnIdChangesRequest">
    <wsdl:part name="parameters" element="tns:DetectColumnIdChanges" />
  </wsdl:message>
  <wsdl:message name="DetectColumnIdChangesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DetectColumnIdChangesResponse">
    <wsdl:part name="parameters" element="tns:DetectColumnIdChangesResponse" />
  </wsdl:message>
  <wsdl:message name="DetectColumnIdChangesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetUserDefinedPageOneFieldRequest">
    <wsdl:part name="parameters" element="tns:SetUserDefinedPageOneField" />
  </wsdl:message>
  <wsdl:message name="SetUserDefinedPageOneFieldRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetUserDefinedPageOneFieldResponse">
    <wsdl:part name="parameters" element="tns:SetUserDefinedPageOneFieldResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserDefinedPageOneFieldResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsPublishEventActiveRequest">
    <wsdl:part name="parameters" element="tns:IsPublishEventActive" />
  </wsdl:message>
  <wsdl:message name="IsPublishEventActiveRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsPublishEventActiveResponse">
    <wsdl:part name="parameters" element="tns:IsPublishEventActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IsPublishEventActiveResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsAnyPublishEventActiveRequest">
    <wsdl:part name="parameters" element="tns:IsAnyPublishEventActive" />
  </wsdl:message>
  <wsdl:message name="IsAnyPublishEventActiveRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsAnyPublishEventActiveResponse">
    <wsdl:part name="parameters" element="tns:IsAnyPublishEventActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IsAnyPublishEventActiveResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetChangedPageOneFieldsRequest">
    <wsdl:part name="parameters" element="tns:GetChangedPageOneFields" />
  </wsdl:message>
  <wsdl:message name="GetChangedPageOneFieldsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetChangedPageOneFieldsResponse">
    <wsdl:part name="parameters" element="tns:GetChangedPageOneFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChangedPageOneFieldsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPageOneFieldGroupingRequest">
    <wsdl:part name="parameters" element="tns:SetPageOneFieldGrouping" />
  </wsdl:message>
  <wsdl:message name="SetPageOneFieldGroupingRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPageOneFieldGroupingResponse">
    <wsdl:part name="parameters" element="tns:SetPageOneFieldGroupingResponse" />
  </wsdl:message>
  <wsdl:message name="SetPageOneFieldGroupingResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdRequest">
    <wsdl:part name="parameters" element="tns:SetListTableIdAndUDListDefinitionIdFromSelectedListId" />
  </wsdl:message>
  <wsdl:message name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse">
    <wsdl:part name="parameters" element="tns:SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse" />
  </wsdl:message>
  <wsdl:message name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FigureOutListIdFromListTableIdAndUDListDefinitionIdRequest">
    <wsdl:part name="parameters" element="tns:FigureOutListIdFromListTableIdAndUDListDefinitionId" />
  </wsdl:message>
  <wsdl:message name="FigureOutListIdFromListTableIdAndUDListDefinitionIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse">
    <wsdl:part name="parameters" element="tns:FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse" />
  </wsdl:message>
  <wsdl:message name="FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetRankOnFieldsRequest">
    <wsdl:part name="parameters" element="tns:SetRankOnFields" />
  </wsdl:message>
  <wsdl:message name="SetRankOnFieldsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetRankOnFieldsResponse">
    <wsdl:part name="parameters" element="tns:SetRankOnFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="SetRankOnFieldsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPublishStartSystemEventRequest">
    <wsdl:part name="parameters" element="tns:SetPublishStartSystemEvent" />
  </wsdl:message>
  <wsdl:message name="SetPublishStartSystemEventRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPublishStartSystemEventResponse">
    <wsdl:part name="parameters" element="tns:SetPublishStartSystemEventResponse" />
  </wsdl:message>
  <wsdl:message name="SetPublishStartSystemEventResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="UserDefinedFieldInfo">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for UserDefinedFieldInfo</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultUserDefinedFieldInfo">
      <wsdl:documentation>
        <summary>Loading default values into a new UserDefinedFieldInfo.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/CreateDefaultUserDefinedFieldInfo" name="CreateDefaultUserDefinedFieldInfoRequest" message="tns:CreateDefaultUserDefinedFieldInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/CreateDefaultUserDefinedFieldInfoResponse" name="CreateDefaultUserDefinedFieldInfoResponse" message="tns:CreateDefaultUserDefinedFieldInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserDefinedFieldInfo">
      <wsdl:documentation>
        <summary>Updates the existing UserDefinedFieldInfo or creates a new UserDefinedFieldInfo if the id parameter is empty.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SaveUserDefinedFieldInfo" name="SaveUserDefinedFieldInfoRequest" message="tns:SaveUserDefinedFieldInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SaveUserDefinedFieldInfoResponse" name="SaveUserDefinedFieldInfoResponse" message="tns:SaveUserDefinedFieldInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDefinedFieldInfo">
      <wsdl:documentation>
        <summary>Deletes the UserDefinedFieldInfo</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/DeleteUserDefinedFieldInfo" name="DeleteUserDefinedFieldInfoRequest" message="tns:DeleteUserDefinedFieldInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/DeleteUserDefinedFieldInfoResponse" name="DeleteUserDefinedFieldInfoResponse" message="tns:DeleteUserDefinedFieldInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldInfo">
      <wsdl:documentation>
        <summary>Gets a UserDefinedFieldInfo object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldInfo" name="GetUserDefinedFieldInfoRequest" message="tns:GetUserDefinedFieldInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldInfoResponse" name="GetUserDefinedFieldInfoResponse" message="tns:GetUserDefinedFieldInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldList">
      <wsdl:documentation>
        <summary>Return information about all the user defined fields on a particular owner type (project, contact, person, etc).</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldList" name="GetUserDefinedFieldListRequest" message="tns:GetUserDefinedFieldListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldListResponse" name="GetUserDefinedFieldListResponse" message="tns:GetUserDefinedFieldListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldFromFieldLabel">
      <wsdl:documentation>
        <summary>Return information about the given user defined field identified by the owner and the field label. Note that field labels are fuzzy. Leading and trailing spaces and punctuation are ignored.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromFieldLabel" name="GetUserDefinedFieldFromFieldLabelRequest" message="tns:GetUserDefinedFieldFromFieldLabelRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromFieldLabelResponse" name="GetUserDefinedFieldFromFieldLabelResponse" message="tns:GetUserDefinedFieldFromFieldLabelResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldFromProgId">
      <wsdl:documentation>
        <summary>Return information about the given user defined field identified by the owner and the prog-id. The prog-id is used as the key in the entity carriers.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromProgId" name="GetUserDefinedFieldFromProgIdRequest" message="tns:GetUserDefinedFieldFromProgIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromProgIdResponse" name="GetUserDefinedFieldFromProgIdResponse" message="tns:GetUserDefinedFieldFromProgIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldFromIds">
      <wsdl:documentation>
        <summary>Return an given array of user defined field identified by the ids.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromIds" name="GetUserDefinedFieldFromIdsRequest" message="tns:GetUserDefinedFieldFromIdsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromIdsResponse" name="GetUserDefinedFieldFromIdsResponse" message="tns:GetUserDefinedFieldFromIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldFromProgIds">
      <wsdl:documentation>
        <summary>Return an given array user defined field identified by the owner and the prog-ids. The prog-id is used as the key in the entity carriers.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromProgIds" name="GetUserDefinedFieldFromProgIdsRequest" message="tns:GetUserDefinedFieldFromProgIdsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedFieldFromProgIdsResponse" name="GetUserDefinedFieldFromProgIdsResponse" message="tns:GetUserDefinedFieldFromProgIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserDefinedFieldInfo">
      <wsdl:documentation>
        <summary>Create a UserDefinedFieldInfo based on a owner-entity id</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/CreateUserDefinedFieldInfo" name="CreateUserDefinedFieldInfoRequest" message="tns:CreateUserDefinedFieldInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/CreateUserDefinedFieldInfoResponse" name="CreateUserDefinedFieldInfoResponse" message="tns:CreateUserDefinedFieldInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeFieldType">
      <wsdl:documentation>
        <summary>Create a UserDefinedFieldInfo based on a owner-entity id</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/ChangeFieldType" name="ChangeFieldTypeRequest" message="tns:ChangeFieldTypeRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/ChangeFieldTypeResponse" name="ChangeFieldTypeResponse" message="tns:ChangeFieldTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedPageOneFields">
      <wsdl:documentation>
        <summary>Get a list of page one fields for given Udef type and current user group</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedPageOneFields" name="GetUserDefinedPageOneFieldsRequest" message="tns:GetUserDefinedPageOneFieldsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetUserDefinedPageOneFieldsResponse" name="GetUserDefinedPageOneFieldsResponse" message="tns:GetUserDefinedPageOneFieldsResponse" />
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <wsdl:documentation>
        <summary>Publish changed Udef fields for the given owner type</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/Publish" name="PublishRequest" message="tns:PublishRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/PublishResponse" name="PublishResponse" message="tns:PublishResponse" />
    </wsdl:operation>
    <wsdl:operation name="Revert">
      <wsdl:documentation>
        <summary>Revert changed Udef fields for the given owner type - all unpublished changes will be lost</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/Revert" name="RevertRequest" message="tns:RevertRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/RevertResponse" name="RevertResponse" message="tns:RevertResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserDefinedFieldInfos">
      <wsdl:documentation>
        <summary>Save an array of user defined fields</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SaveUserDefinedFieldInfos" name="SaveUserDefinedFieldInfosRequest" message="tns:SaveUserDefinedFieldInfosRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SaveUserDefinedFieldInfosResponse" name="SaveUserDefinedFieldInfosResponse" message="tns:SaveUserDefinedFieldInfosResponse" />
    </wsdl:operation>
    <wsdl:operation name="DetectUnpublishedChanges">
      <wsdl:documentation>
        <summary>Detect changes to the admin version (unpublished)</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/DetectUnpublishedChanges" name="DetectUnpublishedChangesRequest" message="tns:DetectUnpublishedChangesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/DetectUnpublishedChangesResponse" name="DetectUnpublishedChangesResponse" message="tns:DetectUnpublishedChangesResponse" />
    </wsdl:operation>
    <wsdl:operation name="DetectColumnIdChanges">
      <wsdl:documentation>
        <summary>Detect columnid changes to the admin version (for determining publish warning)</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/DetectColumnIdChanges" name="DetectColumnIdChangesRequest" message="tns:DetectColumnIdChangesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/DetectColumnIdChangesResponse" name="DetectColumnIdChangesResponse" message="tns:DetectColumnIdChangesResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetUserDefinedPageOneField">
      <wsdl:documentation>
        <summary>Sets a user defined fields as page one field.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetUserDefinedPageOneField" name="SetUserDefinedPageOneFieldRequest" message="tns:SetUserDefinedPageOneFieldRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetUserDefinedPageOneFieldResponse" name="SetUserDefinedPageOneFieldResponse" message="tns:SetUserDefinedPageOneFieldResponse" />
    </wsdl:operation>
    <wsdl:operation name="IsPublishEventActive">
      <wsdl:documentation>
        <summary>Check if the publish event is active for the given type</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/IsPublishEventActive" name="IsPublishEventActiveRequest" message="tns:IsPublishEventActiveRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/IsPublishEventActiveResponse" name="IsPublishEventActiveResponse" message="tns:IsPublishEventActiveResponse" />
    </wsdl:operation>
    <wsdl:operation name="IsAnyPublishEventActive">
      <wsdl:documentation>
        <summary>Check if any publish events are active</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/IsAnyPublishEventActive" name="IsAnyPublishEventActiveRequest" message="tns:IsAnyPublishEventActiveRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/IsAnyPublishEventActiveResponse" name="IsAnyPublishEventActiveResponse" message="tns:IsAnyPublishEventActiveResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetChangedPageOneFields">
      <wsdl:documentation>
        <summary>Gets which page one fields have changed from the current version</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetChangedPageOneFields" name="GetChangedPageOneFieldsRequest" message="tns:GetChangedPageOneFieldsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/GetChangedPageOneFieldsResponse" name="GetChangedPageOneFieldsResponse" message="tns:GetChangedPageOneFieldsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPageOneFieldGrouping">
      <wsdl:documentation>
        <summary>Sets the Page One Field grouping for a specific entity</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetPageOneFieldGrouping" name="SetPageOneFieldGroupingRequest" message="tns:SetPageOneFieldGroupingRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetPageOneFieldGroupingResponse" name="SetPageOneFieldGroupingResponse" message="tns:SetPageOneFieldGroupingResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetListTableIdAndUDListDefinitionIdFromSelectedListId">
      <wsdl:documentation>
        <summary>Make stuff similar to what happens in the win client</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetListTableIdAndUDListDefinitionIdFromSelectedListId" name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdRequest" message="tns:SetListTableIdAndUDListDefinitionIdFromSelectedListIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse" name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse" message="tns:SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="FigureOutListIdFromListTableIdAndUDListDefinitionId">
      <wsdl:documentation>
        <summary>Kind of the reverse of SetListTableIdAndUDListDefinitionIdFromSelectedListId</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/FigureOutListIdFromListTableIdAndUDListDefinitionId" name="FigureOutListIdFromListTableIdAndUDListDefinitionIdRequest" message="tns:FigureOutListIdFromListTableIdAndUDListDefinitionIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse" name="FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse" message="tns:FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetRankOnFields">
      <wsdl:documentation>
        <summary>Change rank of user defined fields</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetRankOnFields" name="SetRankOnFieldsRequest" message="tns:SetRankOnFieldsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetRankOnFieldsResponse" name="SetRankOnFieldsResponse" message="tns:SetRankOnFieldsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPublishStartSystemEvent">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetPublishStartSystemEvent" name="SetPublishStartSystemEventRequest" message="tns:SetPublishStartSystemEventRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/UserDefinedFieldInfo/SetPublishStartSystemEventResponse" name="SetPublishStartSystemEventResponse" message="tns:SetPublishStartSystemEventResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>