AOS.DataAccesslayer/Service References/UserDefinedFieldInfo82/UserDefinedFieldInfo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDefaultUserDefinedFieldInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="Credentials" nillable="true" type="tns:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="CreateDefaultUserDefinedFieldInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UserDefinedFieldInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="UDefFieldId" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnId" type="xs:int" />
          <xs:element minOccurs="0" name="FieldDefault" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldHeight" type="xs:short" />
          <xs:element minOccurs="0" name="FieldLabel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldLeft" type="xs:short" />
          <xs:element minOccurs="0" name="FieldTop" type="xs:short" />
          <xs:element minOccurs="0" name="FieldType" type="tns:UDefFieldType" />
          <xs:element minOccurs="0" name="FieldWidth" type="xs:short" />
          <xs:element minOccurs="0" name="FormatMask" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HideLabel" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsIndexed" type="xs:boolean" />
          <xs:element minOccurs="0" name="LabelHeight" type="xs:short" />
          <xs:element minOccurs="0" name="LabelLeft" type="xs:short" />
          <xs:element minOccurs="0" name="LabelTop" type="xs:short" />
          <xs:element minOccurs="0" name="LabelWidth" type="xs:short" />
          <xs:element minOccurs="0" name="LastVersionId" type="xs:int" />
          <xs:element minOccurs="0" name="ListTableId" type="xs:short" />
          <xs:element minOccurs="0" name="IsMandatory" type="xs:boolean" />
          <xs:element minOccurs="0" name="Type" type="tns:UDefType" />
          <xs:element minOccurs="0" name="Page1LineNo" type="xs:short" />
          <xs:element minOccurs="0" name="ProgId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShortLabel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TabOrder" type="xs:short" />
          <xs:element minOccurs="0" name="TextLength" type="xs:short" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UdefIdentity" type="xs:int" />
          <xs:element minOccurs="0" name="UDListDefinitionId" type="xs:int" />
          <xs:element minOccurs="0" name="Justification" type="tns:UdefJustification" />
          <xs:element minOccurs="0" name="Version" type="xs:short" />
          <xs:element minOccurs="0" name="TemplateVariableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasBeenPublished" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDefinedFieldInfo" nillable="true" type="tns:UserDefinedFieldInfo" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
          <xs:enumeration value="UndefinedValue256" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:simpleType name="UDefFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Number">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ShortText">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LongText">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Date">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnlimitedDate">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Checkbox">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="List">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Decimal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UDefFieldType" nillable="true" type="tns:UDefFieldType" />
  <xs:simpleType name="UDefType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invalid" />
      <xs:enumeration value="Contact">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Person">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Project">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sale">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Temp">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Appointment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Document">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UDefType" nillable="true" type="tns:UDefType" />
  <xs:simpleType name="UdefJustification">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UdefJustification" nillable="true" type="tns:UdefJustification" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="SaveUserDefinedFieldInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDefinedFieldInfo" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDefinedFieldInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserDefinedFieldInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDefinedFieldInfoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserDefinedFieldInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDefinedFieldInfoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfUserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfUserDefinedFieldInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDefinedFieldInfo" nillable="true" type="tns:UserDefinedFieldInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDefinedFieldInfo" nillable="true" type="tns:ArrayOfUserDefinedFieldInfo" />
  <xs:element name="GetUserDefinedFieldFromFieldLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldLabel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromFieldLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromProgId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProgId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromProgIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfUserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromProgIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProgIds" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedFieldFromProgIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfUserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserDefinedFieldInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
        <xs:element minOccurs="0" name="FieldType" type="tns:UDefFieldType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserDefinedFieldInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFieldType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Info" nillable="true" type="tns:UserDefinedFieldInfo" />
        <xs:element minOccurs="0" name="FieldType" type="tns:UDefFieldType" />
        <xs:element minOccurs="0" name="IsIndexed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFieldTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedPageOneFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
        <xs:element minOccurs="0" name="UserGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDefinedPageOneFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfUserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Revert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDefinedFieldInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Infos" nillable="true" type="tns:ArrayOfUserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDefinedFieldInfosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectUnpublishedChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectUnpublishedChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectColumnIdChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectColumnIdChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserDefinedPageOneField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
        <xs:element minOccurs="0" name="UdefFieldId" type="xs:int" />
        <xs:element minOccurs="0" name="UserGroupId" type="xs:int" />
        <xs:element minOccurs="0" name="FieldLineNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserDefinedPageOneFieldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublishEventActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublishEventActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAnyPublishEventActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAnyPublishEventActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedPageOneFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
        <xs:element minOccurs="0" name="UserGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedPageOneFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Response" nillable="true" type="q3:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageOneFieldGrouping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
        <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageOneFieldGroupingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetListTableIdAndUDListDefinitionIdFromSelectedListId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Info" nillable="true" type="tns:UserDefinedFieldInfo" />
        <xs:element minOccurs="0" name="SelectedListId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetListTableIdAndUDListDefinitionIdFromSelectedListIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FigureOutListIdFromListTableIdAndUDListDefinitionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Info" nillable="true" type="tns:UserDefinedFieldInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FigureOutListIdFromListTableIdAndUDListDefinitionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRankOnFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RankedFieldsIds" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRankOnFieldsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublishStartSystemEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnerType" type="tns:UDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublishStartSystemEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>