AOS.DataAccesslayer/Service References/Associate75/WcfAssociateService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfAssociateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_Associate1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" location="http://192.168.10.151/SuperOffice/Remote/Services75/Associate.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Associate" type="i0:Associate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssociate">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociate" style="document" />
      <wsdl:input name="GetAssociateRequest">
        <soap:header message="i0:GetAssociateRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociateRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociateRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociateResponse">
        <soap:header message="i0:GetAssociateResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociateResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociateResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociateResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociateByPersonId">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociateByPersonId" style="document" />
      <wsdl:input name="GetAssociateByPersonIdRequest">
        <soap:header message="i0:GetAssociateByPersonIdRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociateByPersonIdResponse">
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetNote" style="document" />
      <wsdl:input name="GetNoteRequest">
        <soap:header message="i0:GetNoteRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetNoteRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetNoteRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNoteResponse">
        <soap:header message="i0:GetNoteResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetNoteResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetNoteResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetNoteResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/SaveNote" style="document" />
      <wsdl:input name="SaveNoteRequest">
        <soap:header message="i0:SaveNoteRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveNoteRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveNoteRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveNoteResponse">
        <soap:header message="i0:SaveNoteResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveNoteResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveNoteResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveNoteResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociateList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociateList" style="document" />
      <wsdl:input name="GetAssociateListRequest">
        <soap:header message="i0:GetAssociateListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociateListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociateListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociateListResponse">
        <soap:header message="i0:GetAssociateListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociateListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociateListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociateListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatesByGroup">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociatesByGroup" style="document" />
      <wsdl:input name="GetAssociatesByGroupRequest">
        <soap:header message="i0:GetAssociatesByGroupRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociatesByGroupResponse">
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_Associate1" type="i0:Associate">
    <wsp:PolicyReference URI="#BasicHttpBinding_Associate1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssociate">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociate" style="document" />
      <wsdl:input name="GetAssociateRequest">
        <soap:header message="i0:GetAssociateRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociateRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociateRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociateResponse">
        <soap:header message="i0:GetAssociateResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociateResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociateResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociateResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociateByPersonId">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociateByPersonId" style="document" />
      <wsdl:input name="GetAssociateByPersonIdRequest">
        <soap:header message="i0:GetAssociateByPersonIdRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociateByPersonIdResponse">
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociateByPersonIdResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetNote" style="document" />
      <wsdl:input name="GetNoteRequest">
        <soap:header message="i0:GetNoteRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetNoteRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetNoteRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNoteResponse">
        <soap:header message="i0:GetNoteResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetNoteResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetNoteResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetNoteResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/SaveNote" style="document" />
      <wsdl:input name="SaveNoteRequest">
        <soap:header message="i0:SaveNoteRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveNoteRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveNoteRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveNoteResponse">
        <soap:header message="i0:SaveNoteResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveNoteResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveNoteResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveNoteResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociateList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociateList" style="document" />
      <wsdl:input name="GetAssociateListRequest">
        <soap:header message="i0:GetAssociateListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociateListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociateListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociateListResponse">
        <soap:header message="i0:GetAssociateListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociateListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociateListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociateListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatesByGroup">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Associate/GetAssociatesByGroup" style="document" />
      <wsdl:input name="GetAssociatesByGroupRequest">
        <soap:header message="i0:GetAssociatesByGroupRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAssociatesByGroupResponse">
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAssociatesByGroupResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfAssociateService">
    <wsdl:port name="BasicHttpBinding_Associate" binding="tns:BasicHttpBinding_Associate">
      <soap:address location="http://192.168.10.151/SuperOffice/Remote/Services75/Associate.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_Associate1" binding="tns:BasicHttpBinding_Associate1">
      <soap:address location="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Associate.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>