AOS.DataAccesslayer/Service References/Blob82/BLOB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82/Imports">
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/BLOB.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/BLOB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultBlobEntityRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultBlobEntity" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultBlobEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultBlobEntityResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultBlobEntityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultBlobEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveBlobEntityRequest">
    <wsdl:part name="parameters" element="tns:SaveBlobEntity" />
  </wsdl:message>
  <wsdl:message name="SaveBlobEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveBlobEntityResponse">
    <wsdl:part name="parameters" element="tns:SaveBlobEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SaveBlobEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteBlobEntityRequest">
    <wsdl:part name="parameters" element="tns:DeleteBlobEntity" />
  </wsdl:message>
  <wsdl:message name="DeleteBlobEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteBlobEntityResponse">
    <wsdl:part name="parameters" element="tns:DeleteBlobEntityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBlobEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityRequest">
    <wsdl:part name="parameters" element="tns:GetBlobEntity" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityResponse">
    <wsdl:part name="parameters" element="tns:GetBlobEntityResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetBlobStreamRequest">
    <wsdl:part name="parameters" element="tns:SetBlobStream" />
  </wsdl:message>
  <wsdl:message name="SetBlobStreamRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetBlobStreamResponse">
    <wsdl:part name="parameters" element="tns:SetBlobStreamResponse" />
  </wsdl:message>
  <wsdl:message name="SetBlobStreamResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobStreamRequest">
    <wsdl:part name="parameters" element="tns:GetBlobStream" />
  </wsdl:message>
  <wsdl:message name="GetBlobStreamRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobStreamResponse">
    <wsdl:part name="parameters" element="tns:GetBlobStreamResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlobStreamResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageRequest">
    <wsdl:part name="parameters" element="tns:GetProjectImage" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageResponse">
    <wsdl:part name="parameters" element="tns:GetProjectImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageRequest">
    <wsdl:part name="parameters" element="tns:GetPersonImage" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageResponse">
    <wsdl:part name="parameters" element="tns:GetPersonImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetProjectImageRequest">
    <wsdl:part name="parameters" element="tns:SetProjectImage" />
  </wsdl:message>
  <wsdl:message name="SetProjectImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetProjectImageResponse">
    <wsdl:part name="parameters" element="tns:SetProjectImageResponse" />
  </wsdl:message>
  <wsdl:message name="SetProjectImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageRequest">
    <wsdl:part name="parameters" element="tns:SetPersonImage" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageResponse">
    <wsdl:part name="parameters" element="tns:SetPersonImageResponse" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeProjectImageRequest">
    <wsdl:part name="parameters" element="tns:ChangeProjectImage" />
  </wsdl:message>
  <wsdl:message name="ChangeProjectImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeProjectImageResponse">
    <wsdl:part name="parameters" element="tns:ChangeProjectImageResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeProjectImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveProjectImageRequest">
    <wsdl:part name="parameters" element="tns:SaveProjectImage" />
  </wsdl:message>
  <wsdl:message name="SaveProjectImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveProjectImageResponse">
    <wsdl:part name="parameters" element="tns:SaveProjectImageResponse" />
  </wsdl:message>
  <wsdl:message name="SaveProjectImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProjectRequest">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnProject" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProjectRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProjectResponse">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProjectResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnPersonRequest">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnPerson" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnPersonRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnPersonResponse">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnPersonResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnCountryRequest">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnCountry" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnCountryRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnCountryResponse">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnCountryResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProductRequest">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnProduct" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProductRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProductResponse">
    <wsdl:part name="parameters" element="tns:GetBlobEntityOnProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlobEntityOnProductResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangePersonImageRequest">
    <wsdl:part name="parameters" element="tns:ChangePersonImage" />
  </wsdl:message>
  <wsdl:message name="ChangePersonImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangePersonImageResponse">
    <wsdl:part name="parameters" element="tns:ChangePersonImageResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePersonImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveImageStreamRequest">
    <wsdl:part name="parameters" element="tns:SaveImageStream" />
  </wsdl:message>
  <wsdl:message name="SaveImageStreamRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveImageStreamResponse">
    <wsdl:part name="parameters" element="tns:SaveImageStreamResponse" />
  </wsdl:message>
  <wsdl:message name="SaveImageStreamResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProductImageRequest">
    <wsdl:part name="parameters" element="tns:GetProductImage" />
  </wsdl:message>
  <wsdl:message name="GetProductImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProductImageResponse">
    <wsdl:part name="parameters" element="tns:GetProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetProductImageRequest">
    <wsdl:part name="parameters" element="tns:SetProductImage" />
  </wsdl:message>
  <wsdl:message name="SetProductImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetProductImageResponse">
    <wsdl:part name="parameters" element="tns:SetProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="SetProductImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProductThumbnailRequest">
    <wsdl:part name="parameters" element="tns:GetProductThumbnail" />
  </wsdl:message>
  <wsdl:message name="GetProductThumbnailRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProductThumbnailResponse">
    <wsdl:part name="parameters" element="tns:GetProductThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductThumbnailResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetProductThumbnailRequest">
    <wsdl:part name="parameters" element="tns:SetProductThumbnail" />
  </wsdl:message>
  <wsdl:message name="SetProductThumbnailRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetProductThumbnailResponse">
    <wsdl:part name="parameters" element="tns:SetProductThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="SetProductThumbnailResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeProductImageRequest">
    <wsdl:part name="parameters" element="tns:ChangeProductImage" />
  </wsdl:message>
  <wsdl:message name="ChangeProductImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeProductImageResponse">
    <wsdl:part name="parameters" element="tns:ChangeProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeProductImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetQuoteLineImageRequest">
    <wsdl:part name="parameters" element="tns:GetQuoteLineImage" />
  </wsdl:message>
  <wsdl:message name="GetQuoteLineImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetQuoteLineImageResponse">
    <wsdl:part name="parameters" element="tns:GetQuoteLineImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteLineImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAppDataRequest">
    <wsdl:part name="parameters" element="tns:GetAppData" />
  </wsdl:message>
  <wsdl:message name="GetAppDataRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAppDataResponse">
    <wsdl:part name="parameters" element="tns:GetAppDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppDataResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetAppDataRequest">
    <wsdl:part name="parameters" element="tns:SetAppData" />
  </wsdl:message>
  <wsdl:message name="SetAppDataRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetAppDataResponse">
    <wsdl:part name="parameters" element="tns:SetAppDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetAppDataResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageWithSizeRequest">
    <wsdl:part name="parameters" element="tns:GetPersonImageWithSize" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageWithSizeRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageWithSizeResponse">
    <wsdl:part name="parameters" element="tns:GetPersonImageWithSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageWithSizeResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageWithSizeRequest">
    <wsdl:part name="parameters" element="tns:GetProjectImageWithSize" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageWithSizeRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageWithSizeResponse">
    <wsdl:part name="parameters" element="tns:GetProjectImageWithSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectImageWithSizeResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="BLOB">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for BLOB</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultBlobEntity">
      <wsdl:documentation>
        <summary>Loading default values into a new BlobEntity.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/CreateDefaultBlobEntity" name="CreateDefaultBlobEntityRequest" message="tns:CreateDefaultBlobEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/CreateDefaultBlobEntityResponse" name="CreateDefaultBlobEntityResponse" message="tns:CreateDefaultBlobEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveBlobEntity">
      <wsdl:documentation>
        <summary>Updates the existing BlobEntity or creates a new BlobEntity if the id parameter is empty.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SaveBlobEntity" name="SaveBlobEntityRequest" message="tns:SaveBlobEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SaveBlobEntityResponse" name="SaveBlobEntityResponse" message="tns:SaveBlobEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobEntity">
      <wsdl:documentation>
        <summary>Deletes the BlobEntity</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/DeleteBlobEntity" name="DeleteBlobEntityRequest" message="tns:DeleteBlobEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/DeleteBlobEntityResponse" name="DeleteBlobEntityResponse" message="tns:DeleteBlobEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobEntity">
      <wsdl:documentation>
        <summary>Gets a BlobEntity object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntity" name="GetBlobEntityRequest" message="tns:GetBlobEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityResponse" name="GetBlobEntityResponse" message="tns:GetBlobEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetBlobStream">
      <wsdl:documentation>
        <summary>Store a binary object from it's stream</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetBlobStream" name="SetBlobStreamRequest" message="tns:SetBlobStreamRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetBlobStreamResponse" name="SetBlobStreamResponse" message="tns:SetBlobStreamResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobStream">
      <wsdl:documentation>
        <summary>Get the binary object as a stream</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobStream" name="GetBlobStreamRequest" message="tns:GetBlobStreamRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobStreamResponse" name="GetBlobStreamResponse" message="tns:GetBlobStreamResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectImage">
      <wsdl:documentation>
        <summary>Returns the project image that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProjectImage" name="GetProjectImageRequest" message="tns:GetProjectImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProjectImageResponse" name="GetProjectImageResponse" message="tns:GetProjectImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonImage">
      <wsdl:documentation>
        <summary>Returns the person image that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetPersonImage" name="GetPersonImageRequest" message="tns:GetPersonImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetPersonImageResponse" name="GetPersonImageResponse" message="tns:GetPersonImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetProjectImage">
      <wsdl:documentation>
        <summary>Stores the project image that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetProjectImage" name="SetProjectImageRequest" message="tns:SetProjectImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetProjectImageResponse" name="SetProjectImageResponse" message="tns:SetProjectImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonImage">
      <wsdl:documentation>
        <summary>Stores the person image that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetPersonImage" name="SetPersonImageRequest" message="tns:SetPersonImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetPersonImageResponse" name="SetPersonImageResponse" message="tns:SetPersonImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProjectImage">
      <wsdl:documentation>
        <summary>Changes the project image link. If the Binary object id is 0, any image link is removed from the project.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/ChangeProjectImage" name="ChangeProjectImageRequest" message="tns:ChangeProjectImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/ChangeProjectImageResponse" name="ChangeProjectImageResponse" message="tns:ChangeProjectImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveProjectImage">
      <wsdl:documentation>
        <summary>Saves a project image that is displayed in the CRM application's project image selection dialog to the database.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SaveProjectImage" name="SaveProjectImageRequest" message="tns:SaveProjectImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SaveProjectImageResponse" name="SaveProjectImageResponse" message="tns:SaveProjectImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobEntityOnProject">
      <wsdl:documentation>
        <summary>Gets the blob entity that represents the project image binary object.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnProject" name="GetBlobEntityOnProjectRequest" message="tns:GetBlobEntityOnProjectRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnProjectResponse" name="GetBlobEntityOnProjectResponse" message="tns:GetBlobEntityOnProjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobEntityOnPerson">
      <wsdl:documentation>
        <summary>Gets the blob entity that represents the person image binary object.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnPerson" name="GetBlobEntityOnPersonRequest" message="tns:GetBlobEntityOnPersonRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnPersonResponse" name="GetBlobEntityOnPersonResponse" message="tns:GetBlobEntityOnPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobEntityOnCountry">
      <wsdl:documentation>
        <summary>Gets the blob entity that represents the country flag binary object.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnCountry" name="GetBlobEntityOnCountryRequest" message="tns:GetBlobEntityOnCountryRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnCountryResponse" name="GetBlobEntityOnCountryResponse" message="tns:GetBlobEntityOnCountryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobEntityOnProduct">
      <wsdl:documentation>
        <summary>Gets the blob entity that represents the product image binary object.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnProduct" name="GetBlobEntityOnProductRequest" message="tns:GetBlobEntityOnProductRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetBlobEntityOnProductResponse" name="GetBlobEntityOnProductResponse" message="tns:GetBlobEntityOnProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangePersonImage">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/ChangePersonImage" name="ChangePersonImageRequest" message="tns:ChangePersonImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/ChangePersonImageResponse" name="ChangePersonImageResponse" message="tns:ChangePersonImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveImageStream">
      <wsdl:documentation>
        <summary>Stores an image in the database without linking it to a project or a person. It is possible to ChangePersonImage or ChangeProjectImage to attach image later.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SaveImageStream" name="SaveImageStreamRequest" message="tns:SaveImageStreamRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SaveImageStreamResponse" name="SaveImageStreamResponse" message="tns:SaveImageStreamResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <wsdl:documentation>
        <summary>Returns the product image (rank=1) that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProductImage" name="GetProductImageRequest" message="tns:GetProductImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProductImageResponse" name="GetProductImageResponse" message="tns:GetProductImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetProductImage">
      <wsdl:documentation>
        <summary>Stores the product image that is displayed in the CRM application. The image is scaled down to max 1000x1000. This method operates only the main (rank=1) image; future extensions may support multiple images. A thumbnail of size 75x75 is also automatically set.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetProductImage" name="SetProductImageRequest" message="tns:SetProductImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetProductImageResponse" name="SetProductImageResponse" message="tns:SetProductImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProductThumbnail">
      <wsdl:documentation>
        <summary>Returns the product thumbnail that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProductThumbnail" name="GetProductThumbnailRequest" message="tns:GetProductThumbnailRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProductThumbnailResponse" name="GetProductThumbnailResponse" message="tns:GetProductThumbnailResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetProductThumbnail">
      <wsdl:documentation>
        <summary>Stores the product thumbnail that is displayed in the CRM application. The image is scaled down to max 200x200 pixels.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetProductThumbnail" name="SetProductThumbnailRequest" message="tns:SetProductThumbnailRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetProductThumbnailResponse" name="SetProductThumbnailResponse" message="tns:SetProductThumbnailResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProductImage">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/ChangeProductImage" name="ChangeProductImageRequest" message="tns:ChangeProductImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/ChangeProductImageResponse" name="ChangeProductImageResponse" message="tns:ChangeProductImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteLineImage">
      <wsdl:documentation>
        <summary>Returns the quoteline image (rank=1) that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetQuoteLineImage" name="GetQuoteLineImageRequest" message="tns:GetQuoteLineImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetQuoteLineImageResponse" name="GetQuoteLineImageResponse" message="tns:GetQuoteLineImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAppData">
      <wsdl:documentation>
        <summary>Get a CLOB (limited to a reasonable size by the mechanics of Web Services) according to a string key; ALSO limits to the current ApplicationToken if any</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetAppData" name="GetAppDataRequest" message="tns:GetAppDataRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetAppDataResponse" name="GetAppDataResponse" message="tns:GetAppDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetAppData">
      <wsdl:documentation>
        <summary>Get a CLOB (limited to a reasonable size by the mechanics of Web Services) according to a string key; ALSO limits to the current ApplicationToken if any. Existing data, if any, will be overwritten. Overwrite with a blank value to delete.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetAppData" name="SetAppDataRequest" message="tns:SetAppDataRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/SetAppDataResponse" name="SetAppDataResponse" message="tns:SetAppDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonImageWithSize">
      <wsdl:documentation>
        <summary>Returns the person image that is displayed in the CRM application with a specified maximum size.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetPersonImageWithSize" name="GetPersonImageWithSizeRequest" message="tns:GetPersonImageWithSizeRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetPersonImageWithSizeResponse" name="GetPersonImageWithSizeResponse" message="tns:GetPersonImageWithSizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectImageWithSize">
      <wsdl:documentation>
        <summary>Returns the project image that is displayed in the CRM application with a specified maximum size.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProjectImageWithSize" name="GetProjectImageWithSizeRequest" message="tns:GetProjectImageWithSizeRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/BLOB/GetProjectImageWithSizeResponse" name="GetProjectImageWithSizeResponse" message="tns:GetProjectImageWithSizeResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>