AOS.DataAccesslayer/Service References/ForeignSystem75/ForeignSystem1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/ForeignSystem.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/ForeignSystem.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultForeignAppEntityRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultForeignAppEntity" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultForeignAppEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultForeignAppEntityResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultForeignAppEntityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultForeignAppEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveForeignAppEntityRequest">
    <wsdl:part name="parameters" element="tns:SaveForeignAppEntity" />
  </wsdl:message>
  <wsdl:message name="SaveForeignAppEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveForeignAppEntityResponse">
    <wsdl:part name="parameters" element="tns:SaveForeignAppEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SaveForeignAppEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignAppEntityRequest">
    <wsdl:part name="parameters" element="tns:DeleteForeignAppEntity" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignAppEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignAppEntityResponse">
    <wsdl:part name="parameters" element="tns:DeleteForeignAppEntityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignAppEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetForeignAppEntityRequest">
    <wsdl:part name="parameters" element="tns:GetForeignAppEntity" />
  </wsdl:message>
  <wsdl:message name="GetForeignAppEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetForeignAppEntityResponse">
    <wsdl:part name="parameters" element="tns:GetForeignAppEntityResponse" />
  </wsdl:message>
  <wsdl:message name="GetForeignAppEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAppByNameRequest">
    <wsdl:part name="parameters" element="tns:GetAppByName" />
  </wsdl:message>
  <wsdl:message name="GetAppByNameRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAppByNameResponse">
    <wsdl:part name="parameters" element="tns:GetAppByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppByNameResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetForeignDeviceRequest">
    <wsdl:part name="parameters" element="tns:GetForeignDevice" />
  </wsdl:message>
  <wsdl:message name="GetForeignDeviceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetForeignDeviceResponse">
    <wsdl:part name="parameters" element="tns:GetForeignDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="GetForeignDeviceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByNameRequest">
    <wsdl:part name="parameters" element="tns:GetDeviceByName" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByNameRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByNameResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByNameResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByIdentifierRequest">
    <wsdl:part name="parameters" element="tns:GetDeviceByIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByIdentifierRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByIdentifierResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceByIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByIdentifierResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveForeignDeviceRequest">
    <wsdl:part name="parameters" element="tns:SaveForeignDevice" />
  </wsdl:message>
  <wsdl:message name="SaveForeignDeviceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveForeignDeviceResponse">
    <wsdl:part name="parameters" element="tns:SaveForeignDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="SaveForeignDeviceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignDeviceRequest">
    <wsdl:part name="parameters" element="tns:DeleteForeignDevice" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignDeviceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignDeviceResponse">
    <wsdl:part name="parameters" element="tns:DeleteForeignDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignDeviceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetApplicationDevicesRequest">
    <wsdl:part name="parameters" element="tns:GetApplicationDevices" />
  </wsdl:message>
  <wsdl:message name="GetApplicationDevicesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetApplicationDevicesResponse">
    <wsdl:part name="parameters" element="tns:GetApplicationDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationDevicesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyRequest">
    <wsdl:part name="parameters" element="tns:GetKey" />
  </wsdl:message>
  <wsdl:message name="GetKeyRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyResponse">
    <wsdl:part name="parameters" element="tns:GetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueRequest">
    <wsdl:part name="parameters" element="tns:GetKeyValue" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueResponse">
    <wsdl:part name="parameters" element="tns:GetKeyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyOnDeviceIdentifierRequest">
    <wsdl:part name="parameters" element="tns:GetKeyOnDeviceIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetKeyOnDeviceIdentifierRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyOnDeviceIdentifierResponse">
    <wsdl:part name="parameters" element="tns:GetKeyOnDeviceIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyOnDeviceIdentifierResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueOnDeviceIdentifierRequest">
    <wsdl:part name="parameters" element="tns:GetKeyValueOnDeviceIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueOnDeviceIdentifierRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueOnDeviceIdentifierResponse">
    <wsdl:part name="parameters" element="tns:GetKeyValueOnDeviceIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyValueOnDeviceIdentifierResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveForeignKeyRequest">
    <wsdl:part name="parameters" element="tns:SaveForeignKey" />
  </wsdl:message>
  <wsdl:message name="SaveForeignKeyRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveForeignKeyResponse">
    <wsdl:part name="parameters" element="tns:SaveForeignKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SaveForeignKeyResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignKeyRequest">
    <wsdl:part name="parameters" element="tns:DeleteForeignKey" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignKeyRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignKeyResponse">
    <wsdl:part name="parameters" element="tns:DeleteForeignKeyResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteForeignKeyResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyByValueRequest">
    <wsdl:part name="parameters" element="tns:GetKeyByValue" />
  </wsdl:message>
  <wsdl:message name="GetKeyByValueRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetKeyByValueResponse">
    <wsdl:part name="parameters" element="tns:GetKeyByValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyByValueResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysRequest">
    <wsdl:part name="parameters" element="tns:GetDeviceKeys" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetApplicationKeysRequest">
    <wsdl:part name="parameters" element="tns:GetApplicationKeys" />
  </wsdl:message>
  <wsdl:message name="GetApplicationKeysRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetApplicationKeysResponse">
    <wsdl:part name="parameters" element="tns:GetApplicationKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationKeysResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierRequest">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysOnDeviceIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysOnDeviceIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableRequest">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysOnDeviceIdentifierTable" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysOnDeviceIdentifierTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysOnDeviceIdentifierTableRecordId" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="ForeignSystem">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for ForeignSystem</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultForeignAppEntity">
      <wsdl:documentation>
        <summary>Loading default values into a new ForeignAppEntity.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/CreateDefaultForeignAppEntity" name="CreateDefaultForeignAppEntityRequest" message="tns:CreateDefaultForeignAppEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/CreateDefaultForeignAppEntityResponse" name="CreateDefaultForeignAppEntityResponse" message="tns:CreateDefaultForeignAppEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveForeignAppEntity">
      <wsdl:documentation>
        <summary>Updates the existing ForeignAppEntity or creates a new ForeignAppEntity if the id parameter is empty.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignAppEntity" name="SaveForeignAppEntityRequest" message="tns:SaveForeignAppEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignAppEntityResponse" name="SaveForeignAppEntityResponse" message="tns:SaveForeignAppEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignAppEntity">
      <wsdl:documentation>
        <summary>Deletes the ForeignAppEntity</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignAppEntity" name="DeleteForeignAppEntityRequest" message="tns:DeleteForeignAppEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignAppEntityResponse" name="DeleteForeignAppEntityResponse" message="tns:DeleteForeignAppEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetForeignAppEntity">
      <wsdl:documentation>
        <summary>Gets a ForeignAppEntity object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignAppEntity" name="GetForeignAppEntityRequest" message="tns:GetForeignAppEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignAppEntityResponse" name="GetForeignAppEntityResponse" message="tns:GetForeignAppEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAppByName">
      <wsdl:documentation>
        <summary>Gets the ForeignApp with the given name.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetAppByName" name="GetAppByNameRequest" message="tns:GetAppByNameRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetAppByNameResponse" name="GetAppByNameResponse" message="tns:GetAppByNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetForeignDevice">
      <wsdl:documentation>
        <summary>Gets a ForeignDevice object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignDevice" name="GetForeignDeviceRequest" message="tns:GetForeignDeviceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignDeviceResponse" name="GetForeignDeviceResponse" message="tns:GetForeignDeviceResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByName">
      <wsdl:documentation>
        <summary>Gets a ForeignDevice with deviceName that belongs to the application with applicationName.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByName" name="GetDeviceByNameRequest" message="tns:GetDeviceByNameRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByNameResponse" name="GetDeviceByNameResponse" message="tns:GetDeviceByNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByIdentifier">
      <wsdl:documentation>
        <summary>Gets a ForeignDevice with deviceName and deviceIdentifier that belongs to the application with applicationName.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByIdentifier" name="GetDeviceByIdentifierRequest" message="tns:GetDeviceByIdentifierRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByIdentifierResponse" name="GetDeviceByIdentifierResponse" message="tns:GetDeviceByIdentifierResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveForeignDevice">
      <wsdl:documentation>
        <summary>Saves a foreign device for an foreign application</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignDevice" name="SaveForeignDeviceRequest" message="tns:SaveForeignDeviceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignDeviceResponse" name="SaveForeignDeviceResponse" message="tns:SaveForeignDeviceResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignDevice">
      <wsdl:documentation>
        <summary>Deletes a foreign device from an application</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignDevice" name="DeleteForeignDeviceRequest" message="tns:DeleteForeignDeviceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignDeviceResponse" name="DeleteForeignDeviceResponse" message="tns:DeleteForeignDeviceResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDevices">
      <wsdl:documentation>
        <summary>Gets all devices that belong to a foreign application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationDevices" name="GetApplicationDevicesRequest" message="tns:GetApplicationDevicesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationDevicesResponse" name="GetApplicationDevicesResponse" message="tns:GetApplicationDevicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <wsdl:documentation>
        <summary>Returning a foreign key by its key name, that belongs to the specified device and application. A table name and record ID can also be specified.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKey" name="GetKeyRequest" message="tns:GetKeyRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyResponse" name="GetKeyResponse" message="tns:GetKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyValue">
      <wsdl:documentation>
        <summary>Gets the string value of a ForeignKey, that belongs to the specified device and application. A table name and record ID can also be specified.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValue" name="GetKeyValueRequest" message="tns:GetKeyValueRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValueResponse" name="GetKeyValueResponse" message="tns:GetKeyValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyOnDeviceIdentifier">
      <wsdl:documentation>
        <summary>Returning a foreign key by its key name and device identifier, that belongs to the specified device and application. A table name and record ID can also be specified.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyOnDeviceIdentifier" name="GetKeyOnDeviceIdentifierRequest" message="tns:GetKeyOnDeviceIdentifierRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyOnDeviceIdentifierResponse" name="GetKeyOnDeviceIdentifierResponse" message="tns:GetKeyOnDeviceIdentifierResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyValueOnDeviceIdentifier">
      <wsdl:documentation>
        <summary>Returning a foreign key string value by its key name and device identifier, that belongs to the specified device and application. A table name and record ID can also be specified.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValueOnDeviceIdentifier" name="GetKeyValueOnDeviceIdentifierRequest" message="tns:GetKeyValueOnDeviceIdentifierRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValueOnDeviceIdentifierResponse" name="GetKeyValueOnDeviceIdentifierResponse" message="tns:GetKeyValueOnDeviceIdentifierResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveForeignKey">
      <wsdl:documentation>
        <summary>Saves a key belonging to the ForeignApp and ForeignDevice specified.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignKey" name="SaveForeignKeyRequest" message="tns:SaveForeignKeyRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignKeyResponse" name="SaveForeignKeyResponse" message="tns:SaveForeignKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignKey">
      <wsdl:documentation>
        <summary>Deletes all specified occurrences of a key, belonging to the ForeignApp and ForeignDevice, table and record specified. Specifying a blank table name will delete ALL keys of the given name; specifying a recordId of 0 will delete ALL keys of the given name for the given table.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignKey" name="DeleteForeignKeyRequest" message="tns:DeleteForeignKeyRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignKeyResponse" name="DeleteForeignKeyResponse" message="tns:DeleteForeignKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyByValue">
      <wsdl:documentation>
        <summary>Get a foreignkey based on its name and value, that belongs to the specified device and application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyByValue" name="GetKeyByValueRequest" message="tns:GetKeyByValueRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyByValueResponse" name="GetKeyByValueResponse" message="tns:GetKeyByValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeys">
      <wsdl:documentation>
        <summary>Returns all ForeignKeys that belong to a device.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeys" name="GetDeviceKeysRequest" message="tns:GetDeviceKeysRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysResponse" name="GetDeviceKeysResponse" message="tns:GetDeviceKeysResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationKeys">
      <wsdl:documentation>
        <summary>Returns all ForeignKeys that belong to an application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationKeys" name="GetApplicationKeysRequest" message="tns:GetApplicationKeysRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationKeysResponse" name="GetApplicationKeysResponse" message="tns:GetApplicationKeysResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifier">
      <wsdl:documentation>
        <summary>Returns all ForeignKeys that belong to a device with a given deviceIdentifier.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifier" name="GetDeviceKeysOnDeviceIdentifierRequest" message="tns:GetDeviceKeysOnDeviceIdentifierRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierResponse" name="GetDeviceKeysOnDeviceIdentifierResponse" message="tns:GetDeviceKeysOnDeviceIdentifierResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifierTable">
      <wsdl:documentation>
        <summary>Returns all ForeignKeys that belong to a device with a given deviceIdentifier and table name.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTable" name="GetDeviceKeysOnDeviceIdentifierTableRequest" message="tns:GetDeviceKeysOnDeviceIdentifierTableRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTableResponse" name="GetDeviceKeysOnDeviceIdentifierTableResponse" message="tns:GetDeviceKeysOnDeviceIdentifierTableResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifierTableRecordId">
      <wsdl:documentation>
        <summary>Returns all ForeignKeys that belong to a device with a given deviceIdentifier and table name, as well as record id.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTableRecordId" name="GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest" message="tns:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse" name="GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse" message="tns:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>