AOS.DataAccesslayer/Service References/ForeignSystem75/WcfForeignSystemService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfForeignSystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ForeignSystem1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" location="http://192.168.10.151/SuperOffice/Remote/Services75/ForeignSystem.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ForeignSystem" type="i0:ForeignSystem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/CreateDefaultForeignAppEntity" style="document" />
      <wsdl:input name="CreateDefaultForeignAppEntityRequest">
        <soap:header message="i0:CreateDefaultForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultForeignAppEntityResponse">
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignAppEntity" style="document" />
      <wsdl:input name="SaveForeignAppEntityRequest">
        <soap:header message="i0:SaveForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveForeignAppEntityResponse">
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignAppEntity" style="document" />
      <wsdl:input name="DeleteForeignAppEntityRequest">
        <soap:header message="i0:DeleteForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteForeignAppEntityResponse">
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignAppEntity" style="document" />
      <wsdl:input name="GetForeignAppEntityRequest">
        <soap:header message="i0:GetForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetForeignAppEntityResponse">
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppByName">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetAppByName" style="document" />
      <wsdl:input name="GetAppByNameRequest">
        <soap:header message="i0:GetAppByNameRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAppByNameRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAppByNameRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAppByNameResponse">
        <soap:header message="i0:GetAppByNameResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAppByNameResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAppByNameResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAppByNameResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForeignDevice">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignDevice" style="document" />
      <wsdl:input name="GetForeignDeviceRequest">
        <soap:header message="i0:GetForeignDeviceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetForeignDeviceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetForeignDeviceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetForeignDeviceResponse">
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByName">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByName" style="document" />
      <wsdl:input name="GetDeviceByNameRequest">
        <soap:header message="i0:GetDeviceByNameRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceByNameRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceByNameRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceByNameResponse">
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByIdentifier" style="document" />
      <wsdl:input name="GetDeviceByIdentifierRequest">
        <soap:header message="i0:GetDeviceByIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceByIdentifierResponse">
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForeignDevice">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignDevice" style="document" />
      <wsdl:input name="SaveForeignDeviceRequest">
        <soap:header message="i0:SaveForeignDeviceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveForeignDeviceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveForeignDeviceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveForeignDeviceResponse">
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignDevice">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignDevice" style="document" />
      <wsdl:input name="DeleteForeignDeviceRequest">
        <soap:header message="i0:DeleteForeignDeviceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteForeignDeviceResponse">
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDevices">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationDevices" style="document" />
      <wsdl:input name="GetApplicationDevicesRequest">
        <soap:header message="i0:GetApplicationDevicesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetApplicationDevicesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetApplicationDevicesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetApplicationDevicesResponse">
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKey" style="document" />
      <wsdl:input name="GetKeyRequest">
        <soap:header message="i0:GetKeyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyResponse">
        <soap:header message="i0:GetKeyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyValue">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValue" style="document" />
      <wsdl:input name="GetKeyValueRequest">
        <soap:header message="i0:GetKeyValueRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyValueRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyValueRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyValueResponse">
        <soap:header message="i0:GetKeyValueResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyValueResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyValueResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyValueResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyOnDeviceIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyOnDeviceIdentifier" style="document" />
      <wsdl:input name="GetKeyOnDeviceIdentifierRequest">
        <soap:header message="i0:GetKeyOnDeviceIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyOnDeviceIdentifierResponse">
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyValueOnDeviceIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValueOnDeviceIdentifier" style="document" />
      <wsdl:input name="GetKeyValueOnDeviceIdentifierRequest">
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyValueOnDeviceIdentifierResponse">
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForeignKey">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignKey" style="document" />
      <wsdl:input name="SaveForeignKeyRequest">
        <soap:header message="i0:SaveForeignKeyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveForeignKeyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveForeignKeyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveForeignKeyResponse">
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignKey">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignKey" style="document" />
      <wsdl:input name="DeleteForeignKeyRequest">
        <soap:header message="i0:DeleteForeignKeyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteForeignKeyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteForeignKeyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteForeignKeyResponse">
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyByValue">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyByValue" style="document" />
      <wsdl:input name="GetKeyByValueRequest">
        <soap:header message="i0:GetKeyByValueRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyByValueRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyByValueRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyByValueResponse">
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeys">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeys" style="document" />
      <wsdl:input name="GetDeviceKeysRequest">
        <soap:header message="i0:GetDeviceKeysRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysResponse">
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationKeys">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationKeys" style="document" />
      <wsdl:input name="GetApplicationKeysRequest">
        <soap:header message="i0:GetApplicationKeysRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetApplicationKeysRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetApplicationKeysRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetApplicationKeysResponse">
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifier" style="document" />
      <wsdl:input name="GetDeviceKeysOnDeviceIdentifierRequest">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysOnDeviceIdentifierResponse">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifierTable">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTable" style="document" />
      <wsdl:input name="GetDeviceKeysOnDeviceIdentifierTableRequest">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysOnDeviceIdentifierTableResponse">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifierTableRecordId">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTableRecordId" style="document" />
      <wsdl:input name="GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ForeignSystem1" type="i0:ForeignSystem">
    <wsp:PolicyReference URI="#BasicHttpBinding_ForeignSystem1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/CreateDefaultForeignAppEntity" style="document" />
      <wsdl:input name="CreateDefaultForeignAppEntityRequest">
        <soap:header message="i0:CreateDefaultForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultForeignAppEntityResponse">
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignAppEntity" style="document" />
      <wsdl:input name="SaveForeignAppEntityRequest">
        <soap:header message="i0:SaveForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveForeignAppEntityResponse">
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignAppEntity" style="document" />
      <wsdl:input name="DeleteForeignAppEntityRequest">
        <soap:header message="i0:DeleteForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteForeignAppEntityResponse">
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForeignAppEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignAppEntity" style="document" />
      <wsdl:input name="GetForeignAppEntityRequest">
        <soap:header message="i0:GetForeignAppEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetForeignAppEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetForeignAppEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetForeignAppEntityResponse">
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetForeignAppEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppByName">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetAppByName" style="document" />
      <wsdl:input name="GetAppByNameRequest">
        <soap:header message="i0:GetAppByNameRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAppByNameRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAppByNameRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAppByNameResponse">
        <soap:header message="i0:GetAppByNameResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAppByNameResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAppByNameResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAppByNameResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForeignDevice">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetForeignDevice" style="document" />
      <wsdl:input name="GetForeignDeviceRequest">
        <soap:header message="i0:GetForeignDeviceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetForeignDeviceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetForeignDeviceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetForeignDeviceResponse">
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetForeignDeviceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByName">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByName" style="document" />
      <wsdl:input name="GetDeviceByNameRequest">
        <soap:header message="i0:GetDeviceByNameRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceByNameRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceByNameRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceByNameResponse">
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceByNameResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceByIdentifier" style="document" />
      <wsdl:input name="GetDeviceByIdentifierRequest">
        <soap:header message="i0:GetDeviceByIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceByIdentifierResponse">
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceByIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForeignDevice">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignDevice" style="document" />
      <wsdl:input name="SaveForeignDeviceRequest">
        <soap:header message="i0:SaveForeignDeviceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveForeignDeviceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveForeignDeviceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveForeignDeviceResponse">
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveForeignDeviceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignDevice">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignDevice" style="document" />
      <wsdl:input name="DeleteForeignDeviceRequest">
        <soap:header message="i0:DeleteForeignDeviceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteForeignDeviceResponse">
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteForeignDeviceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDevices">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationDevices" style="document" />
      <wsdl:input name="GetApplicationDevicesRequest">
        <soap:header message="i0:GetApplicationDevicesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetApplicationDevicesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetApplicationDevicesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetApplicationDevicesResponse">
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetApplicationDevicesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKey" style="document" />
      <wsdl:input name="GetKeyRequest">
        <soap:header message="i0:GetKeyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyResponse">
        <soap:header message="i0:GetKeyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyValue">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValue" style="document" />
      <wsdl:input name="GetKeyValueRequest">
        <soap:header message="i0:GetKeyValueRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyValueRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyValueRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyValueResponse">
        <soap:header message="i0:GetKeyValueResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyValueResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyValueResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyValueResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyOnDeviceIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyOnDeviceIdentifier" style="document" />
      <wsdl:input name="GetKeyOnDeviceIdentifierRequest">
        <soap:header message="i0:GetKeyOnDeviceIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyOnDeviceIdentifierResponse">
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyOnDeviceIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyValueOnDeviceIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyValueOnDeviceIdentifier" style="document" />
      <wsdl:input name="GetKeyValueOnDeviceIdentifierRequest">
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyValueOnDeviceIdentifierResponse">
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyValueOnDeviceIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForeignKey">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/SaveForeignKey" style="document" />
      <wsdl:input name="SaveForeignKeyRequest">
        <soap:header message="i0:SaveForeignKeyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveForeignKeyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveForeignKeyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveForeignKeyResponse">
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveForeignKeyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignKey">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/DeleteForeignKey" style="document" />
      <wsdl:input name="DeleteForeignKeyRequest">
        <soap:header message="i0:DeleteForeignKeyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteForeignKeyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteForeignKeyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteForeignKeyResponse">
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteForeignKeyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyByValue">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetKeyByValue" style="document" />
      <wsdl:input name="GetKeyByValueRequest">
        <soap:header message="i0:GetKeyByValueRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetKeyByValueRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetKeyByValueRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetKeyByValueResponse">
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetKeyByValueResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeys">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeys" style="document" />
      <wsdl:input name="GetDeviceKeysRequest">
        <soap:header message="i0:GetDeviceKeysRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysResponse">
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationKeys">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetApplicationKeys" style="document" />
      <wsdl:input name="GetApplicationKeysRequest">
        <soap:header message="i0:GetApplicationKeysRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetApplicationKeysRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetApplicationKeysRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetApplicationKeysResponse">
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetApplicationKeysResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifier">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifier" style="document" />
      <wsdl:input name="GetDeviceKeysOnDeviceIdentifierRequest">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysOnDeviceIdentifierResponse">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifierTable">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTable" style="document" />
      <wsdl:input name="GetDeviceKeysOnDeviceIdentifierTableRequest">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysOnDeviceIdentifierTableResponse">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceKeysOnDeviceIdentifierTableRecordId">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/ForeignSystem/GetDeviceKeysOnDeviceIdentifierTableRecordId" style="document" />
      <wsdl:input name="GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse">
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfForeignSystemService">
    <wsdl:port name="BasicHttpBinding_ForeignSystem" binding="tns:BasicHttpBinding_ForeignSystem">
      <soap:address location="http://192.168.10.151/SuperOffice/Remote/Services75/ForeignSystem.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ForeignSystem1" binding="tns:BasicHttpBinding_ForeignSystem1">
      <soap:address location="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/ForeignSystem.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>