AOS.DataAccesslayer/Service References/PhoneList75/PhoneList1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/PhoneList.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/PhoneList.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SearchRequest">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SearchResponse">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SearchWithPreferencesRequest">
    <wsdl:part name="parameters" element="tns:SearchWithPreferences" />
  </wsdl:message>
  <wsdl:message name="SearchWithPreferencesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SearchWithPreferencesResponse">
    <wsdl:part name="parameters" element="tns:SearchWithPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="SearchWithPreferencesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentPhonesRequest">
    <wsdl:part name="parameters" element="tns:GetDepartmentPhones" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentPhonesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentPhonesResponse">
    <wsdl:part name="parameters" element="tns:GetDepartmentPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentPhonesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetFavoritesPhonesRequest">
    <wsdl:part name="parameters" element="tns:GetFavoritesPhones" />
  </wsdl:message>
  <wsdl:message name="GetFavoritesPhonesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetFavoritesPhonesResponse">
    <wsdl:part name="parameters" element="tns:GetFavoritesPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFavoritesPhonesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetContactPhonesRequest">
    <wsdl:part name="parameters" element="tns:GetContactPhones" />
  </wsdl:message>
  <wsdl:message name="GetContactPhonesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetContactPhonesResponse">
    <wsdl:part name="parameters" element="tns:GetContactPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactPhonesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="AddToFavoritesRequest">
    <wsdl:part name="parameters" element="tns:AddToFavorites" />
  </wsdl:message>
  <wsdl:message name="AddToFavoritesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="AddToFavoritesResponse">
    <wsdl:part name="parameters" element="tns:AddToFavoritesResponse" />
  </wsdl:message>
  <wsdl:message name="AddToFavoritesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesRequest">
    <wsdl:part name="parameters" element="tns:GetPreferences" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesResponse">
    <wsdl:part name="parameters" element="tns:GetPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPreferencesRequest">
    <wsdl:part name="parameters" element="tns:SetPreferences" />
  </wsdl:message>
  <wsdl:message name="SetPreferencesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPreferencesResponse">
    <wsdl:part name="parameters" element="tns:SetPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="SetPreferencesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="PhoneList">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for PhoneList</summary>
    </wsdl:documentation>
    <wsdl:operation name="Search">
      <wsdl:documentation>
        <summary>Searching the phone list. Using default search preferences or the preferences already set by the PhoneListPreferences Service</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/Search" name="SearchRequest" message="tns:SearchRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/SearchResponse" name="SearchResponse" message="tns:SearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="SearchWithPreferences">
      <wsdl:documentation>
        <summary>Searching the phone list. Search is based on the supplied preferences.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/SearchWithPreferences" name="SearchWithPreferencesRequest" message="tns:SearchWithPreferencesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/SearchWithPreferencesResponse" name="SearchWithPreferencesResponse" message="tns:SearchWithPreferencesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentPhones">
      <wsdl:documentation>
        <summary>Returns an array of phone list items with the in-parameter as restriction. The in-parameter must be a valid department id (UserGroupId).</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetDepartmentPhones" name="GetDepartmentPhonesRequest" message="tns:GetDepartmentPhonesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetDepartmentPhonesResponse" name="GetDepartmentPhonesResponse" message="tns:GetDepartmentPhonesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetFavoritesPhones">
      <wsdl:documentation>
        <summary>Returns an array of phone list items with the Contacts in the users favorites dropdown list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetFavoritesPhones" name="GetFavoritesPhonesRequest" message="tns:GetFavoritesPhonesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetFavoritesPhonesResponse" name="GetFavoritesPhonesResponse" message="tns:GetFavoritesPhonesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPhones">
      <wsdl:documentation>
        <summary>Returns an array of phone list items for all the persons belonging to a contact (company). The in-parameter must be a valid contact-id.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetContactPhones" name="GetContactPhonesRequest" message="tns:GetContactPhonesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetContactPhonesResponse" name="GetContactPhonesResponse" message="tns:GetContactPhonesResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddToFavorites">
      <wsdl:documentation>
        <summary>Adds a new contact to the history/favorites. Returns the rank of the new history item. If the contact already existed in the history, it isn't added but the rank is updated.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/AddToFavorites" name="AddToFavoritesRequest" message="tns:AddToFavoritesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/AddToFavoritesResponse" name="AddToFavoritesResponse" message="tns:AddToFavoritesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferences">
      <wsdl:documentation>
        <summary>Getting Phone List Preferences from the CRM 5 user preferences</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetPreferences" name="GetPreferencesRequest" message="tns:GetPreferencesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/GetPreferencesResponse" name="GetPreferencesResponse" message="tns:GetPreferencesResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPreferences">
      <wsdl:documentation>
        <summary>Setting Phone List Preferences to the CRM 5 user preferences</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/SetPreferences" name="SetPreferencesRequest" message="tns:SetPreferencesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/PhoneList/SetPreferencesResponse" name="SetPreferencesResponse" message="tns:SetPreferencesResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>