AOS.DataAccesslayer/Service References/ForeignSystem82/ForeignSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateDefaultForeignAppEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="Credentials" nillable="true" type="tns:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="CreateDefaultForeignAppEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignAppEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ForeignAppEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ForeignAppId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="tns:Associate" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="tns:Associate" />
          <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfForeignDevice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ForeignAppEntity" nillable="true" type="tns:ForeignAppEntity" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
          <xs:enumeration value="UndefinedValue256" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:complexType name="Associate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="tns:UserType" />
          <xs:element minOccurs="0" name="GroupIdx" type="xs:int" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="EjUserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Associate" nillable="true" type="tns:Associate" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InternalAssociate" />
      <xs:enumeration value="ResourceAssociate" />
      <xs:enumeration value="ExternalAssociate" />
      <xs:enumeration value="AnonymousAssociate" />
      <xs:enumeration value="SystemAssociate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfForeignDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForeignDevice" nillable="true" type="tns:ForeignDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForeignDevice" nillable="true" type="tns:ArrayOfForeignDevice" />
  <xs:complexType name="ForeignDevice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ForeignDeviceId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssociateFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignAppId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ForeignDevice" nillable="true" type="tns:ForeignDevice" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="SaveForeignAppEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignAppEntity" nillable="true" type="tns:ForeignAppEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForeignAppEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignAppEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForeignAppEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignAppEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForeignAppEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAppEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignAppEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAppEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignAppEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignAppEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignDeviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForeignDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignDevice" nillable="true" type="tns:ForeignDevice" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForeignDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForeignDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignDevice" nillable="true" type="tns:ForeignDevice" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForeignDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfForeignDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ForeignKey">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecordId" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ForeignKey" nillable="true" type="tns:ForeignKey" />
  <xs:element name="GetKeyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyOnDeviceIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyOnDeviceIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyValueOnDeviceIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyValueOnDeviceIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForeignKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignKey" nillable="true" type="tns:ForeignKey" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForeignKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForeignKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForeignKey" nillable="true" type="tns:ForeignKey" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForeignKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyByValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyByValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfForeignKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForeignKey" nillable="true" type="tns:ForeignKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForeignKey" nillable="true" type="tns:ArrayOfForeignKey" />
  <xs:element name="GetApplicationKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysOnDeviceIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysOnDeviceIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysOnDeviceIdentifierTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysOnDeviceIdentifierTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysOnDeviceIdentifierTableRecordId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceKeysOnDeviceIdentifierTableRecordIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfForeignKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>