AOS.DataAccesslayer/Service References/SoPrincipal82/SoPrincipal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82/Imports">
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetSystemInfoRequest">
    <wsdl:part name="parameters" element="tns:GetSystemInfo" />
  </wsdl:message>
  <wsdl:message name="GetSystemInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
  </wsdl:message>
  <wsdl:message name="GetSystemInfoResponse">
    <wsdl:part name="parameters" element="tns:GetSystemInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="AuthenticateImplicitRequest">
    <wsdl:part name="parameters" element="tns:AuthenticateImplicit" />
  </wsdl:message>
  <wsdl:message name="AuthenticateImplicitRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
  </wsdl:message>
  <wsdl:message name="AuthenticateResponse">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUsernamePasswordRequest">
    <wsdl:part name="parameters" element="tns:AuthenticateUsernamePassword" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUsernamePasswordRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
  </wsdl:message>
  <wsdl:message name="AuthenticateGenericRequest">
    <wsdl:part name="parameters" element="tns:AuthenticateGeneric" />
  </wsdl:message>
  <wsdl:message name="AuthenticateGenericRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
  </wsdl:message>
  <wsdl:portType name="SoPrincipal">
    <wsdl:documentation>
      <summary>Testing interface documentation</summary>
    </wsdl:documentation>
    <wsdl:operation name="GetSystemInfo">
      <wsdl:documentation>
        <summary>Get System information about the currently running NetServer and Database</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/GetSystemInfo" name="GetSystemInfoRequest" message="tns:GetSystemInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/GetSystemInfoResponse" name="GetSystemInfoResponse" message="tns:GetSystemInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateImplicit">
      <wsdl:documentation>
        <summary>Authenticate using (implicit) Wcf credentials, such as Windows Identity</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/AuthenticateImplicit" name="AuthenticateImplicitRequest" message="tns:AuthenticateImplicitRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/AuthenticateImplicitResponse" name="AuthenticateResponse" message="tns:AuthenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUsernamePassword">
      <wsdl:documentation>
        <summary>Authenticate using a SuperOffice user name and password</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/AuthenticateUsernamePassword" name="AuthenticateUsernamePasswordRequest" message="tns:AuthenticateUsernamePasswordRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/AuthenticateUsernamePasswordResponse" name="AuthenticateResponse" message="tns:AuthenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateGeneric">
      <wsdl:documentation>
        <summary>Authenticate using a pile of name/value pairs that hopefully an authentication plugin will understand</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/AuthenticateGeneric" name="AuthenticateGenericRequest" message="tns:AuthenticateGenericRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/SoPrincipal/AuthenticateGenericResponse" name="AuthenticateResponse" message="tns:AuthenticateResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>