AOS.DataAccesslayer/Service References/SoPrincipal82/SoPrincipal3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetSystemInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:element name="GetSystemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemInfo" nillable="true" type="tns:SoSystemInfoCarrier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SoSystemInfoCarrier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="License" nillable="true" type="tns:LicenseInfo" />
          <xs:element minOccurs="0" name="WarningEnglish" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarningResource" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildLabel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssemblyVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccumulatedNextCheckDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FileVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DaysUntilNetServerExpiry" type="xs:int" />
          <xs:element minOccurs="0" name="BuildType" type="tns:NetServerBuildType" />
          <xs:element minOccurs="0" name="DatabaseVersion" type="xs:int" />
          <xs:element minOccurs="0" name="IsUnicode" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
          <xs:element minOccurs="0" name="DatabaseType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DatabaseMinor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOnTravel" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSatellite" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SoSystemInfoCarrier" nillable="true" type="tns:SoSystemInfoCarrier" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
          <xs:enumeration value="UndefinedValue256" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:complexType name="LicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextCheckDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaintenanceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AdminWarningDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GraceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExtraFlags" type="xs:int" />
      <xs:element minOccurs="0" name="LicenseUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeploymentType" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleLicenses" nillable="true" type="tns:ArrayOfModuleLicense" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="tns:SignedPublicKey" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseInfo" nillable="true" type="tns:LicenseInfo" />
  <xs:complexType name="ArrayOfModuleLicense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleLicense" nillable="true" type="tns:ModuleLicense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleLicense" nillable="true" type="tns:ArrayOfModuleLicense" />
  <xs:complexType name="ModuleLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleTooltip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseType" type="tns:LicenseType" />
      <xs:element minOccurs="0" name="Unrestricted" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowedUserType" type="tns:UserType" />
      <xs:element minOccurs="0" name="NumberOfLicenses" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraFlags" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="IsHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrerequisiteModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleLicense" nillable="true" type="tns:ModuleLicense" />
  <xs:simpleType name="LicenseType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="SiteLicense" />
      <xs:enumeration value="SatelliteLicense" />
      <xs:enumeration value="UserLicense" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LicenseType" nillable="true" type="tns:LicenseType" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InternalAssociate" />
      <xs:enumeration value="ResourceAssociate" />
      <xs:enumeration value="ExternalAssociate" />
      <xs:enumeration value="AnonymousAssociate" />
      <xs:enumeration value="SystemAssociate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="SignedPublicKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" minOccurs="0" name="Key" type="q1:DSAParameters" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignedPublicKey" nillable="true" type="tns:SignedPublicKey" />
  <xs:simpleType name="NetServerBuildType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Feature" />
      <xs:enumeration value="Stable" />
      <xs:enumeration value="Alpha" />
      <xs:enumeration value="Beta" />
      <xs:enumeration value="ReleaseCandidate" />
      <xs:enumeration value="Release" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NetServerBuildType" nillable="true" type="tns:NetServerBuildType" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="AuthenticateImplicit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:SoPrincipalCarrier" />
        <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:SoCredentials" />
        <xs:element minOccurs="0" name="AuthenticationSucceeded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SoPrincipalCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserType" type="tns:UserType" />
      <xs:element minOccurs="0" name="Associate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPerson" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="HomeCountryId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactOwner" type="xs:int" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleType" type="tns:RoleType" />
      <xs:element minOccurs="0" name="Licenses" nillable="true" type="tns:ArrayOfGrantedModuleLicense" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FunctionRights" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="EjUserId" type="xs:int" />
      <xs:element minOccurs="0" name="EjAccessLevel" type="xs:int" />
      <xs:element minOccurs="0" name="EjUserStatus" type="tns:EjUserStatus" />
      <xs:element minOccurs="0" name="ProvidedCredentials" nillable="true" type="tns:ArrayOfProvidedCredential" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SecondaryGroups" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="DatabaseContextIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoPrincipalCarrier" nillable="true" type="tns:SoPrincipalCarrier" />
  <xs:simpleType name="RoleType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Employee" />
      <xs:enumeration value="ExternalUser" />
      <xs:enumeration value="Anonymous" />
      <xs:enumeration value="System" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleType" nillable="true" type="tns:RoleType" />
  <xs:complexType name="ArrayOfGrantedModuleLicense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrantedModuleLicense" nillable="true" type="tns:GrantedModuleLicense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrantedModuleLicense" nillable="true" type="tns:ArrayOfGrantedModuleLicense" />
  <xs:complexType name="GrantedModuleLicense">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
          <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LicenseType" type="tns:LicenseType" />
          <xs:element minOccurs="0" name="ExtraFlags" type="xs:int" />
          <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseNumber" type="xs:int" />
          <xs:element minOccurs="0" name="IsHidden" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUnrestricted" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GrantedModuleLicense" nillable="true" type="tns:GrantedModuleLicense" />
  <xs:simpleType name="EjUserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StatusNone" />
      <xs:enumeration value="StatusNormal" />
      <xs:enumeration value="StatusNotAvailable" />
      <xs:enumeration value="StatusDeleted" />
      <xs:enumeration value="StatusReadOnly" />
      <xs:enumeration value="StatusSpm" />
      <xs:enumeration value="StatusSystem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">127</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EjUserStatus" nillable="true" type="tns:EjUserStatus" />
  <xs:complexType name="ArrayOfProvidedCredential">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProvidedCredential" nillable="true" type="tns:ProvidedCredential" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvidedCredential" nillable="true" type="tns:ArrayOfProvidedCredential" />
  <xs:complexType name="ProvidedCredential">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CredentialId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvidedCredential" nillable="true" type="tns:ProvidedCredential" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="AuthenticateUsernamePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateGeneric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticationData" nillable="true" type="tns:AuthenticationGenericData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AuthenticationGenericData">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthenticationGenericDataKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationGenericData" nillable="true" type="tns:AuthenticationGenericData" />
</xs:schema>