AOS.DataAccesslayer/Service References/Contact82/WcfContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_Contact1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" location="http://localhost/SuperOffice82R01/Remote/Services82/Contact.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Contact" type="i0:Contact">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/CreateDefaultContactEntity" style="document" />
      <wsdl:input name="CreateDefaultContactEntityRequest">
        <soap:header message="i0:CreateDefaultContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultContactEntityResponse">
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/SaveContactEntity" style="document" />
      <wsdl:input name="SaveContactEntityRequest">
        <soap:header message="i0:SaveContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveContactEntityResponse">
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/DeleteContactEntity" style="document" />
      <wsdl:input name="DeleteContactEntityRequest">
        <soap:header message="i0:DeleteContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteContactEntityResponse">
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContact" style="document" />
      <wsdl:input name="GetContactRequest">
        <soap:header message="i0:GetContactRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactResponse">
        <soap:header message="i0:GetContactResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyActiveContacts">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyActiveContacts" style="document" />
      <wsdl:input name="GetMyActiveContactsRequest">
        <soap:header message="i0:GetMyActiveContactsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyActiveContactsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyActiveContactsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyActiveContactsResponse">
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContactEntity" style="document" />
      <wsdl:input name="GetContactEntityRequest">
        <soap:header message="i0:GetContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactEntityResponse">
        <soap:header message="i0:GetContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetPersons" style="document" />
      <wsdl:input name="GetPersonsRequest">
        <soap:header message="i0:GetPersonsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPersonsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPersonsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPersonsResponse">
        <soap:header message="i0:GetPersonsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPersonsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPersonsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPersonsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactWithPersons">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContactWithPersons" style="document" />
      <wsdl:input name="GetContactWithPersonsRequest">
        <soap:header message="i0:GetContactWithPersonsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactWithPersonsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactWithPersonsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactWithPersonsResponse">
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyContact">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyContact" style="document" />
      <wsdl:input name="GetMyContactRequest">
        <soap:header message="i0:GetMyContactRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyContactRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyContactRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyContactResponse">
        <soap:header message="i0:GetMyContactResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyContactResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyContactResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyContactResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyBizCard">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyBizCard" style="document" />
      <wsdl:input name="GetMyBizCardRequest">
        <soap:header message="i0:GetMyBizCardRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyBizCardRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyBizCardRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyBizCardResponse">
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCountry">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/ChangeCountry" style="document" />
      <wsdl:input name="ChangeCountryRequest">
        <soap:header message="i0:ChangeCountryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:ChangeCountryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:ChangeCountryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeCountryResponse">
        <soap:header message="i0:ChangeCountryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:ChangeCountryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:ChangeCountryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:ChangeCountryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetAddress" style="document" />
      <wsdl:input name="GetAddressRequest">
        <soap:header message="i0:GetAddressRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAddressRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAddressRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAddressResponse">
        <soap:header message="i0:GetAddressResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAddressResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAddressResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAddressResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressByCountry">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetAddressByCountry" style="document" />
      <wsdl:input name="GetAddressByCountryRequest">
        <soap:header message="i0:GetAddressByCountryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAddressByCountryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAddressByCountryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAddressByCountryResponse">
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/AddPerson" style="document" />
      <wsdl:input name="AddPersonRequest">
        <soap:header message="i0:AddPersonRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:AddPersonRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:AddPersonRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddPersonResponse">
        <soap:header message="i0:AddPersonResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:AddPersonResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:AddPersonResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:AddPersonResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuplicates">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetDuplicates" style="document" />
      <wsdl:input name="GetDuplicatesRequest">
        <soap:header message="i0:GetDuplicatesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDuplicatesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDuplicatesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDuplicatesResponse">
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewEntry">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/CreateNewEntry" style="document" />
      <wsdl:input name="CreateNewEntryRequest">
        <soap:header message="i0:CreateNewEntryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateNewEntryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateNewEntryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateNewEntryResponse">
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuplicateRules">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetDuplicateRules" style="document" />
      <wsdl:input name="GetDuplicateRulesRequest">
        <soap:header message="i0:GetDuplicateRulesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDuplicateRulesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDuplicateRulesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDuplicateRulesResponse">
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDuplicateRulesStatus">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/SetDuplicateRulesStatus" style="document" />
      <wsdl:input name="SetDuplicateRulesStatusRequest">
        <soap:header message="i0:SetDuplicateRulesStatusRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDuplicateRulesStatusResponse">
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/Merge" style="document" />
      <wsdl:input name="MergeRequest">
        <soap:header message="i0:MergeRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:MergeRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:MergeRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MergeResponse">
        <soap:header message="i0:MergeResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:MergeResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:MergeResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:MergeResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/Copy" style="document" />
      <wsdl:input name="CopyRequest">
        <soap:header message="i0:CopyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CopyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CopyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CopyResponse">
        <soap:header message="i0:CopyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CopyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CopyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CopyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameDepartmentDuplicates">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetNameDepartmentDuplicates" style="document" />
      <wsdl:input name="GetNameDepartmentDuplicatesRequest">
        <soap:header message="i0:GetNameDepartmentDuplicatesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNameDepartmentDuplicatesResponse">
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNumberValid">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/IsNumberValid" style="document" />
      <wsdl:input name="IsNumberValidRequest">
        <soap:header message="i0:IsNumberValidRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:IsNumberValidRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:IsNumberValidRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IsNumberValidResponse">
        <soap:header message="i0:IsNumberValidResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:IsNumberValidResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:IsNumberValidResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:IsNumberValidResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteVersionAddresses">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetQuoteVersionAddresses" style="document" />
      <wsdl:input name="GetQuoteVersionAddressesRequest">
        <soap:header message="i0:GetQuoteVersionAddressesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetQuoteVersionAddressesResponse">
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuoteVersionAddress">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/SaveQuoteVersionAddress" style="document" />
      <wsdl:input name="SaveQuoteVersionAddressRequest">
        <soap:header message="i0:SaveQuoteVersionAddressRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveQuoteVersionAddressResponse">
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContactList" style="document" />
      <wsdl:input name="GetContactListRequest">
        <soap:header message="i0:GetContactListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactListResponse">
        <soap:header message="i0:GetContactListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyContacts">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyContacts" style="document" />
      <wsdl:input name="GetMyContactsRequest">
        <soap:header message="i0:GetMyContactsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyContactsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyContactsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyContactsResponse">
        <soap:header message="i0:GetMyContactsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyContactsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyContactsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyContactsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyRecentContacts">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyRecentContacts" style="document" />
      <wsdl:input name="GetMyRecentContactsRequest">
        <soap:header message="i0:GetMyRecentContactsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyRecentContactsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyRecentContactsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyRecentContactsResponse">
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_Contact1" type="i0:Contact">
    <wsp:PolicyReference URI="#BasicHttpBinding_Contact1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/CreateDefaultContactEntity" style="document" />
      <wsdl:input name="CreateDefaultContactEntityRequest">
        <soap:header message="i0:CreateDefaultContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultContactEntityResponse">
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/SaveContactEntity" style="document" />
      <wsdl:input name="SaveContactEntityRequest">
        <soap:header message="i0:SaveContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveContactEntityResponse">
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/DeleteContactEntity" style="document" />
      <wsdl:input name="DeleteContactEntityRequest">
        <soap:header message="i0:DeleteContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeleteContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeleteContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteContactEntityResponse">
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeleteContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContact" style="document" />
      <wsdl:input name="GetContactRequest">
        <soap:header message="i0:GetContactRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactResponse">
        <soap:header message="i0:GetContactResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyActiveContacts">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyActiveContacts" style="document" />
      <wsdl:input name="GetMyActiveContactsRequest">
        <soap:header message="i0:GetMyActiveContactsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyActiveContactsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyActiveContactsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyActiveContactsResponse">
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyActiveContactsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContactEntity" style="document" />
      <wsdl:input name="GetContactEntityRequest">
        <soap:header message="i0:GetContactEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactEntityResponse">
        <soap:header message="i0:GetContactEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetPersons" style="document" />
      <wsdl:input name="GetPersonsRequest">
        <soap:header message="i0:GetPersonsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPersonsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPersonsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPersonsResponse">
        <soap:header message="i0:GetPersonsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPersonsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPersonsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPersonsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactWithPersons">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContactWithPersons" style="document" />
      <wsdl:input name="GetContactWithPersonsRequest">
        <soap:header message="i0:GetContactWithPersonsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactWithPersonsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactWithPersonsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactWithPersonsResponse">
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactWithPersonsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyContact">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyContact" style="document" />
      <wsdl:input name="GetMyContactRequest">
        <soap:header message="i0:GetMyContactRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyContactRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyContactRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyContactResponse">
        <soap:header message="i0:GetMyContactResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyContactResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyContactResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyContactResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyBizCard">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyBizCard" style="document" />
      <wsdl:input name="GetMyBizCardRequest">
        <soap:header message="i0:GetMyBizCardRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyBizCardRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyBizCardRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyBizCardResponse">
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyBizCardResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCountry">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/ChangeCountry" style="document" />
      <wsdl:input name="ChangeCountryRequest">
        <soap:header message="i0:ChangeCountryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:ChangeCountryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:ChangeCountryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeCountryResponse">
        <soap:header message="i0:ChangeCountryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:ChangeCountryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:ChangeCountryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:ChangeCountryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetAddress" style="document" />
      <wsdl:input name="GetAddressRequest">
        <soap:header message="i0:GetAddressRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAddressRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAddressRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAddressResponse">
        <soap:header message="i0:GetAddressResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAddressResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAddressResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAddressResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressByCountry">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetAddressByCountry" style="document" />
      <wsdl:input name="GetAddressByCountryRequest">
        <soap:header message="i0:GetAddressByCountryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetAddressByCountryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetAddressByCountryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAddressByCountryResponse">
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetAddressByCountryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/AddPerson" style="document" />
      <wsdl:input name="AddPersonRequest">
        <soap:header message="i0:AddPersonRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:AddPersonRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:AddPersonRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddPersonResponse">
        <soap:header message="i0:AddPersonResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:AddPersonResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:AddPersonResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:AddPersonResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuplicates">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetDuplicates" style="document" />
      <wsdl:input name="GetDuplicatesRequest">
        <soap:header message="i0:GetDuplicatesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDuplicatesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDuplicatesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDuplicatesResponse">
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDuplicatesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewEntry">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/CreateNewEntry" style="document" />
      <wsdl:input name="CreateNewEntryRequest">
        <soap:header message="i0:CreateNewEntryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateNewEntryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateNewEntryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateNewEntryResponse">
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateNewEntryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuplicateRules">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetDuplicateRules" style="document" />
      <wsdl:input name="GetDuplicateRulesRequest">
        <soap:header message="i0:GetDuplicateRulesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetDuplicateRulesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetDuplicateRulesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDuplicateRulesResponse">
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetDuplicateRulesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDuplicateRulesStatus">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/SetDuplicateRulesStatus" style="document" />
      <wsdl:input name="SetDuplicateRulesStatusRequest">
        <soap:header message="i0:SetDuplicateRulesStatusRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDuplicateRulesStatusResponse">
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetDuplicateRulesStatusResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/Merge" style="document" />
      <wsdl:input name="MergeRequest">
        <soap:header message="i0:MergeRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:MergeRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:MergeRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MergeResponse">
        <soap:header message="i0:MergeResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:MergeResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:MergeResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:MergeResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/Copy" style="document" />
      <wsdl:input name="CopyRequest">
        <soap:header message="i0:CopyRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CopyRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CopyRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CopyResponse">
        <soap:header message="i0:CopyResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CopyResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CopyResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CopyResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameDepartmentDuplicates">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetNameDepartmentDuplicates" style="document" />
      <wsdl:input name="GetNameDepartmentDuplicatesRequest">
        <soap:header message="i0:GetNameDepartmentDuplicatesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNameDepartmentDuplicatesResponse">
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetNameDepartmentDuplicatesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNumberValid">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/IsNumberValid" style="document" />
      <wsdl:input name="IsNumberValidRequest">
        <soap:header message="i0:IsNumberValidRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:IsNumberValidRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:IsNumberValidRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IsNumberValidResponse">
        <soap:header message="i0:IsNumberValidResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:IsNumberValidResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:IsNumberValidResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:IsNumberValidResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteVersionAddresses">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetQuoteVersionAddresses" style="document" />
      <wsdl:input name="GetQuoteVersionAddressesRequest">
        <soap:header message="i0:GetQuoteVersionAddressesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetQuoteVersionAddressesResponse">
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetQuoteVersionAddressesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuoteVersionAddress">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/SaveQuoteVersionAddress" style="document" />
      <wsdl:input name="SaveQuoteVersionAddressRequest">
        <soap:header message="i0:SaveQuoteVersionAddressRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveQuoteVersionAddressResponse">
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveQuoteVersionAddressResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetContactList" style="document" />
      <wsdl:input name="GetContactListRequest">
        <soap:header message="i0:GetContactListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetContactListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetContactListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContactListResponse">
        <soap:header message="i0:GetContactListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetContactListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetContactListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetContactListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyContacts">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyContacts" style="document" />
      <wsdl:input name="GetMyContactsRequest">
        <soap:header message="i0:GetMyContactsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyContactsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyContactsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyContactsResponse">
        <soap:header message="i0:GetMyContactsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyContactsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyContactsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyContactsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyRecentContacts">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/Contact/GetMyRecentContacts" style="document" />
      <wsdl:input name="GetMyRecentContactsRequest">
        <soap:header message="i0:GetMyRecentContactsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetMyRecentContactsRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetMyRecentContactsRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMyRecentContactsResponse">
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetMyRecentContactsResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfContactService">
    <wsdl:port name="BasicHttpBinding_Contact" binding="tns:BasicHttpBinding_Contact">
      <soap:address location="http://localhost/SuperOffice82R01/Remote/Services82/Contact.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_Contact1" binding="tns:BasicHttpBinding_Contact1">
      <soap:address location="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Contact.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>