AOS.DataAccesslayer/Service References/Blob75/BLOB2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/BLOB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateDefaultBlobEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="Credentials" nillable="true" type="tns:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="CreateDefaultBlobEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BlobEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlobId" type="xs:int" />
          <xs:element minOccurs="0" name="BlobSize" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEncrypted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsZipped" type="xs:boolean" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginalSize" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="tns:Associate" />
          <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="tns:Associate" />
          <xs:element minOccurs="0" name="ConceptualType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlobEntity" nillable="true" type="tns:BlobEntity" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Uninitialized" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:complexType name="Associate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:short" />
          <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="tns:UserType" />
          <xs:element minOccurs="0" name="GroupIdx" type="xs:int" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="EjUserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Associate" nillable="true" type="tns:Associate" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InternalAssociate" />
      <xs:enumeration value="ResourceAssociate" />
      <xs:enumeration value="ExternalAssociate" />
      <xs:enumeration value="AnonymousAssociate" />
      <xs:enumeration value="SystemAssociate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="SaveBlobEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlobEntity" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBlobEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlobEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlobEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlobEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlobEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBlobStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlobEntityId" type="xs:int" />
        <xs:element minOccurs="0" name="Stream" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBlobStreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlobEntityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" type="xs:int" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProjectImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
        <xs:element minOccurs="0" name="BlobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProjectImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobEntityOnProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:BlobEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePersonImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" type="xs:int" />
        <xs:element minOccurs="0" name="BlobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePersonImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" type="tns:BlobLinkType" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="BlobLinkType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PersonImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProjectImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EventImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Thumbnail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StatusMonitorImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BatchTask">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProductImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProductThumbnail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QuoteLineImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QuoteLineThumbnail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AccessToken">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RefreshToken">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BlobLinkType" nillable="true" type="tns:BlobLinkType" />
  <xs:element name="SaveImageStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductThumbnailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProductImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:int" />
        <xs:element minOccurs="0" name="BlobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProductImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteLineImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteLineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteLineImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>