AOS.DataAccesslayer/Service References/Mdo75/MDO31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/MDO.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ForceFlatList" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OnlyHistory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="Credentials" nillable="true" type="tns:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMDOListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDOListItem" nillable="true" type="tns:MDOListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDOListItem" nillable="true" type="tns:ArrayOfMDOListItem" />
  <xs:complexType name="MDOListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChildItems" nillable="true" type="tns:ArrayOfMDOListItem" />
          <xs:element minOccurs="0" name="IconHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorBlock" type="xs:int" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StyleHint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MDOListItem" nillable="true" type="tns:MDOListItem" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Uninitialized" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="GetListWithHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ForceFlatList" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HistoryItems" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="OnlyHistory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWithHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWithRestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWithRestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:MDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Response" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableSimpleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableSimpleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSelectableMDOListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectableMDOListItem" nillable="true" type="tns:SelectableMDOListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectableMDOListItem" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
  <xs:complexType name="SelectableMDOListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorBlock" type="xs:int" />
          <xs:element minOccurs="0" name="IconHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ChildItems" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StyleHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hidden" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectableMDOListItem" nillable="true" type="tns:SelectableMDOListItem" />
  <xs:element name="GetSelectableListWithRestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableListWithRestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableListWithHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ForceFlatList" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HistoryItems" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="OnlyHistory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableListWithHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ForceFlatList" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OnlyHistory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SelectableMDOList" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfSelectableMDOListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>