AOS.DataAccesslayer/Service References/Associate82/Associate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82/Imports">
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Associate.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Associate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/Associate.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAssociateRequest">
    <wsdl:part name="parameters" element="tns:GetAssociate" />
  </wsdl:message>
  <wsdl:message name="GetAssociateRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociateResponse">
    <wsdl:part name="parameters" element="tns:GetAssociateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociateResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociateByPersonIdRequest">
    <wsdl:part name="parameters" element="tns:GetAssociateByPersonId" />
  </wsdl:message>
  <wsdl:message name="GetAssociateByPersonIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociateByPersonIdResponse">
    <wsdl:part name="parameters" element="tns:GetAssociateByPersonIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociateByPersonIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetNoteRequest">
    <wsdl:part name="parameters" element="tns:GetNote" />
  </wsdl:message>
  <wsdl:message name="GetNoteRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetNoteResponse">
    <wsdl:part name="parameters" element="tns:GetNoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetNoteResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveNoteRequest">
    <wsdl:part name="parameters" element="tns:SaveNote" />
  </wsdl:message>
  <wsdl:message name="SaveNoteRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveNoteResponse">
    <wsdl:part name="parameters" element="tns:SaveNoteResponse" />
  </wsdl:message>
  <wsdl:message name="SaveNoteResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociateListRequest">
    <wsdl:part name="parameters" element="tns:GetAssociateList" />
  </wsdl:message>
  <wsdl:message name="GetAssociateListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociateListResponse">
    <wsdl:part name="parameters" element="tns:GetAssociateListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociateListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociatesByGroupRequest">
    <wsdl:part name="parameters" element="tns:GetAssociatesByGroup" />
  </wsdl:message>
  <wsdl:message name="GetAssociatesByGroupRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAssociatesByGroupResponse">
    <wsdl:part name="parameters" element="tns:GetAssociatesByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociatesByGroupResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="LogOffWindowsUsersRequest">
    <wsdl:part name="parameters" element="tns:LogOffWindowsUsers" />
  </wsdl:message>
  <wsdl:message name="LogOffWindowsUsersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="LogOffWindowsUsersResponse">
    <wsdl:part name="parameters" element="tns:LogOffWindowsUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffWindowsUsersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="Associate">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for Associate</summary>
    </wsdl:documentation>
    <wsdl:operation name="GetAssociate">
      <wsdl:documentation>
        <summary>Gets a Associate object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociate" name="GetAssociateRequest" message="tns:GetAssociateRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociateResponse" name="GetAssociateResponse" message="tns:GetAssociateResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociateByPersonId">
      <wsdl:documentation>
        <summary>Returns the associate that belongs to this person if the person is an associate.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociateByPersonId" name="GetAssociateByPersonIdRequest" message="tns:GetAssociateByPersonIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociateByPersonIdResponse" name="GetAssociateByPersonIdResponse" message="tns:GetAssociateByPersonIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <wsdl:documentation>
        <summary>Returns an array of strings(notepad pages).</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetNote" name="GetNoteRequest" message="tns:GetNoteRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetNoteResponse" name="GetNoteResponse" message="tns:GetNoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <wsdl:documentation>
        <summary>Saves an array of strings(notepad pages).</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/SaveNote" name="SaveNoteRequest" message="tns:SaveNoteRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/SaveNoteResponse" name="SaveNoteResponse" message="tns:SaveNoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociateList">
      <wsdl:documentation>
        <summary>Gets an array of Associate objects..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociateList" name="GetAssociateListRequest" message="tns:GetAssociateListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociateListResponse" name="GetAssociateListResponse" message="tns:GetAssociateListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociatesByGroup">
      <wsdl:documentation>
        <summary>Method that returns a array of associate , based on DiaryGroupType and groupId. The differernt types are, Userdefined, Usergroup and ResourceHeadings</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociatesByGroup" name="GetAssociatesByGroupRequest" message="tns:GetAssociatesByGroupRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/GetAssociatesByGroupResponse" name="GetAssociatesByGroupResponse" message="tns:GetAssociatesByGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="LogOffWindowsUsers">
      <wsdl:documentation>
        <summary>Method that logs off associates that are logged on to the win client</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/LogOffWindowsUsers" name="LogOffWindowsUsersRequest" message="tns:LogOffWindowsUsersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/Associate/LogOffWindowsUsersResponse" name="LogOffWindowsUsersResponse" message="tns:LogOffWindowsUsersResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>