AOS.DataAccesslayer/Service References/Sale75/Sale1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Sale.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Sale.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Sale.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultSaleEntityRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultSaleEntity" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleEntityResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultSaleEntityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveSaleEntityRequest">
    <wsdl:part name="parameters" element="tns:SaveSaleEntity" />
  </wsdl:message>
  <wsdl:message name="SaveSaleEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveSaleEntityResponse">
    <wsdl:part name="parameters" element="tns:SaveSaleEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSaleEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleEntityRequest">
    <wsdl:part name="parameters" element="tns:DeleteSaleEntity" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleEntityResponse">
    <wsdl:part name="parameters" element="tns:DeleteSaleEntityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleSummaryRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultSaleSummary" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleSummaryRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleSummaryResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultSaleSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultSaleSummaryResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleRequest">
    <wsdl:part name="parameters" element="tns:GetSale" />
  </wsdl:message>
  <wsdl:message name="GetSaleRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleResponse">
    <wsdl:part name="parameters" element="tns:GetSaleResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleEntityRequest">
    <wsdl:part name="parameters" element="tns:GetSaleEntity" />
  </wsdl:message>
  <wsdl:message name="GetSaleEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleEntityResponse">
    <wsdl:part name="parameters" element="tns:GetSaleEntityResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="HasGuideRequest">
    <wsdl:part name="parameters" element="tns:HasGuide" />
  </wsdl:message>
  <wsdl:message name="HasGuideRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="HasGuideResponse">
    <wsdl:part name="parameters" element="tns:HasGuideResponse" />
  </wsdl:message>
  <wsdl:message name="HasGuideResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetNextDueDateRequest">
    <wsdl:part name="parameters" element="tns:GetNextDueDate" />
  </wsdl:message>
  <wsdl:message name="GetNextDueDateRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetNextDueDateResponse">
    <wsdl:part name="parameters" element="tns:GetNextDueDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextDueDateResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="BatchUpdateNextDueDateRequest">
    <wsdl:part name="parameters" element="tns:BatchUpdateNextDueDate" />
  </wsdl:message>
  <wsdl:message name="BatchUpdateNextDueDateRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="BatchUpdateNextDueDateResponse">
    <wsdl:part name="parameters" element="tns:BatchUpdateNextDueDateResponse" />
  </wsdl:message>
  <wsdl:message name="BatchUpdateNextDueDateResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetNextSaleStageRequest">
    <wsdl:part name="parameters" element="tns:GetNextSaleStage" />
  </wsdl:message>
  <wsdl:message name="GetNextSaleStageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetNextSaleStageResponse">
    <wsdl:part name="parameters" element="tns:GetNextSaleStageResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextSaleStageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="HasGuideActivitiesRequest">
    <wsdl:part name="parameters" element="tns:HasGuideActivities" />
  </wsdl:message>
  <wsdl:message name="HasGuideActivitiesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="HasGuideActivitiesResponse">
    <wsdl:part name="parameters" element="tns:HasGuideActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="HasGuideActivitiesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="OfferAutoNextStageOnApppointmentCompletedRequest">
    <wsdl:part name="parameters" element="tns:OfferAutoNextStageOnApppointmentCompleted" />
  </wsdl:message>
  <wsdl:message name="OfferAutoNextStageOnApppointmentCompletedRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="OfferAutoNextStageOnApppointmentCompletedResponse">
    <wsdl:part name="parameters" element="tns:OfferAutoNextStageOnApppointmentCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="OfferAutoNextStageOnApppointmentCompletedResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProbabilityFromStageRequest">
    <wsdl:part name="parameters" element="tns:GetProbabilityFromStage" />
  </wsdl:message>
  <wsdl:message name="GetProbabilityFromStageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetProbabilityFromStageResponse">
    <wsdl:part name="parameters" element="tns:GetProbabilityFromStageResponse" />
  </wsdl:message>
  <wsdl:message name="GetProbabilityFromStageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidRequest">
    <wsdl:part name="parameters" element="tns:IsNumberValid" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidResponse">
    <wsdl:part name="parameters" element="tns:IsNumberValidResponse" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="AddSaleStakeholdersRequest">
    <wsdl:part name="parameters" element="tns:AddSaleStakeholders" />
  </wsdl:message>
  <wsdl:message name="AddSaleStakeholdersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="AddSaleStakeholdersResponse">
    <wsdl:part name="parameters" element="tns:AddSaleStakeholdersResponse" />
  </wsdl:message>
  <wsdl:message name="AddSaleStakeholdersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleStakeholdersRequest">
    <wsdl:part name="parameters" element="tns:DeleteSaleStakeholders" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleStakeholdersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleStakeholdersResponse">
    <wsdl:part name="parameters" element="tns:DeleteSaleStakeholdersResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleStakeholdersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="HasStakeholderSettingRequest">
    <wsdl:part name="parameters" element="tns:HasStakeholderSetting" />
  </wsdl:message>
  <wsdl:message name="HasStakeholderSettingRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="HasStakeholderSettingResponse">
    <wsdl:part name="parameters" element="tns:HasStakeholderSettingResponse" />
  </wsdl:message>
  <wsdl:message name="HasStakeholderSettingResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleListRequest">
    <wsdl:part name="parameters" element="tns:GetSaleList" />
  </wsdl:message>
  <wsdl:message name="GetSaleListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleListResponse">
    <wsdl:part name="parameters" element="tns:GetSaleListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetMyOpportunitiesRequest">
    <wsdl:part name="parameters" element="tns:GetMyOpportunities" />
  </wsdl:message>
  <wsdl:message name="GetMyOpportunitiesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetMyOpportunitiesResponse">
    <wsdl:part name="parameters" element="tns:GetMyOpportunitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyOpportunitiesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetRecentSalesRequest">
    <wsdl:part name="parameters" element="tns:GetRecentSales" />
  </wsdl:message>
  <wsdl:message name="GetRecentSalesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetRecentSalesResponse">
    <wsdl:part name="parameters" element="tns:GetRecentSalesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecentSalesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUpcomingSalesRequest">
    <wsdl:part name="parameters" element="tns:GetUpcomingSales" />
  </wsdl:message>
  <wsdl:message name="GetUpcomingSalesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetUpcomingSalesResponse">
    <wsdl:part name="parameters" element="tns:GetUpcomingSalesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomingSalesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSalesByDateRequest">
    <wsdl:part name="parameters" element="tns:GetSalesByDate" />
  </wsdl:message>
  <wsdl:message name="GetSalesByDateRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSalesByDateResponse">
    <wsdl:part name="parameters" element="tns:GetSalesByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesByDateResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetOpenSalesForContactRequest">
    <wsdl:part name="parameters" element="tns:GetOpenSalesForContact" />
  </wsdl:message>
  <wsdl:message name="GetOpenSalesForContactRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetOpenSalesForContactResponse">
    <wsdl:part name="parameters" element="tns:GetOpenSalesForContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetOpenSalesForContactResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetAsSoldRequest">
    <wsdl:part name="parameters" element="tns:SetAsSold" />
  </wsdl:message>
  <wsdl:message name="SetAsSoldRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetAsSoldResponse">
    <wsdl:part name="parameters" element="tns:SetAsSoldResponse" />
  </wsdl:message>
  <wsdl:message name="SetAsSoldResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetAsLostRequest">
    <wsdl:part name="parameters" element="tns:SetAsLost" />
  </wsdl:message>
  <wsdl:message name="SetAsLostRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetAsLostResponse">
    <wsdl:part name="parameters" element="tns:SetAsLostResponse" />
  </wsdl:message>
  <wsdl:message name="SetAsLostResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderRequest">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholder" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderResponse">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholderResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderListRequest">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholderList" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderListResponse">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholderListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholdersRequest">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholders" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholdersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholdersResponse">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholdersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="UpdateSaleStakeholdersRequest">
    <wsdl:part name="parameters" element="tns:UpdateSaleStakeholders" />
  </wsdl:message>
  <wsdl:message name="UpdateSaleStakeholdersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="UpdateSaleStakeholdersResponse">
    <wsdl:part name="parameters" element="tns:UpdateSaleStakeholdersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSaleStakeholdersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderByIdRequest">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholderById" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderByIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderByIdResponse">
    <wsdl:part name="parameters" element="tns:GetSaleStakeholderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleStakeholderByIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByAssociateRequest">
    <wsdl:part name="parameters" element="tns:GetSummaryByAssociate" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByAssociateRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByAssociateResponse">
    <wsdl:part name="parameters" element="tns:GetSummaryByAssociateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByAssociateResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByGroupRequest">
    <wsdl:part name="parameters" element="tns:GetSummaryByGroup" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByGroupRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByGroupResponse">
    <wsdl:part name="parameters" element="tns:GetSummaryByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByGroupResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByContactRequest">
    <wsdl:part name="parameters" element="tns:GetSummaryByContact" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByContactRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByContactResponse">
    <wsdl:part name="parameters" element="tns:GetSummaryByContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryByContactResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="Sale">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for Sale</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultSaleEntity">
      <wsdl:documentation>
        <summary>Loading default values into a new SaleEntity.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/CreateDefaultSaleEntity" name="CreateDefaultSaleEntityRequest" message="tns:CreateDefaultSaleEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/CreateDefaultSaleEntityResponse" name="CreateDefaultSaleEntityResponse" message="tns:CreateDefaultSaleEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveSaleEntity">
      <wsdl:documentation>
        <summary>Updates the existing SaleEntity or creates a new SaleEntity if the id parameter is empty.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/SaveSaleEntity" name="SaveSaleEntityRequest" message="tns:SaveSaleEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/SaveSaleEntityResponse" name="SaveSaleEntityResponse" message="tns:SaveSaleEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSaleEntity">
      <wsdl:documentation>
        <summary>Deletes the SaleEntity</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/DeleteSaleEntity" name="DeleteSaleEntityRequest" message="tns:DeleteSaleEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/DeleteSaleEntityResponse" name="DeleteSaleEntityResponse" message="tns:DeleteSaleEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultSaleSummary">
      <wsdl:documentation>
        <summary>Loading default values into a new SaleSummary.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/CreateDefaultSaleSummary" name="CreateDefaultSaleSummaryRequest" message="tns:CreateDefaultSaleSummaryRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/CreateDefaultSaleSummaryResponse" name="CreateDefaultSaleSummaryResponse" message="tns:CreateDefaultSaleSummaryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSale">
      <wsdl:documentation>
        <summary>Gets a Sale object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSale" name="GetSaleRequest" message="tns:GetSaleRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleResponse" name="GetSaleResponse" message="tns:GetSaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleEntity">
      <wsdl:documentation>
        <summary>Gets a SaleEntity object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleEntity" name="GetSaleEntityRequest" message="tns:GetSaleEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleEntityResponse" name="GetSaleEntityResponse" message="tns:GetSaleEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="HasGuide">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/HasGuide" name="HasGuideRequest" message="tns:HasGuideRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/HasGuideResponse" name="HasGuideResponse" message="tns:HasGuideResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDueDate">
      <wsdl:documentation>
        <summary>Gets the next due date for a sale. The next due date is the a </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetNextDueDate" name="GetNextDueDateRequest" message="tns:GetNextDueDateRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetNextDueDateResponse" name="GetNextDueDateResponse" message="tns:GetNextDueDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="BatchUpdateNextDueDate">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/BatchUpdateNextDueDate" name="BatchUpdateNextDueDateRequest" message="tns:BatchUpdateNextDueDateRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/BatchUpdateNextDueDateResponse" name="BatchUpdateNextDueDateResponse" message="tns:BatchUpdateNextDueDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetNextSaleStage">
      <wsdl:documentation>
        <summary>Gets the next (not deleted) sale stage id if the current stage is deleted. If the current stage is not deleted, the CurrentStageId is returned</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetNextSaleStage" name="GetNextSaleStageRequest" message="tns:GetNextSaleStageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetNextSaleStageResponse" name="GetNextSaleStageResponse" message="tns:GetNextSaleStageResponse" />
    </wsdl:operation>
    <wsdl:operation name="HasGuideActivities">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/HasGuideActivities" name="HasGuideActivitiesRequest" message="tns:HasGuideActivitiesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/HasGuideActivitiesResponse" name="HasGuideActivitiesResponse" message="tns:HasGuideActivitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="OfferAutoNextStageOnApppointmentCompleted">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/OfferAutoNextStageOnApppointmentCompleted" name="OfferAutoNextStageOnApppointmentCompletedRequest" message="tns:OfferAutoNextStageOnApppointmentCompletedRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/OfferAutoNextStageOnApppointmentCompletedResponse" name="OfferAutoNextStageOnApppointmentCompletedResponse" message="tns:OfferAutoNextStageOnApppointmentCompletedResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProbabilityFromStage">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetProbabilityFromStage" name="GetProbabilityFromStageRequest" message="tns:GetProbabilityFromStageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetProbabilityFromStageResponse" name="GetProbabilityFromStageResponse" message="tns:GetProbabilityFromStageResponse" />
    </wsdl:operation>
    <wsdl:operation name="IsNumberValid">
      <wsdl:documentation>
        <summary>Checks if the number is unique or required.  The setting is configured from admin under system options.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/IsNumberValid" name="IsNumberValidRequest" message="tns:IsNumberValidRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/IsNumberValidResponse" name="IsNumberValidResponse" message="tns:IsNumberValidResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddSaleStakeholders">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/AddSaleStakeholders" name="AddSaleStakeholdersRequest" message="tns:AddSaleStakeholdersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/AddSaleStakeholdersResponse" name="AddSaleStakeholdersResponse" message="tns:AddSaleStakeholdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSaleStakeholders">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/DeleteSaleStakeholders" name="DeleteSaleStakeholdersRequest" message="tns:DeleteSaleStakeholdersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/DeleteSaleStakeholdersResponse" name="DeleteSaleStakeholdersResponse" message="tns:DeleteSaleStakeholdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="HasStakeholderSetting">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/HasStakeholderSetting" name="HasStakeholderSettingRequest" message="tns:HasStakeholderSettingRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/HasStakeholderSettingResponse" name="HasStakeholderSettingResponse" message="tns:HasStakeholderSettingResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleList">
      <wsdl:documentation>
        <summary>Gets an array of Sale objects..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleList" name="GetSaleListRequest" message="tns:GetSaleListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleListResponse" name="GetSaleListResponse" message="tns:GetSaleListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetMyOpportunities">
      <wsdl:documentation>
        <summary>Returning the opportunities (open sales) belonging to the user currently logged on</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetMyOpportunities" name="GetMyOpportunitiesRequest" message="tns:GetMyOpportunitiesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetMyOpportunitiesResponse" name="GetMyOpportunitiesResponse" message="tns:GetMyOpportunitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentSales">
      <wsdl:documentation>
        <summary>Returns the latest sales (that are sold) limited by their amount. The result is sorted descending with the latest first. If the amount is -1, the amount restriction is omitted.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetRecentSales" name="GetRecentSalesRequest" message="tns:GetRecentSalesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetRecentSalesResponse" name="GetRecentSalesResponse" message="tns:GetRecentSalesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomingSales">
      <wsdl:documentation>
        <summary>Returns all open sales, sorted descending with the latest first.  If the weigthed amount is -1, the amount restriction is omitted.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetUpcomingSales" name="GetUpcomingSalesRequest" message="tns:GetUpcomingSalesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetUpcomingSalesResponse" name="GetUpcomingSalesResponse" message="tns:GetUpcomingSalesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesByDate">
      <wsdl:documentation>
        <summary>Returns all sales within a time period. The sales array can be limited by amount and status.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSalesByDate" name="GetSalesByDateRequest" message="tns:GetSalesByDateRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSalesByDateResponse" name="GetSalesByDateResponse" message="tns:GetSalesByDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenSalesForContact">
      <wsdl:documentation>
        <summary>Returns all open sales for the contact provided.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetOpenSalesForContact" name="GetOpenSalesForContactRequest" message="tns:GetOpenSalesForContactRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetOpenSalesForContactResponse" name="GetOpenSalesForContactResponse" message="tns:GetOpenSalesForContactResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetAsSold">
      <wsdl:documentation>
        <summary>Change the status of one or more Sales to Sold. Note that this does not mark them as Completed.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/SetAsSold" name="SetAsSoldRequest" message="tns:SetAsSoldRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/SetAsSoldResponse" name="SetAsSoldResponse" message="tns:SetAsSoldResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetAsLost">
      <wsdl:documentation>
        <summary>Change the status of one or more sales to Lost. Note that this does not affect the Completed state of the sale.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/SetAsLost" name="SetAsLostRequest" message="tns:SetAsLostRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/SetAsLostResponse" name="SetAsLostResponse" message="tns:SetAsLostResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleStakeholder">
      <wsdl:documentation>
        <summary>Gets a SaleStakeholder object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholder" name="GetSaleStakeholderRequest" message="tns:GetSaleStakeholderRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholderResponse" name="GetSaleStakeholderResponse" message="tns:GetSaleStakeholderResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleStakeholderList">
      <wsdl:documentation>
        <summary>Gets an array of SaleStakeholder objects..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholderList" name="GetSaleStakeholderListRequest" message="tns:GetSaleStakeholderListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholderListResponse" name="GetSaleStakeholderListResponse" message="tns:GetSaleStakeholderListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleStakeholders">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholders" name="GetSaleStakeholdersRequest" message="tns:GetSaleStakeholdersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholdersResponse" name="GetSaleStakeholdersResponse" message="tns:GetSaleStakeholdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSaleStakeholders">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/UpdateSaleStakeholders" name="UpdateSaleStakeholdersRequest" message="tns:UpdateSaleStakeholdersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/UpdateSaleStakeholdersResponse" name="UpdateSaleStakeholdersResponse" message="tns:UpdateSaleStakeholdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleStakeholderById">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholderById" name="GetSaleStakeholderByIdRequest" message="tns:GetSaleStakeholderByIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSaleStakeholderByIdResponse" name="GetSaleStakeholderByIdResponse" message="tns:GetSaleStakeholderByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryByAssociate">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSummaryByAssociate" name="GetSummaryByAssociateRequest" message="tns:GetSummaryByAssociateRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSummaryByAssociateResponse" name="GetSummaryByAssociateResponse" message="tns:GetSummaryByAssociateResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryByGroup">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSummaryByGroup" name="GetSummaryByGroupRequest" message="tns:GetSummaryByGroupRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSummaryByGroupResponse" name="GetSummaryByGroupResponse" message="tns:GetSummaryByGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryByContact">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSummaryByContact" name="GetSummaryByContactRequest" message="tns:GetSummaryByContactRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Sale/GetSummaryByContactResponse" name="GetSummaryByContactResponse" message="tns:GetSummaryByContactResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>