AOS.DataAccesslayer/Service References/Mdo82/MDO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services82/Imports">
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/MDO.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/MDO.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SuperOffice82R01/Remote/Services82/MDO.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetListRequest">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListResponse">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListWithHistoryRequest">
    <wsdl:part name="parameters" element="tns:GetListWithHistory" />
  </wsdl:message>
  <wsdl:message name="GetListWithHistoryRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListWithHistoryResponse">
    <wsdl:part name="parameters" element="tns:GetListWithHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetListWithHistoryResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListWithRestrictionRequest">
    <wsdl:part name="parameters" element="tns:GetListWithRestriction" />
  </wsdl:message>
  <wsdl:message name="GetListWithRestrictionRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListWithRestrictionResponse">
    <wsdl:part name="parameters" element="tns:GetListWithRestrictionResponse" />
  </wsdl:message>
  <wsdl:message name="GetListWithRestrictionResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSimpleListRequest">
    <wsdl:part name="parameters" element="tns:GetSimpleList" />
  </wsdl:message>
  <wsdl:message name="GetSimpleListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSimpleListResponse">
    <wsdl:part name="parameters" element="tns:GetSimpleListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSimpleListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListItemRequest">
    <wsdl:part name="parameters" element="tns:GetListItem" />
  </wsdl:message>
  <wsdl:message name="GetListItemRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListItemResponse">
    <wsdl:part name="parameters" element="tns:GetListItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetListItemResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListNamesRequest">
    <wsdl:part name="parameters" element="tns:GetListNames" />
  </wsdl:message>
  <wsdl:message name="GetListNamesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListNamesResponse">
    <wsdl:part name="parameters" element="tns:GetListNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetListNamesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListIdByListNameRequest">
    <wsdl:part name="parameters" element="tns:GetListIdByListName" />
  </wsdl:message>
  <wsdl:message name="GetListIdByListNameRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetListIdByListNameResponse">
    <wsdl:part name="parameters" element="tns:GetListIdByListNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetListIdByListNameResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableSimpleListRequest">
    <wsdl:part name="parameters" element="tns:GetSelectableSimpleList" />
  </wsdl:message>
  <wsdl:message name="GetSelectableSimpleListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableSimpleListResponse">
    <wsdl:part name="parameters" element="tns:GetSelectableSimpleListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectableSimpleListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithRestrictionRequest">
    <wsdl:part name="parameters" element="tns:GetSelectableListWithRestriction" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithRestrictionRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithRestrictionResponse">
    <wsdl:part name="parameters" element="tns:GetSelectableListWithRestrictionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithRestrictionResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithHistoryRequest">
    <wsdl:part name="parameters" element="tns:GetSelectableListWithHistory" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithHistoryRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithHistoryResponse">
    <wsdl:part name="parameters" element="tns:GetSelectableListWithHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListWithHistoryResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListRequest">
    <wsdl:part name="parameters" element="tns:GetSelectableList" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListResponse">
    <wsdl:part name="parameters" element="tns:GetSelectableListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectableListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetSelectedRequest">
    <wsdl:part name="parameters" element="tns:SetSelected" />
  </wsdl:message>
  <wsdl:message name="SetSelectedRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetSelectedResponse">
    <wsdl:part name="parameters" element="tns:SetSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="SetSelectedResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="MDO">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for MDO</summary>
    </wsdl:documentation>
    <wsdl:operation name="GetList">
      <wsdl:documentation>
        <summary>Method to get a MDO list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetList" name="GetListRequest" message="tns:GetListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListResponse" name="GetListResponse" message="tns:GetListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetListWithHistory">
      <wsdl:documentation>
        <summary>Method to get a MDO list with own history list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithHistory" name="GetListWithHistoryRequest" message="tns:GetListWithHistoryRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithHistoryResponse" name="GetListWithHistoryResponse" message="tns:GetListWithHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetListWithRestriction">
      <wsdl:documentation>
        <summary>Method to get a MDO list with restrictions.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithRestriction" name="GetListWithRestrictionRequest" message="tns:GetListWithRestrictionRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithRestrictionResponse" name="GetListWithRestrictionResponse" message="tns:GetListWithRestrictionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSimpleList">
      <wsdl:documentation>
        <summary>Method returns a simple flat MDO List.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSimpleList" name="GetSimpleListRequest" message="tns:GetSimpleListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSimpleListResponse" name="GetSimpleListResponse" message="tns:GetSimpleListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetListItem">
      <wsdl:documentation>
        <summary>Returns a single list item</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListItem" name="GetListItemRequest" message="tns:GetListItemRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListItemResponse" name="GetListItemResponse" message="tns:GetListItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetListNames">
      <wsdl:documentation>
        <summary>Returns a list of all MDO List names. These names can also be used with the Archive agent as ProviderNames.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListNames" name="GetListNamesRequest" message="tns:GetListNamesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListNamesResponse" name="GetListNamesResponse" message="tns:GetListNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetListIdByListName">
      <wsdl:documentation>
        <summary>Retrieve the UdListDefinition id of a list, by its name. Not all lists have such an ID, but those that are based on tables do (the list name is then the same as the table name)</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListIdByListName" name="GetListIdByListNameRequest" message="tns:GetListIdByListNameRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListIdByListNameResponse" name="GetListIdByListNameResponse" message="tns:GetListIdByListNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectableSimpleList">
      <wsdl:documentation>
        <summary>Method returns a flat Selectable MDO List.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableSimpleList" name="GetSelectableSimpleListRequest" message="tns:GetSelectableSimpleListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableSimpleListResponse" name="GetSelectableSimpleListResponse" message="tns:GetSelectableSimpleListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectableListWithRestriction">
      <wsdl:documentation>
        <summary>Method to get a Selectable MDO list with restrictions.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithRestriction" name="GetSelectableListWithRestrictionRequest" message="tns:GetSelectableListWithRestrictionRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithRestrictionResponse" name="GetSelectableListWithRestrictionResponse" message="tns:GetSelectableListWithRestrictionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectableListWithHistory">
      <wsdl:documentation>
        <summary>Method to get a Selectable MDO list with own history list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithHistory" name="GetSelectableListWithHistoryRequest" message="tns:GetSelectableListWithHistoryRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithHistoryResponse" name="GetSelectableListWithHistoryResponse" message="tns:GetSelectableListWithHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectableList">
      <wsdl:documentation>
        <summary>Method to get a Selectable MDO list.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableList" name="GetSelectableListRequest" message="tns:GetSelectableListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListResponse" name="GetSelectableListResponse" message="tns:GetSelectableListResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetSelected">
      <wsdl:documentation>
        <summary>Saves the selected values as selected by their given list representation.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/SetSelected" name="SetSelectedRequest" message="tns:SetSelectedRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/SetSelectedResponse" name="SetSelectedResponse" message="tns:SetSelectedResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>