AOS.DataAccesslayer/Service References/Mdo82/WcfMDOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.superoffice.net/ws/crm/NetServer/Services82" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfMDOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_MDO1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.superoffice.net/ws/crm/NetServer/Services82" location="http://localhost/SuperOffice82R01/Remote/Services82/MDO.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_MDO" type="i0:MDO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetList" style="document" />
      <wsdl:input name="GetListRequest">
        <soap:header message="i0:GetListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListResponse">
        <soap:header message="i0:GetListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListWithHistory">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithHistory" style="document" />
      <wsdl:input name="GetListWithHistoryRequest">
        <soap:header message="i0:GetListWithHistoryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListWithHistoryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListWithHistoryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListWithHistoryResponse">
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListWithRestriction">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithRestriction" style="document" />
      <wsdl:input name="GetListWithRestrictionRequest">
        <soap:header message="i0:GetListWithRestrictionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListWithRestrictionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListWithRestrictionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListWithRestrictionResponse">
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSimpleList" style="document" />
      <wsdl:input name="GetSimpleListRequest">
        <soap:header message="i0:GetSimpleListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSimpleListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSimpleListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSimpleListResponse">
        <soap:header message="i0:GetSimpleListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSimpleListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSimpleListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSimpleListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListItem">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListItem" style="document" />
      <wsdl:input name="GetListItemRequest">
        <soap:header message="i0:GetListItemRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListItemRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListItemRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListItemResponse">
        <soap:header message="i0:GetListItemResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListItemResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListItemResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListItemResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListNames">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListNames" style="document" />
      <wsdl:input name="GetListNamesRequest">
        <soap:header message="i0:GetListNamesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListNamesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListNamesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListNamesResponse">
        <soap:header message="i0:GetListNamesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListNamesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListNamesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListNamesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListIdByListName">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListIdByListName" style="document" />
      <wsdl:input name="GetListIdByListNameRequest">
        <soap:header message="i0:GetListIdByListNameRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListIdByListNameRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListIdByListNameRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListIdByListNameResponse">
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableSimpleList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableSimpleList" style="document" />
      <wsdl:input name="GetSelectableSimpleListRequest">
        <soap:header message="i0:GetSelectableSimpleListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableSimpleListResponse">
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableListWithRestriction">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithRestriction" style="document" />
      <wsdl:input name="GetSelectableListWithRestrictionRequest">
        <soap:header message="i0:GetSelectableListWithRestrictionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableListWithRestrictionResponse">
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableListWithHistory">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithHistory" style="document" />
      <wsdl:input name="GetSelectableListWithHistoryRequest">
        <soap:header message="i0:GetSelectableListWithHistoryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableListWithHistoryResponse">
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableList" style="document" />
      <wsdl:input name="GetSelectableListRequest">
        <soap:header message="i0:GetSelectableListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableListResponse">
        <soap:header message="i0:GetSelectableListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSelected">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/SetSelected" style="document" />
      <wsdl:input name="SetSelectedRequest">
        <soap:header message="i0:SetSelectedRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetSelectedRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetSelectedRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetSelectedResponse">
        <soap:header message="i0:SetSelectedResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetSelectedResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetSelectedResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetSelectedResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_MDO1" type="i0:MDO">
    <wsp:PolicyReference URI="#BasicHttpBinding_MDO1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetList" style="document" />
      <wsdl:input name="GetListRequest">
        <soap:header message="i0:GetListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListResponse">
        <soap:header message="i0:GetListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListWithHistory">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithHistory" style="document" />
      <wsdl:input name="GetListWithHistoryRequest">
        <soap:header message="i0:GetListWithHistoryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListWithHistoryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListWithHistoryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListWithHistoryResponse">
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListWithHistoryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListWithRestriction">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListWithRestriction" style="document" />
      <wsdl:input name="GetListWithRestrictionRequest">
        <soap:header message="i0:GetListWithRestrictionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListWithRestrictionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListWithRestrictionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListWithRestrictionResponse">
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListWithRestrictionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSimpleList" style="document" />
      <wsdl:input name="GetSimpleListRequest">
        <soap:header message="i0:GetSimpleListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSimpleListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSimpleListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSimpleListResponse">
        <soap:header message="i0:GetSimpleListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSimpleListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSimpleListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSimpleListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListItem">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListItem" style="document" />
      <wsdl:input name="GetListItemRequest">
        <soap:header message="i0:GetListItemRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListItemRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListItemRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListItemResponse">
        <soap:header message="i0:GetListItemResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListItemResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListItemResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListItemResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListNames">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListNames" style="document" />
      <wsdl:input name="GetListNamesRequest">
        <soap:header message="i0:GetListNamesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListNamesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListNamesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListNamesResponse">
        <soap:header message="i0:GetListNamesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListNamesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListNamesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListNamesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListIdByListName">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetListIdByListName" style="document" />
      <wsdl:input name="GetListIdByListNameRequest">
        <soap:header message="i0:GetListIdByListNameRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetListIdByListNameRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetListIdByListNameRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetListIdByListNameResponse">
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetListIdByListNameResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableSimpleList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableSimpleList" style="document" />
      <wsdl:input name="GetSelectableSimpleListRequest">
        <soap:header message="i0:GetSelectableSimpleListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableSimpleListResponse">
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableSimpleListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableListWithRestriction">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithRestriction" style="document" />
      <wsdl:input name="GetSelectableListWithRestrictionRequest">
        <soap:header message="i0:GetSelectableListWithRestrictionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableListWithRestrictionResponse">
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableListWithRestrictionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableListWithHistory">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableListWithHistory" style="document" />
      <wsdl:input name="GetSelectableListWithHistoryRequest">
        <soap:header message="i0:GetSelectableListWithHistoryRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableListWithHistoryResponse">
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableListWithHistoryResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectableList">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/GetSelectableList" style="document" />
      <wsdl:input name="GetSelectableListRequest">
        <soap:header message="i0:GetSelectableListRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetSelectableListRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetSelectableListRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSelectableListResponse">
        <soap:header message="i0:GetSelectableListResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetSelectableListResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetSelectableListResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetSelectableListResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSelected">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services82/MDO/SetSelected" style="document" />
      <wsdl:input name="SetSelectedRequest">
        <soap:header message="i0:SetSelectedRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SetSelectedRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SetSelectedRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetSelectedResponse">
        <soap:header message="i0:SetSelectedResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SetSelectedResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SetSelectedResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SetSelectedResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfMDOService">
    <wsdl:port name="BasicHttpBinding_MDO" binding="tns:BasicHttpBinding_MDO">
      <soap:address location="http://localhost/SuperOffice82R01/Remote/Services82/MDO.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_MDO1" binding="tns:BasicHttpBinding_MDO1">
      <soap:address location="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/MDO.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>