AOS.DataAccesslayer/Service References/Preference75/Preference1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Preference.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Preference.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Preference.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultPreferenceRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultPreference" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultPreferenceDescription" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultPreferenceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceDescriptionRequest">
    <wsdl:part name="parameters" element="tns:SavePreferenceDescription" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceDescriptionRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceDescriptionResponse">
    <wsdl:part name="parameters" element="tns:SavePreferenceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceDescriptionResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionLineRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultPreferenceDescriptionLine" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionLineRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionLineResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultPreferenceDescriptionLineResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPreferenceDescriptionLineResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceRequest">
    <wsdl:part name="parameters" element="tns:SavePreference" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceResponse">
    <wsdl:part name="parameters" element="tns:SavePreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrderRequest">
    <wsdl:part name="parameters" element="tns:SaveTabOrder" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrderRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrderResponse">
    <wsdl:part name="parameters" element="tns:SaveTabOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrderResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetTabOrderRequest">
    <wsdl:part name="parameters" element="tns:GetTabOrder" />
  </wsdl:message>
  <wsdl:message name="GetTabOrderRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetTabOrderResponse">
    <wsdl:part name="parameters" element="tns:GetTabOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetTabOrderResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceRequest">
    <wsdl:part name="parameters" element="tns:GetPreference" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceResponse">
    <wsdl:part name="parameters" element="tns:GetPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceEntityRequest">
    <wsdl:part name="parameters" element="tns:SavePreferenceEntity" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceEntityResponse">
    <wsdl:part name="parameters" element="tns:SavePreferenceEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SavePreferenceEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeletePreferenceRequest">
    <wsdl:part name="parameters" element="tns:DeletePreference" />
  </wsdl:message>
  <wsdl:message name="DeletePreferenceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeletePreferenceResponse">
    <wsdl:part name="parameters" element="tns:DeletePreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePreferenceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeletePreferencesRequest">
    <wsdl:part name="parameters" element="tns:DeletePreferences" />
  </wsdl:message>
  <wsdl:message name="DeletePreferencesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeletePreferencesResponse">
    <wsdl:part name="parameters" element="tns:DeletePreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePreferencesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionRequest">
    <wsdl:part name="parameters" element="tns:GetPreferenceDescription" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionResponse">
    <wsdl:part name="parameters" element="tns:GetPreferenceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineRequest">
    <wsdl:part name="parameters" element="tns:GetPreferenceDescriptionLine" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineResponse">
    <wsdl:part name="parameters" element="tns:GetPreferenceDescriptionLineResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineFromIdAndValueRequest">
    <wsdl:part name="parameters" element="tns:GetPreferenceDescriptionLineFromIdAndValue" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineFromIdAndValueRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineFromIdAndValueResponse">
    <wsdl:part name="parameters" element="tns:GetPreferenceDescriptionLineFromIdAndValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceDescriptionLineFromIdAndValueResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesRequest">
    <wsdl:part name="parameters" element="tns:GetPreferences" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesResponse">
    <wsdl:part name="parameters" element="tns:GetPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferencesRequest">
    <wsdl:part name="parameters" element="tns:SavePreferences" />
  </wsdl:message>
  <wsdl:message name="SavePreferencesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePreferencesResponse">
    <wsdl:part name="parameters" element="tns:SavePreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="SavePreferencesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesWithDisplayValuesRequest">
    <wsdl:part name="parameters" element="tns:GetPreferencesWithDisplayValues" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesWithDisplayValuesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesWithDisplayValuesResponse">
    <wsdl:part name="parameters" element="tns:GetPreferencesWithDisplayValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferencesWithDisplayValuesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetTabOrdersRequest">
    <wsdl:part name="parameters" element="tns:GetTabOrders" />
  </wsdl:message>
  <wsdl:message name="GetTabOrdersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetTabOrdersResponse">
    <wsdl:part name="parameters" element="tns:GetTabOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTabOrdersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrdersRequest">
    <wsdl:part name="parameters" element="tns:SaveTabOrders" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrdersRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrdersResponse">
    <wsdl:part name="parameters" element="tns:SaveTabOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTabOrdersResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="Preference">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for Preference</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultPreference">
      <wsdl:documentation>
        <summary>Loading default values into a new Preference.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreference" name="CreateDefaultPreferenceRequest" message="tns:CreateDefaultPreferenceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceResponse" name="CreateDefaultPreferenceResponse" message="tns:CreateDefaultPreferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultPreferenceDescription">
      <wsdl:documentation>
        <summary>Loading default values into a new PreferenceDescription.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescription" name="CreateDefaultPreferenceDescriptionRequest" message="tns:CreateDefaultPreferenceDescriptionRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescriptionResponse" name="CreateDefaultPreferenceDescriptionResponse" message="tns:CreateDefaultPreferenceDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="SavePreferenceDescription">
      <wsdl:documentation>
        <summary>Updates the existing PreferenceDescription or creates a new PreferenceDescription if the id parameter is empty.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceDescription" name="SavePreferenceDescriptionRequest" message="tns:SavePreferenceDescriptionRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceDescriptionResponse" name="SavePreferenceDescriptionResponse" message="tns:SavePreferenceDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultPreferenceDescriptionLine">
      <wsdl:documentation>
        <summary>Loading default values into a new PreferenceDescriptionLine.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescriptionLine" name="CreateDefaultPreferenceDescriptionLineRequest" message="tns:CreateDefaultPreferenceDescriptionLineRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescriptionLineResponse" name="CreateDefaultPreferenceDescriptionLineResponse" message="tns:CreateDefaultPreferenceDescriptionLineResponse" />
    </wsdl:operation>
    <wsdl:operation name="SavePreference">
      <wsdl:documentation>
        <summary>Save this preference</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreference" name="SavePreferenceRequest" message="tns:SavePreferenceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceResponse" name="SavePreferenceResponse" message="tns:SavePreferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveTabOrder">
      <wsdl:documentation>
        <summary>Saves the tab order. The order is saved pr. user.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrder" name="SaveTabOrderRequest" message="tns:SaveTabOrderRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrderResponse" name="SaveTabOrderResponse" message="tns:SaveTabOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTabOrder">
      <wsdl:documentation>
        <summary>Gets the tab order.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrder" name="GetTabOrderRequest" message="tns:GetTabOrderRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrderResponse" name="GetTabOrderResponse" message="tns:GetTabOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreference">
      <wsdl:documentation>
        <summary>Get a preference by id</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreference" name="GetPreferenceRequest" message="tns:GetPreferenceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceResponse" name="GetPreferenceResponse" message="tns:GetPreferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="SavePreferenceEntity">
      <wsdl:documentation>
        <summary>Saves a complete preference object. Preference administrator rights are required to use this</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceEntity" name="SavePreferenceEntityRequest" message="tns:SavePreferenceEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceEntityResponse" name="SavePreferenceEntityResponse" message="tns:SavePreferenceEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeletePreference">
      <wsdl:documentation>
        <summary>Delete a preference by id</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreference" name="DeletePreferenceRequest" message="tns:DeletePreferenceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreferenceResponse" name="DeletePreferenceResponse" message="tns:DeletePreferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeletePreferences">
      <wsdl:documentation>
        <summary>Delete some preferences by id</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreferences" name="DeletePreferencesRequest" message="tns:DeletePreferencesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreferencesResponse" name="DeletePreferencesResponse" message="tns:DeletePreferencesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescription">
      <wsdl:documentation>
        <summary>Gets a PreferenceDescription object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescription" name="GetPreferenceDescriptionRequest" message="tns:GetPreferenceDescriptionRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionResponse" name="GetPreferenceDescriptionResponse" message="tns:GetPreferenceDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescriptionLine">
      <wsdl:documentation>
        <summary>Gets a PreferenceDescriptionLine object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLine" name="GetPreferenceDescriptionLineRequest" message="tns:GetPreferenceDescriptionLineRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLineResponse" name="GetPreferenceDescriptionLineResponse" message="tns:GetPreferenceDescriptionLineResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescriptionLineFromIdAndValue">
      <wsdl:documentation>
        <summary>Get a preference description line from a prefDesc_id and a prefValue</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLineFromIdAndValue" name="GetPreferenceDescriptionLineFromIdAndValueRequest" message="tns:GetPreferenceDescriptionLineFromIdAndValueRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLineFromIdAndValueResponse" name="GetPreferenceDescriptionLineFromIdAndValueResponse" message="tns:GetPreferenceDescriptionLineFromIdAndValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferences">
      <wsdl:documentation>
        <summary>Get one or more preferences based on a set of specifications.&lt;br/&gt;The prefDisplayvalue and prefDisplaytooltip are blank (faster processing relative to GetPreferencesWithDisplayValues)</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferences" name="GetPreferencesRequest" message="tns:GetPreferencesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferencesResponse" name="GetPreferencesResponse" message="tns:GetPreferencesResponse" />
    </wsdl:operation>
    <wsdl:operation name="SavePreferences">
      <wsdl:documentation>
        <summary>Save this set of preferences all the way to the database.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferences" name="SavePreferencesRequest" message="tns:SavePreferencesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferencesResponse" name="SavePreferencesResponse" message="tns:SavePreferencesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferencesWithDisplayValues">
      <wsdl:documentation>
        <summary>Get one or more preferences based on a set of specifications&lt;br/&gt;The PrefDisplayValue and PrefDisplaytooltip are populated, at some additional processing cost.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferencesWithDisplayValues" name="GetPreferencesWithDisplayValuesRequest" message="tns:GetPreferencesWithDisplayValuesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferencesWithDisplayValuesResponse" name="GetPreferencesWithDisplayValuesResponse" message="tns:GetPreferencesWithDisplayValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTabOrders">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrders" name="GetTabOrdersRequest" message="tns:GetTabOrdersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrdersResponse" name="GetTabOrdersResponse" message="tns:GetTabOrdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveTabOrders">
      <wsdl:documentation>
        <summary>
        </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrders" name="SaveTabOrdersRequest" message="tns:SaveTabOrdersRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrdersResponse" name="SaveTabOrdersResponse" message="tns:SaveTabOrdersResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>