AOS.DataAccesslayer/Service References/Preference75/WcfPreferenceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfPreferenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_Preference1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" location="http://192.168.10.151/SuperOffice/Remote/Services75/Preference.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Preference" type="i0:Preference">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultPreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreference" style="document" />
      <wsdl:input name="CreateDefaultPreferenceRequest">
        <soap:header message="i0:CreateDefaultPreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultPreferenceResponse">
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultPreferenceDescription">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescription" style="document" />
      <wsdl:input name="CreateDefaultPreferenceDescriptionRequest">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultPreferenceDescriptionResponse">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreferenceDescription">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceDescription" style="document" />
      <wsdl:input name="SavePreferenceDescriptionRequest">
        <soap:header message="i0:SavePreferenceDescriptionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferenceDescriptionResponse">
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultPreferenceDescriptionLine">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescriptionLine" style="document" />
      <wsdl:input name="CreateDefaultPreferenceDescriptionLineRequest">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultPreferenceDescriptionLineResponse">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreference" style="document" />
      <wsdl:input name="SavePreferenceRequest">
        <soap:header message="i0:SavePreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferenceResponse">
        <soap:header message="i0:SavePreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTabOrder">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrder" style="document" />
      <wsdl:input name="SaveTabOrderRequest">
        <soap:header message="i0:SaveTabOrderRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveTabOrderRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveTabOrderRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveTabOrderResponse">
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabOrder">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrder" style="document" />
      <wsdl:input name="GetTabOrderRequest">
        <soap:header message="i0:GetTabOrderRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetTabOrderRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetTabOrderRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTabOrderResponse">
        <soap:header message="i0:GetTabOrderResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetTabOrderResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetTabOrderResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetTabOrderResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreference" style="document" />
      <wsdl:input name="GetPreferenceRequest">
        <soap:header message="i0:GetPreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceResponse">
        <soap:header message="i0:GetPreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreferenceEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceEntity" style="document" />
      <wsdl:input name="SavePreferenceEntityRequest">
        <soap:header message="i0:SavePreferenceEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferenceEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferenceEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferenceEntityResponse">
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreference" style="document" />
      <wsdl:input name="DeletePreferenceRequest">
        <soap:header message="i0:DeletePreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeletePreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeletePreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletePreferenceResponse">
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePreferences">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreferences" style="document" />
      <wsdl:input name="DeletePreferencesRequest">
        <soap:header message="i0:DeletePreferencesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeletePreferencesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeletePreferencesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletePreferencesResponse">
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescription">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescription" style="document" />
      <wsdl:input name="GetPreferenceDescriptionRequest">
        <soap:header message="i0:GetPreferenceDescriptionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceDescriptionResponse">
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescriptionLine">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLine" style="document" />
      <wsdl:input name="GetPreferenceDescriptionLineRequest">
        <soap:header message="i0:GetPreferenceDescriptionLineRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceDescriptionLineResponse">
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescriptionLineFromIdAndValue">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLineFromIdAndValue" style="document" />
      <wsdl:input name="GetPreferenceDescriptionLineFromIdAndValueRequest">
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceDescriptionLineFromIdAndValueResponse">
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferences">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferences" style="document" />
      <wsdl:input name="GetPreferencesRequest">
        <soap:header message="i0:GetPreferencesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferencesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferencesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferencesResponse">
        <soap:header message="i0:GetPreferencesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferencesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferencesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferencesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreferences">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferences" style="document" />
      <wsdl:input name="SavePreferencesRequest">
        <soap:header message="i0:SavePreferencesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferencesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferencesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferencesResponse">
        <soap:header message="i0:SavePreferencesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferencesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferencesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferencesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferencesWithDisplayValues">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferencesWithDisplayValues" style="document" />
      <wsdl:input name="GetPreferencesWithDisplayValuesRequest">
        <soap:header message="i0:GetPreferencesWithDisplayValuesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferencesWithDisplayValuesResponse">
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabOrders">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrders" style="document" />
      <wsdl:input name="GetTabOrdersRequest">
        <soap:header message="i0:GetTabOrdersRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetTabOrdersRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetTabOrdersRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTabOrdersResponse">
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTabOrders">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrders" style="document" />
      <wsdl:input name="SaveTabOrdersRequest">
        <soap:header message="i0:SaveTabOrdersRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveTabOrdersRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveTabOrdersRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveTabOrdersResponse">
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_Preference1" type="i0:Preference">
    <wsp:PolicyReference URI="#BasicHttpBinding_Preference1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDefaultPreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreference" style="document" />
      <wsdl:input name="CreateDefaultPreferenceRequest">
        <soap:header message="i0:CreateDefaultPreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultPreferenceResponse">
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultPreferenceDescription">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescription" style="document" />
      <wsdl:input name="CreateDefaultPreferenceDescriptionRequest">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultPreferenceDescriptionResponse">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreferenceDescription">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceDescription" style="document" />
      <wsdl:input name="SavePreferenceDescriptionRequest">
        <soap:header message="i0:SavePreferenceDescriptionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferenceDescriptionResponse">
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferenceDescriptionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultPreferenceDescriptionLine">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/CreateDefaultPreferenceDescriptionLine" style="document" />
      <wsdl:input name="CreateDefaultPreferenceDescriptionLineRequest">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDefaultPreferenceDescriptionLineResponse">
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:CreateDefaultPreferenceDescriptionLineResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreference" style="document" />
      <wsdl:input name="SavePreferenceRequest">
        <soap:header message="i0:SavePreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferenceResponse">
        <soap:header message="i0:SavePreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTabOrder">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrder" style="document" />
      <wsdl:input name="SaveTabOrderRequest">
        <soap:header message="i0:SaveTabOrderRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveTabOrderRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveTabOrderRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveTabOrderResponse">
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveTabOrderResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabOrder">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrder" style="document" />
      <wsdl:input name="GetTabOrderRequest">
        <soap:header message="i0:GetTabOrderRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetTabOrderRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetTabOrderRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTabOrderResponse">
        <soap:header message="i0:GetTabOrderResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetTabOrderResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetTabOrderResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetTabOrderResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreference" style="document" />
      <wsdl:input name="GetPreferenceRequest">
        <soap:header message="i0:GetPreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceResponse">
        <soap:header message="i0:GetPreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreferenceEntity">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferenceEntity" style="document" />
      <wsdl:input name="SavePreferenceEntityRequest">
        <soap:header message="i0:SavePreferenceEntityRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferenceEntityRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferenceEntityRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferenceEntityResponse">
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferenceEntityResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePreference">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreference" style="document" />
      <wsdl:input name="DeletePreferenceRequest">
        <soap:header message="i0:DeletePreferenceRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeletePreferenceRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeletePreferenceRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletePreferenceResponse">
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeletePreferenceResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePreferences">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/DeletePreferences" style="document" />
      <wsdl:input name="DeletePreferencesRequest">
        <soap:header message="i0:DeletePreferencesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:DeletePreferencesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:DeletePreferencesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletePreferencesResponse">
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:DeletePreferencesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescription">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescription" style="document" />
      <wsdl:input name="GetPreferenceDescriptionRequest">
        <soap:header message="i0:GetPreferenceDescriptionRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceDescriptionResponse">
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescriptionLine">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLine" style="document" />
      <wsdl:input name="GetPreferenceDescriptionLineRequest">
        <soap:header message="i0:GetPreferenceDescriptionLineRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceDescriptionLineResponse">
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferenceDescriptionLineFromIdAndValue">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferenceDescriptionLineFromIdAndValue" style="document" />
      <wsdl:input name="GetPreferenceDescriptionLineFromIdAndValueRequest">
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferenceDescriptionLineFromIdAndValueResponse">
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferenceDescriptionLineFromIdAndValueResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferences">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferences" style="document" />
      <wsdl:input name="GetPreferencesRequest">
        <soap:header message="i0:GetPreferencesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferencesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferencesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferencesResponse">
        <soap:header message="i0:GetPreferencesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferencesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferencesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferencesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePreferences">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SavePreferences" style="document" />
      <wsdl:input name="SavePreferencesRequest">
        <soap:header message="i0:SavePreferencesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SavePreferencesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SavePreferencesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePreferencesResponse">
        <soap:header message="i0:SavePreferencesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SavePreferencesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SavePreferencesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SavePreferencesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferencesWithDisplayValues">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetPreferencesWithDisplayValues" style="document" />
      <wsdl:input name="GetPreferencesWithDisplayValuesRequest">
        <soap:header message="i0:GetPreferencesWithDisplayValuesRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPreferencesWithDisplayValuesResponse">
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetPreferencesWithDisplayValuesResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTabOrders">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/GetTabOrders" style="document" />
      <wsdl:input name="GetTabOrdersRequest">
        <soap:header message="i0:GetTabOrdersRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:GetTabOrdersRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:GetTabOrdersRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTabOrdersResponse">
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:GetTabOrdersResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTabOrders">
      <soap:operation soapAction="http://www.superoffice.net/ws/crm/NetServer/Services75/Preference/SaveTabOrders" style="document" />
      <wsdl:input name="SaveTabOrdersRequest">
        <soap:header message="i0:SaveTabOrdersRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="i0:SaveTabOrdersRequest_Headers" part="Credentials" use="literal" />
        <soap:header message="i0:SaveTabOrdersRequest_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveTabOrdersResponse">
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="ExceptionInfo" use="literal" />
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="ExtraInfo" use="literal" />
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="Succeeded" use="literal" />
        <soap:header message="i0:SaveTabOrdersResponse_Headers" part="TimeZone" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfPreferenceService">
    <wsdl:port name="BasicHttpBinding_Preference" binding="tns:BasicHttpBinding_Preference">
      <soap:address location="http://192.168.10.151/SuperOffice/Remote/Services75/Preference.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_Preference1" binding="tns:BasicHttpBinding_Preference1">
      <soap:address location="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Preference.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>