AOS.DataAccesslayer/Service References/Find75/Find31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" elementFormDefault="qualified" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Find.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCriteriaInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StaticColumns" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:complexType name="SoCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoCredentials" nillable="true" type="tns:SoCredentials" />
  <xs:element name="Credentials" nillable="true" type="tns:SoCredentials" />
  <xs:complexType name="SoTimeZone">
    <xs:sequence>
      <xs:element minOccurs="0" name="SoTimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="SoTimeZoneLocationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoTimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="TimeZone" nillable="true" type="tns:SoTimeZone" />
  <xs:element name="GetCriteriaInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:CriteriaInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CriteriaInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
          <xs:element minOccurs="0" name="CriteriaArchiveColumns" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
          <xs:element minOccurs="0" name="CriteriaArchiveRows" nillable="true" type="tns:ArrayOfArchiveListItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriteriaInformation" nillable="true" type="tns:CriteriaInformation" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="TableRight" nillable="true" type="tns:TableRight" />
      <xs:element minOccurs="0" name="FieldProperties" nillable="true" type="tns:FieldPropertyDictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="TableRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:ETableRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRight" nillable="true" type="tns:TableRight" />
  <xs:simpleType name="ETableRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Select" />
          <xs:enumeration value="Update" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Filtering" />
          <xs:enumeration value="RestrictedUpdate" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Uninitialized" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ETableRight" nillable="true" type="tns:ETableRight" />
  <xs:complexType name="FieldPropertyDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldPropertyDictionaryKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:FieldProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldPropertyDictionary" nillable="true" type="tns:FieldPropertyDictionary" />
  <xs:complexType name="FieldProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldRight" nillable="true" type="tns:FieldRight" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldProperty" nillable="true" type="tns:FieldProperty" />
  <xs:complexType name="FieldRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask" type="tns:EFieldRight" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldRight" nillable="true" type="tns:FieldRight" />
  <xs:simpleType name="EFieldRight">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Unused1" />
          <xs:enumeration value="Unused2" />
          <xs:enumeration value="Unused3" />
          <xs:enumeration value="Unused4" />
          <xs:enumeration value="UIHintMandatory" />
          <xs:enumeration value="UIHintReadOnly" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EFieldRight" nillable="true" type="tns:EFieldRight" />
  <xs:complexType name="ArrayOfArchiveRestrictionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveRestrictionInfo" nillable="true" type="tns:ArchiveRestrictionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveRestrictionInfo" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
  <xs:complexType name="ArchiveRestrictionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayValues" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="ColumnInfo" nillable="true" type="tns:ArchiveColumnInfo" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubRestrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
      <xs:element minOccurs="0" name="InterParenthesis" type="xs:int" />
      <xs:element minOccurs="0" name="InterOperator" type="tns:InterRestrictionOperator" />
      <xs:element minOccurs="0" name="UniqueHash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveRestrictionInfo" nillable="true" type="tns:ArchiveRestrictionInfo" />
  <xs:complexType name="ArchiveColumnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayTooltip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanOrderBy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanRestrictBy" type="xs:boolean" />
      <xs:element minOccurs="0" name="RestrictionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictionListName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconHint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadingIconHint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveColumnInfo" nillable="true" type="tns:ArchiveColumnInfo" />
  <xs:simpleType name="InterRestrictionOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InterRestrictionOperator" nillable="true" type="tns:InterRestrictionOperator" />
  <xs:complexType name="ArrayOfArchiveColumnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveColumnInfo" nillable="true" type="tns:ArchiveColumnInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveColumnInfo" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
  <xs:complexType name="ArrayOfArchiveListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveListItem" nillable="true" type="tns:ArchiveListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveListItem" nillable="true" type="tns:ArrayOfArchiveListItem" />
  <xs:complexType name="ArchiveListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryKey" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnData" nillable="true" type="tns:ColumnDataDictionary" />
          <xs:element minOccurs="0" name="LinkHint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StyleHint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchiveListItem" nillable="true" type="tns:ArchiveListItem" />
  <xs:complexType name="ColumnDataDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnDataKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:ArchiveColumnData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnDataDictionary" nillable="true" type="tns:ColumnDataDictionary" />
  <xs:complexType name="ArchiveColumnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TooltipHint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkHint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveColumnData" nillable="true" type="tns:ArchiveColumnData" />
  <xs:complexType name="SoExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SoExceptionInfo" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:SoExceptionInfoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExceptionInfoParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoExceptionInfoParametersKeyValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExceptionInfoParameters" nillable="true" type="tns:SoExceptionInfoParameters" />
  <xs:element name="ExceptionInfo" nillable="true" type="tns:SoExceptionInfo" />
  <xs:complexType name="SoExtraInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraInfoNameValuePair">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="ExtraInfo" nillable="true" type="tns:SoExtraInfo" />
  <xs:element name="Succeeded" type="xs:boolean" />
  <xs:element name="GetCriteriaInformationWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StaticColumns" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaInformationWithContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:CriteriaInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRestrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRestrictionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRestrictionsWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRestrictionsWithContextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRestrictionsAndGetCriteriaInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StaticColumns" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRestrictionsAndGetCriteriaInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:CriteriaInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FindResults">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Carrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchiveColumns" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
          <xs:element minOccurs="0" name="ArchiveRows" nillable="true" type="tns:ArrayOfArchiveListItem" />
          <xs:element minOccurs="0" name="RowCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindResults" nillable="true" type="tns:FindResults" />
  <xs:element name="FindFromRestrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFromRestrictionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFromRestrictionsColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumns" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFromRestrictionsColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableRestrictionColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableRestrictionColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Response" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedCriteriaInformationWithDefaults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumnNames" nillable="true" type="q8:ArrayOfstring" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StaticColumns" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedCriteriaInformationWithDefaultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:CriteriaInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedCriteriaInformationWithDefaultsWithContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumnNames" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StaticColumns" nillable="true" type="q11:ArrayOfstring" />
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:CriteriaInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFromRestrictionsColumnsOrderBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumns" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="OrderBy" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfArchiveOrderByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveOrderByInfo" nillable="true" type="tns:ArchiveOrderByInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveOrderByInfo" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
  <xs:complexType name="ArchiveOrderByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" type="tns:OrderBySortType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveOrderByInfo" nillable="true" type="tns:ArchiveOrderByInfo" />
  <xs:simpleType name="OrderBySortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderBySortType" nillable="true" type="tns:OrderBySortType" />
  <xs:element name="FindFromRestrictionsColumnsOrderByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDesiredColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDesiredColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultOrderBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultOrderByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateRestrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateRestrictionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDesiredColumnsFromRestrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDesiredColumnsFromRestrictionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveColumnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultOrderByFromDesiredColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumns" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultOrderByFromDesiredColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrderBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="OrderBy" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrderByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWithExtraRestrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExtraRestrictions" nillable="true" type="tns:ArrayOfArchiveRestrictionInfo" />
        <xs:element minOccurs="0" name="OrderBy" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumns" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWithExtraRestrictionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWithColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StorageKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DesiredColumns" nillable="true" type="q15:ArrayOfstring" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="OrderBy" nillable="true" type="tns:ArrayOfArchiveOrderByInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWithColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="tns:FindResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>