AOS.DataAccesslayer/Service References/Find75/Find1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Find.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Find.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Find.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCriteriaInformationRequest">
    <wsdl:part name="parameters" element="tns:GetCriteriaInformation" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationResponse">
    <wsdl:part name="parameters" element="tns:GetCriteriaInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationWithContextRequest">
    <wsdl:part name="parameters" element="tns:GetCriteriaInformationWithContext" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationWithContextResponse">
    <wsdl:part name="parameters" element="tns:GetCriteriaInformationWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="GetCriteriaInformationWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsRequest">
    <wsdl:part name="parameters" element="tns:SaveRestrictions" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsResponse">
    <wsdl:part name="parameters" element="tns:SaveRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsWithContextRequest">
    <wsdl:part name="parameters" element="tns:SaveRestrictionsWithContext" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsWithContextResponse">
    <wsdl:part name="parameters" element="tns:SaveRestrictionsWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsAndGetCriteriaInformationRequest">
    <wsdl:part name="parameters" element="tns:SaveRestrictionsAndGetCriteriaInformation" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsAndGetCriteriaInformationRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsAndGetCriteriaInformationResponse">
    <wsdl:part name="parameters" element="tns:SaveRestrictionsAndGetCriteriaInformationResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRestrictionsAndGetCriteriaInformationResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindRequest">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="FindRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindResponse">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="FindResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsRequest">
    <wsdl:part name="parameters" element="tns:FindFromRestrictions" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsResponse">
    <wsdl:part name="parameters" element="tns:FindFromRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsRequest">
    <wsdl:part name="parameters" element="tns:FindFromRestrictionsColumns" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsResponse">
    <wsdl:part name="parameters" element="tns:FindFromRestrictionsColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRestrictionColumnsRequest">
    <wsdl:part name="parameters" element="tns:GetAvailableRestrictionColumns" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRestrictionColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRestrictionColumnsResponse">
    <wsdl:part name="parameters" element="tns:GetAvailableRestrictionColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRestrictionColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsRequest">
    <wsdl:part name="parameters" element="tns:GetSpecifiedCriteriaInformationWithDefaults" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsResponse">
    <wsdl:part name="parameters" element="tns:GetSpecifiedCriteriaInformationWithDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsWithContextRequest">
    <wsdl:part name="parameters" element="tns:GetSpecifiedCriteriaInformationWithDefaultsWithContext" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsWithContextRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse">
    <wsdl:part name="parameters" element="tns:GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsOrderByRequest">
    <wsdl:part name="parameters" element="tns:FindFromRestrictionsColumnsOrderBy" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsOrderByRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsOrderByResponse">
    <wsdl:part name="parameters" element="tns:FindFromRestrictionsColumnsOrderByResponse" />
  </wsdl:message>
  <wsdl:message name="FindFromRestrictionsColumnsOrderByResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsRequest">
    <wsdl:part name="parameters" element="tns:GetDefaultDesiredColumns" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsResponse">
    <wsdl:part name="parameters" element="tns:GetDefaultDesiredColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByRequest">
    <wsdl:part name="parameters" element="tns:GetDefaultOrderBy" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByResponse">
    <wsdl:part name="parameters" element="tns:GetDefaultOrderByResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="PopulateRestrictionsRequest">
    <wsdl:part name="parameters" element="tns:PopulateRestrictions" />
  </wsdl:message>
  <wsdl:message name="PopulateRestrictionsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="PopulateRestrictionsResponse">
    <wsdl:part name="parameters" element="tns:PopulateRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateRestrictionsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsFromRestrictionsRequest">
    <wsdl:part name="parameters" element="tns:GetDefaultDesiredColumnsFromRestrictions" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsFromRestrictionsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsFromRestrictionsResponse">
    <wsdl:part name="parameters" element="tns:GetDefaultDesiredColumnsFromRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultDesiredColumnsFromRestrictionsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByFromDesiredColumnsRequest">
    <wsdl:part name="parameters" element="tns:GetDefaultOrderByFromDesiredColumns" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByFromDesiredColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByFromDesiredColumnsResponse">
    <wsdl:part name="parameters" element="tns:GetDefaultOrderByFromDesiredColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultOrderByFromDesiredColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindOrderByRequest">
    <wsdl:part name="parameters" element="tns:FindOrderBy" />
  </wsdl:message>
  <wsdl:message name="FindOrderByRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindOrderByResponse">
    <wsdl:part name="parameters" element="tns:FindOrderByResponse" />
  </wsdl:message>
  <wsdl:message name="FindOrderByResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindWithExtraRestrictionsRequest">
    <wsdl:part name="parameters" element="tns:FindWithExtraRestrictions" />
  </wsdl:message>
  <wsdl:message name="FindWithExtraRestrictionsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindWithExtraRestrictionsResponse">
    <wsdl:part name="parameters" element="tns:FindWithExtraRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="FindWithExtraRestrictionsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindWithColumnsRequest">
    <wsdl:part name="parameters" element="tns:FindWithColumns" />
  </wsdl:message>
  <wsdl:message name="FindWithColumnsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="FindWithColumnsResponse">
    <wsdl:part name="parameters" element="tns:FindWithColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="FindWithColumnsResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="Find">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for Find</summary>
    </wsdl:documentation>
    <wsdl:operation name="GetCriteriaInformation">
      <wsdl:documentation>
        <summary>Get criteria information from a set of saved criteria. The result contains the restrictions in two forms: fully populated ArchiveRestrictionInfo objects, used to display details and for saving changes; and as a list suitable for an Archive control</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetCriteriaInformation" name="GetCriteriaInformationRequest" message="tns:GetCriteriaInformationRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetCriteriaInformationResponse" name="GetCriteriaInformationResponse" message="tns:GetCriteriaInformationResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCriteriaInformationWithContext">
      <wsdl:documentation>
        <summary>Get criteria information from a set of saved criteria. The result contains the restrictions in two forms: fully populated ArchiveRestrictionInfo objects, used to display details and for saving changes; and as a list suitable for an Archive control</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetCriteriaInformationWithContext" name="GetCriteriaInformationWithContextRequest" message="tns:GetCriteriaInformationWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetCriteriaInformationWithContextResponse" name="GetCriteriaInformationWithContextResponse" message="tns:GetCriteriaInformationWithContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveRestrictions">
      <wsdl:documentation>
        <summary>Save an array of restrictions for later use as search criteria (including as dynamic selection and Find). </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/SaveRestrictions" name="SaveRestrictionsRequest" message="tns:SaveRestrictionsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/SaveRestrictionsResponse" name="SaveRestrictionsResponse" message="tns:SaveRestrictionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveRestrictionsWithContext">
      <wsdl:documentation>
        <summary>Save an array of restrictions for later use as search criteria (including as dynamic selection and Find). </summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/SaveRestrictionsWithContext" name="SaveRestrictionsWithContextRequest" message="tns:SaveRestrictionsWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/SaveRestrictionsWithContextResponse" name="SaveRestrictionsWithContextResponse" message="tns:SaveRestrictionsWithContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveRestrictionsAndGetCriteriaInformation">
      <wsdl:documentation>
        <summary>Save an array of restrictions for later use as search criteria (including as dynamic selection and Find). Then, return the same result as a call to GetCriteriaInformation would have done. The purpose is to encapsulate saving and updating of a GUI in one round trip.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/SaveRestrictionsAndGetCriteriaInformation" name="SaveRestrictionsAndGetCriteriaInformationRequest" message="tns:SaveRestrictionsAndGetCriteriaInformationRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/SaveRestrictionsAndGetCriteriaInformationResponse" name="SaveRestrictionsAndGetCriteriaInformationResponse" message="tns:SaveRestrictionsAndGetCriteriaInformationResponse" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. The criteria for the Find are fetched from the restriction storage provider according to the given parameters. The columns of the result are calculated based on the restriction. The orderby columns are also calculated by the system.&lt;para/&gt;The other variants of the Find method allow you greater control over the individual aspects of the process.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/Find" name="FindRequest" message="tns:FindRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindResponse" name="FindResponse" message="tns:FindResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindFromRestrictions">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. The criteria for the Find are passed in directly, not fetched by a restriction storage provider. The columns of the result are calculated based on the restriction.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindFromRestrictions" name="FindFromRestrictionsRequest" message="tns:FindFromRestrictionsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindFromRestrictionsResponse" name="FindFromRestrictionsResponse" message="tns:FindFromRestrictionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindFromRestrictionsColumns">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. &lt;para/&gt;The criteria for the Find are passed in directly, not fetched by a restriction storage provider. &lt;para/&gt;The desired columns of the result set are also passed in directly.&lt;para/&gt;The orderby information is calculated by the system.&lt;para/&gt;Use the GetCriteriaInformation and GetDefaultDesiredColumns service methods to let the system calculate these values, if you want to use or modify them.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindFromRestrictionsColumns" name="FindFromRestrictionsColumnsRequest" message="tns:FindFromRestrictionsColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindFromRestrictionsColumnsResponse" name="FindFromRestrictionsColumnsResponse" message="tns:FindFromRestrictionsColumnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRestrictionColumns">
      <wsdl:documentation>
        <summary>Get a list of the column names corresponding to available restrictions for a certain archive provider and restriction storage provider. Such columns have CanRestrict set to true, and are supported by the given restriction storage provider.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetAvailableRestrictionColumns" name="GetAvailableRestrictionColumnsRequest" message="tns:GetAvailableRestrictionColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetAvailableRestrictionColumnsResponse" name="GetAvailableRestrictionColumnsResponse" message="tns:GetAvailableRestrictionColumnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedCriteriaInformationWithDefaults">
      <wsdl:documentation>
        <summary>Get criteria information from a set of saved criteria, for a specific set of columns. The result contains the restrictions in two forms: fully populated ArchiveRestrictionInfo objects, used to display details and for saving changes; and as a list suitable for an Archive control. ALL columns specified in the call will be present in the results; those that do not have corresponding criteria set will have empty values and the default (first) operator, with the IsActive flag set to false.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetSpecifiedCriteriaInformationWithDefaults" name="GetSpecifiedCriteriaInformationWithDefaultsRequest" message="tns:GetSpecifiedCriteriaInformationWithDefaultsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetSpecifiedCriteriaInformationWithDefaultsResponse" name="GetSpecifiedCriteriaInformationWithDefaultsResponse" message="tns:GetSpecifiedCriteriaInformationWithDefaultsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedCriteriaInformationWithDefaultsWithContext">
      <wsdl:documentation>
        <summary>Get criteria information from a set of saved criteria, for a specific set of columns. The result contains the restrictions in two forms: fully populated ArchiveRestrictionInfo objects, used to display details and for saving changes; and as a list suitable for an Archive control. ALL columns specified in the call will be present in the results; those that do not have corresponding criteria set will have empty values and the default (first) operator, with the IsActive flag set to false.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetSpecifiedCriteriaInformationWithDefaultsWithContext" name="GetSpecifiedCriteriaInformationWithDefaultsWithContextRequest" message="tns:GetSpecifiedCriteriaInformationWithDefaultsWithContextRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse" name="GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse" message="tns:GetSpecifiedCriteriaInformationWithDefaultsWithContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindFromRestrictionsColumnsOrderBy">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. &lt;para/&gt;The criteria for the Find are passed in directly, not fetched by a restriction storage provider. &lt;para/&gt;The desired columns of the result set are also passed in directly.&lt;para/&gt;The orderby information is also passed in directly.&lt;para/&gt;Use the GetCriteriaInformation, GetDefaultDesiredColumns and GetDefaultOrderBy service methods to let the system calculate these values, if you want to use or modify them.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindFromRestrictionsColumnsOrderBy" name="FindFromRestrictionsColumnsOrderByRequest" message="tns:FindFromRestrictionsColumnsOrderByRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindFromRestrictionsColumnsOrderByResponse" name="FindFromRestrictionsColumnsOrderByResponse" message="tns:FindFromRestrictionsColumnsOrderByResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultDesiredColumns">
      <wsdl:documentation>
        <summary>Calculate the default desired columns, i.e., the result columns for a given search. The search is defined by a storage type, provider name and storage key, which are used to fetch the corresponding restrictions from the database (in the same way as Find does). If you want to specify the restriction directly, use the GetDefaultDesiredColumnsFromRestrictions method instead. This is the algorithm that is used by the Find service method.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultDesiredColumns" name="GetDefaultDesiredColumnsRequest" message="tns:GetDefaultDesiredColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultDesiredColumnsResponse" name="GetDefaultDesiredColumnsResponse" message="tns:GetDefaultDesiredColumnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultOrderBy">
      <wsdl:documentation>
        <summary>Calculate the default orderby columns for a given provider and a search. The search is specified by a storage type, provider name and storage key, and is fetched from the database. Default desired columns are then calculated for the search, and those columns are then used as the basis for calculating an order by. If you want to specify the desired columns directly, use the GetDefaultOrderByFromDesiredColumns method instead.  This is the same algorithm that is used by the Find service method.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultOrderBy" name="GetDefaultOrderByRequest" message="tns:GetDefaultOrderByRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultOrderByResponse" name="GetDefaultOrderByResponse" message="tns:GetDefaultOrderByResponse" />
    </wsdl:operation>
    <wsdl:operation name="PopulateRestrictions">
      <wsdl:documentation>
        <summary>Take an incoming set of minimally populated restrictions (name + operator is required), and populate all the other parts of the ArchiveRestrictionInfo structure. This includes column information, display values (including list value lookup), and calculated/default values where the value hints specify read-only (R).</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/PopulateRestrictions" name="PopulateRestrictionsRequest" message="tns:PopulateRestrictionsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/PopulateRestrictionsResponse" name="PopulateRestrictionsResponse" message="tns:PopulateRestrictionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultDesiredColumnsFromRestrictions">
      <wsdl:documentation>
        <summary>Calculate the default desired columns, i.e., the result columns for a given search. The search is defined by a provider name and a set of restrictions. This is the algorithm that is used by the Find service method.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultDesiredColumnsFromRestrictions" name="GetDefaultDesiredColumnsFromRestrictionsRequest" message="tns:GetDefaultDesiredColumnsFromRestrictionsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultDesiredColumnsFromRestrictionsResponse" name="GetDefaultDesiredColumnsFromRestrictionsResponse" message="tns:GetDefaultDesiredColumnsFromRestrictionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultOrderByFromDesiredColumns">
      <wsdl:documentation>
        <summary>Calculate the default orderby columns for a given provider and a set of desired columns. This is the same algorithm that is used by the Find service method.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultOrderByFromDesiredColumns" name="GetDefaultOrderByFromDesiredColumnsRequest" message="tns:GetDefaultOrderByFromDesiredColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/GetDefaultOrderByFromDesiredColumnsResponse" name="GetDefaultOrderByFromDesiredColumnsResponse" message="tns:GetDefaultOrderByFromDesiredColumnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindOrderBy">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. The criteria for the Find are fetched from the restriction storage provider according to the given parameters. The columns of the result are calculated based on the restriction. The orderby parameter is used for sorting the results.&lt;para/&gt;The other variants of the Find method allow you greater control over the individual aspects of the process.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindOrderBy" name="FindOrderByRequest" message="tns:FindOrderByRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindOrderByResponse" name="FindOrderByResponse" message="tns:FindOrderByResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindWithExtraRestrictions">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. The criteria for the Find are fetched from the restriction storage provider according to the given parameters. In addition an extra set of restrictions can be added to the search. These restrictions will not be saved, they are only valid for the current search. Extra restrictions will override restrictions with the same key already stored on the storagekey.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindWithExtraRestrictions" name="FindWithExtraRestrictionsRequest" message="tns:FindWithExtraRestrictionsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindWithExtraRestrictionsResponse" name="FindWithExtraRestrictionsResponse" message="tns:FindWithExtraRestrictionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindWithColumns">
      <wsdl:documentation>
        <summary>Execute a Find operation and return a page of results. The criteria for the Find are fetched from the restriction storage provider according to the given parameters.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindWithColumns" name="FindWithColumnsRequest" message="tns:FindWithColumnsRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Find/FindWithColumnsResponse" name="FindWithColumnsResponse" message="tns:FindWithColumnsResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>