AOS.DataAccesslayer/Service References/Person75/Person1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.superoffice.net/ws/crm/NetServer/Services75/Imports">
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Person.svc?xsd=xsd0" namespace="http://www.superoffice.net/ws/crm/NetServer/Services75" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Person.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.151/SuperOffice/Remote/Services75/Person.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDefaultPersonEntityRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultPersonEntity" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPersonEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPersonEntityResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultPersonEntityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultPersonEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePersonEntityRequest">
    <wsdl:part name="parameters" element="tns:SavePersonEntity" />
  </wsdl:message>
  <wsdl:message name="SavePersonEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SavePersonEntityResponse">
    <wsdl:part name="parameters" element="tns:SavePersonEntityResponse" />
  </wsdl:message>
  <wsdl:message name="SavePersonEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeletePersonEntityRequest">
    <wsdl:part name="parameters" element="tns:DeletePersonEntity" />
  </wsdl:message>
  <wsdl:message name="DeletePersonEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="DeletePersonEntityResponse">
    <wsdl:part name="parameters" element="tns:DeletePersonEntityResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePersonEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonRequest">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="GetPersonRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonResponse">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonEntityRequest">
    <wsdl:part name="parameters" element="tns:GetPersonEntity" />
  </wsdl:message>
  <wsdl:message name="GetPersonEntityRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonEntityResponse">
    <wsdl:part name="parameters" element="tns:GetPersonEntityResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonEntityResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetMyPersonRequest">
    <wsdl:part name="parameters" element="tns:GetMyPerson" />
  </wsdl:message>
  <wsdl:message name="GetMyPersonRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetMyPersonResponse">
    <wsdl:part name="parameters" element="tns:GetMyPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyPersonResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSalesRepRequest">
    <wsdl:part name="parameters" element="tns:GetSalesRep" />
  </wsdl:message>
  <wsdl:message name="GetSalesRepRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetSalesRepResponse">
    <wsdl:part name="parameters" element="tns:GetSalesRepResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesRepResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPhonesRequest">
    <wsdl:part name="parameters" element="tns:GetPhones" />
  </wsdl:message>
  <wsdl:message name="GetPhonesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPhonesResponse">
    <wsdl:part name="parameters" element="tns:GetPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhonesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeCountryRequest">
    <wsdl:part name="parameters" element="tns:ChangeCountry" />
  </wsdl:message>
  <wsdl:message name="ChangeCountryRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangeCountryResponse">
    <wsdl:part name="parameters" element="tns:ChangeCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeCountryResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAddressRequest">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="GetAddressRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAddressResponse">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAddressByCountryRequest">
    <wsdl:part name="parameters" element="tns:GetAddressByCountry" />
  </wsdl:message>
  <wsdl:message name="GetAddressByCountryRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetAddressByCountryResponse">
    <wsdl:part name="parameters" element="tns:GetAddressByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressByCountryResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageRequest">
    <wsdl:part name="parameters" element="tns:GetPersonImage" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageResponse">
    <wsdl:part name="parameters" element="tns:GetPersonImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageRequest">
    <wsdl:part name="parameters" element="tns:SetPersonImage" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageResponse">
    <wsdl:part name="parameters" element="tns:SetPersonImageResponse" />
  </wsdl:message>
  <wsdl:message name="SetPersonImageResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultByContactIdRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultByContactId" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultByContactIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultByContactIdResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultByContactIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultByContactIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="MoveRequest">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="MoveRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="MoveResponse">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="MoveResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="MergeRequest">
    <wsdl:part name="parameters" element="tns:Merge" />
  </wsdl:message>
  <wsdl:message name="MergeRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="MergeResponse">
    <wsdl:part name="parameters" element="tns:MergeResponse" />
  </wsdl:message>
  <wsdl:message name="MergeResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultFromCredentialRequest">
    <wsdl:part name="parameters" element="tns:CreateDefaultFromCredential" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultFromCredentialRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultFromCredentialResponse">
    <wsdl:part name="parameters" element="tns:CreateDefaultFromCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDefaultFromCredentialResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidRequest">
    <wsdl:part name="parameters" element="tns:IsNumberValid" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidResponse">
    <wsdl:part name="parameters" element="tns:IsNumberValidResponse" />
  </wsdl:message>
  <wsdl:message name="IsNumberValidResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ResolvePersonFromInfoRequest">
    <wsdl:part name="parameters" element="tns:ResolvePersonFromInfo" />
  </wsdl:message>
  <wsdl:message name="ResolvePersonFromInfoRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ResolvePersonFromInfoResponse">
    <wsdl:part name="parameters" element="tns:ResolvePersonFromInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ResolvePersonFromInfoResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonListRequest">
    <wsdl:part name="parameters" element="tns:GetPersonList" />
  </wsdl:message>
  <wsdl:message name="GetPersonListRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonListResponse">
    <wsdl:part name="parameters" element="tns:GetPersonListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonListResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromContactRequest">
    <wsdl:part name="parameters" element="tns:GetPersonsFromContact" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromContactRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromContactResponse">
    <wsdl:part name="parameters" element="tns:GetPersonsFromContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromContactResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromProjectRequest">
    <wsdl:part name="parameters" element="tns:GetPersonsFromProject" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromProjectRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromProjectResponse">
    <wsdl:part name="parameters" element="tns:GetPersonsFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonsFromProjectResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesRequest">
    <wsdl:part name="parameters" element="tns:GetColleagues" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesResponse">
    <wsdl:part name="parameters" element="tns:GetColleaguesResponse" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesByDepartmentRequest">
    <wsdl:part name="parameters" element="tns:GetColleaguesByDepartment" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesByDepartmentRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesByDepartmentResponse">
    <wsdl:part name="parameters" element="tns:GetColleaguesByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesByDepartmentResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesBySourceRequest">
    <wsdl:part name="parameters" element="tns:GetColleaguesBySource" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesBySourceRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesBySourceResponse">
    <wsdl:part name="parameters" element="tns:GetColleaguesBySourceResponse" />
  </wsdl:message>
  <wsdl:message name="GetColleaguesBySourceResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetMyOwnerRequest">
    <wsdl:part name="parameters" element="tns:GetMyOwner" />
  </wsdl:message>
  <wsdl:message name="GetMyOwnerRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetMyOwnerResponse">
    <wsdl:part name="parameters" element="tns:GetMyOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyOwnerResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetOwnerOnPersonIdRequest">
    <wsdl:part name="parameters" element="tns:GetOwnerOnPersonId" />
  </wsdl:message>
  <wsdl:message name="GetOwnerOnPersonIdRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="GetOwnerOnPersonIdResponse">
    <wsdl:part name="parameters" element="tns:GetOwnerOnPersonIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetOwnerOnPersonIdResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangePersonRankRequest">
    <wsdl:part name="parameters" element="tns:ChangePersonRank" />
  </wsdl:message>
  <wsdl:message name="ChangePersonRankRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="ChangePersonRankResponse">
    <wsdl:part name="parameters" element="tns:ChangePersonRankResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePersonRankResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPersonRankRequest">
    <wsdl:part name="parameters" element="tns:SetPersonRank" />
  </wsdl:message>
  <wsdl:message name="SetPersonRankRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="SetPersonRankResponse">
    <wsdl:part name="parameters" element="tns:SetPersonRankResponse" />
  </wsdl:message>
  <wsdl:message name="SetPersonRankResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="NormalizeRanksRequest">
    <wsdl:part name="parameters" element="tns:NormalizeRanks" />
  </wsdl:message>
  <wsdl:message name="NormalizeRanksRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:message name="NormalizeRanksResponse">
    <wsdl:part name="parameters" element="tns:NormalizeRanksResponse" />
  </wsdl:message>
  <wsdl:message name="NormalizeRanksResponse_Headers">
    <wsdl:part name="ExceptionInfo" element="tns:ExceptionInfo" />
    <wsdl:part name="ExtraInfo" element="tns:ExtraInfo" />
    <wsdl:part name="Succeeded" element="tns:Succeeded" />
    <wsdl:part name="TimeZone" element="tns:TimeZone" />
  </wsdl:message>
  <wsdl:portType name="Person">
    <wsdl:documentation>
      <summary>Declaration of Wcf web services for Person</summary>
    </wsdl:documentation>
    <wsdl:operation name="CreateDefaultPersonEntity">
      <wsdl:documentation>
        <summary>Loading default values into a new PersonEntity.  NetServer calculates default values (e.g. Country) on the entity, which is required when creating/storing a new instance.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/CreateDefaultPersonEntity" name="CreateDefaultPersonEntityRequest" message="tns:CreateDefaultPersonEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/CreateDefaultPersonEntityResponse" name="CreateDefaultPersonEntityResponse" message="tns:CreateDefaultPersonEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="SavePersonEntity">
      <wsdl:documentation>
        <summary>Updates the existing PersonEntity or creates a new PersonEntity if the id parameter is empty.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/SavePersonEntity" name="SavePersonEntityRequest" message="tns:SavePersonEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/SavePersonEntityResponse" name="SavePersonEntityResponse" message="tns:SavePersonEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonEntity">
      <wsdl:documentation>
        <summary>Deletes the PersonEntity</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/DeletePersonEntity" name="DeletePersonEntityRequest" message="tns:DeletePersonEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/DeletePersonEntityResponse" name="DeletePersonEntityResponse" message="tns:DeletePersonEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:documentation>
        <summary>Gets a Person object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPerson" name="GetPersonRequest" message="tns:GetPersonRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonResponse" name="GetPersonResponse" message="tns:GetPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonEntity">
      <wsdl:documentation>
        <summary>Gets a PersonEntity object..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonEntity" name="GetPersonEntityRequest" message="tns:GetPersonEntityRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonEntityResponse" name="GetPersonEntityResponse" message="tns:GetPersonEntityResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetMyPerson">
      <wsdl:documentation>
        <summary>Gets the person info belonging to the currently logged on user.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetMyPerson" name="GetMyPersonRequest" message="tns:GetMyPersonRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetMyPersonResponse" name="GetMyPersonResponse" message="tns:GetMyPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesRep">
      <wsdl:documentation>
        <summary>Returns the sales representative for an external user. If this method is accessed with anonymous authentication the external user is recognized by contact and name, or by email, or phone number. If the external user is recognized as an CRM5 user (internal or external) the input fields can be left blank.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetSalesRep" name="GetSalesRepRequest" message="tns:GetSalesRepRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetSalesRepResponse" name="GetSalesRepResponse" message="tns:GetSalesRepResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPhones">
      <wsdl:documentation>
        <summary>Returning all phones that belong to a person, ordered by the phone type.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPhones" name="GetPhonesRequest" message="tns:GetPhonesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPhonesResponse" name="GetPhonesResponse" message="tns:GetPhonesResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCountry">
      <wsdl:documentation>
        <summary>Change country regenerates the default values and localized information such as phone number and address format for this entity.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/ChangeCountry" name="ChangeCountryRequest" message="tns:ChangeCountryRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/ChangeCountryResponse" name="ChangeCountryResponse" message="tns:ChangeCountryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <wsdl:documentation>
        <summary>Gets the person's localized address.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetAddress" name="GetAddressRequest" message="tns:GetAddressRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetAddressResponse" name="GetAddressResponse" message="tns:GetAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressByCountry">
      <wsdl:documentation>
        <summary>Gets the person's localized address.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetAddressByCountry" name="GetAddressByCountryRequest" message="tns:GetAddressByCountryRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetAddressByCountryResponse" name="GetAddressByCountryResponse" message="tns:GetAddressByCountryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonImage">
      <wsdl:documentation>
        <summary>Returns the person image that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonImage" name="GetPersonImageRequest" message="tns:GetPersonImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonImageResponse" name="GetPersonImageResponse" message="tns:GetPersonImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonImage">
      <wsdl:documentation>
        <summary>Stores the person image that is displayed in the CRM application.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/SetPersonImage" name="SetPersonImageRequest" message="tns:SetPersonImageRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/SetPersonImageResponse" name="SetPersonImageResponse" message="tns:SetPersonImageResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultByContactId">
      <wsdl:documentation>
        <summary>Creates a PersonEntity with default values based on the contactId.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/CreateDefaultByContactId" name="CreateDefaultByContactIdRequest" message="tns:CreateDefaultByContactIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/CreateDefaultByContactIdResponse" name="CreateDefaultByContactIdResponse" message="tns:CreateDefaultByContactIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:documentation>
        <summary>Move a person to a specified contact</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/Move" name="MoveRequest" message="tns:MoveRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/MoveResponse" name="MoveResponse" message="tns:MoveResponse" />
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <wsdl:documentation>
        <summary>Merge two persons. The destination person will remain</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/Merge" name="MergeRequest" message="tns:MergeRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/MergeResponse" name="MergeResponse" message="tns:MergeResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateDefaultFromCredential">
      <wsdl:documentation>
        <summary>Creates a PersonEntity with default values based on the contactId and credentials.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/CreateDefaultFromCredential" name="CreateDefaultFromCredentialRequest" message="tns:CreateDefaultFromCredentialRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/CreateDefaultFromCredentialResponse" name="CreateDefaultFromCredentialResponse" message="tns:CreateDefaultFromCredentialResponse" />
    </wsdl:operation>
    <wsdl:operation name="IsNumberValid">
      <wsdl:documentation>
        <summary>Checks if the number is unique or required.  The setting is configured from admin under system options.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/IsNumberValid" name="IsNumberValidRequest" message="tns:IsNumberValidRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/IsNumberValidResponse" name="IsNumberValidResponse" message="tns:IsNumberValidResponse" />
    </wsdl:operation>
    <wsdl:operation name="ResolvePersonFromInfo">
      <wsdl:documentation>
        <summary>Get a person from the provided information. If the person does not exist, it will be created on demand.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/ResolvePersonFromInfo" name="ResolvePersonFromInfoRequest" message="tns:ResolvePersonFromInfoRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/ResolvePersonFromInfoResponse" name="ResolvePersonFromInfoResponse" message="tns:ResolvePersonFromInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonList">
      <wsdl:documentation>
        <summary>Gets an array of Person objects..</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonList" name="GetPersonListRequest" message="tns:GetPersonListRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonListResponse" name="GetPersonListResponse" message="tns:GetPersonListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsFromContact">
      <wsdl:documentation>
        <summary>Returns all the persons belonging to a contact.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonsFromContact" name="GetPersonsFromContactRequest" message="tns:GetPersonsFromContactRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonsFromContactResponse" name="GetPersonsFromContactResponse" message="tns:GetPersonsFromContactResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsFromProject">
      <wsdl:documentation>
        <summary>Returns all the persons belonging to a project.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonsFromProject" name="GetPersonsFromProjectRequest" message="tns:GetPersonsFromProjectRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetPersonsFromProjectResponse" name="GetPersonsFromProjectResponse" message="tns:GetPersonsFromProjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetColleagues">
      <wsdl:documentation>
        <summary>Gets the persons working in the same company as the logged on user.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetColleagues" name="GetColleaguesRequest" message="tns:GetColleaguesRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetColleaguesResponse" name="GetColleaguesResponse" message="tns:GetColleaguesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetColleaguesByDepartment">
      <wsdl:documentation>
        <summary>Gets the persons working in a specific department in the same company as the logged on user. Departments can be retrieved with the PhoneList.DepartmentList service.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetColleaguesByDepartment" name="GetColleaguesByDepartmentRequest" message="tns:GetColleaguesByDepartmentRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetColleaguesByDepartmentResponse" name="GetColleaguesByDepartmentResponse" message="tns:GetColleaguesByDepartmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetColleaguesBySource">
      <wsdl:documentation>
        <summary>Gets the persons working in the same company as the logged on user. The list of person could be retrieved from the history list, the diary view list, or from all sources.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetColleaguesBySource" name="GetColleaguesBySourceRequest" message="tns:GetColleaguesBySourceRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetColleaguesBySourceResponse" name="GetColleaguesBySourceResponse" message="tns:GetColleaguesBySourceResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetMyOwner">
      <wsdl:documentation>
        <summary>Get the owner of the logged in person.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetMyOwner" name="GetMyOwnerRequest" message="tns:GetMyOwnerRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetMyOwnerResponse" name="GetMyOwnerResponse" message="tns:GetMyOwnerResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnerOnPersonId">
      <wsdl:documentation>
        <summary>Get the owner of the person by id.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetOwnerOnPersonId" name="GetOwnerOnPersonIdRequest" message="tns:GetOwnerOnPersonIdRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/GetOwnerOnPersonIdResponse" name="GetOwnerOnPersonIdResponse" message="tns:GetOwnerOnPersonIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangePersonRank">
      <wsdl:documentation>
        <summary>Move one person up or down in the ranking in the Person Archive, if possible.&lt;para/&gt;The person record that has rank = 1 is the primary contact for a company, and is the one used in situations where no person has been explicitly chosen (such as in selections).&lt;para/&gt;This method corresponds to the move up/move down functions in the person archive in the contact panel.&lt;para/&gt;This method always affects two records.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/ChangePersonRank" name="ChangePersonRankRequest" message="tns:ChangePersonRankRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/ChangePersonRankResponse" name="ChangePersonRankResponse" message="tns:ChangePersonRankResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonRank">
      <wsdl:documentation>
        <summary>Directly set the rank field of a person record, adjusting all other person records under the same contact as needed.&lt;para/&gt;This call may affect multiple records, potentially all person records belonging to one contact.&lt;para/&gt;You must have write access for to affected records for this method to succeed.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/SetPersonRank" name="SetPersonRankRequest" message="tns:SetPersonRankRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/SetPersonRankResponse" name="SetPersonRankResponse" message="tns:SetPersonRankResponse" />
    </wsdl:operation>
    <wsdl:operation name="NormalizeRanks">
      <wsdl:documentation>
        <summary>Nomralize the ranks for all persons that belong to a contact. This means that the persons will be sorted according to their current rank values, and the ranks will be made monotonically increasing from 1.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/NormalizeRanks" name="NormalizeRanksRequest" message="tns:NormalizeRanksRequest" />
      <wsdl:output wsaw:Action="http://www.superoffice.net/ws/crm/NetServer/Services75/Person/NormalizeRanksResponse" name="NormalizeRanksResponse" message="tns:NormalizeRanksResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>